<!--============================== Hero Area ==============================-->
<section class="th-hero-wrapper th-hero gr-bg4 th-way-points" id="hero-contactsales" data-bg-src="/img/about/about-hero.png"
  style="padding-top: 0px !important;" data-v-component-herocontactsales data-v-herocontactsales-image>
  <div class="container th-container th-hero-section">
    <div class="row">
      <div class="col-xl-12">

        <div class="th-breadcrumb d-flex justify-content-between align-items-center">
          <div aria-label="breadcrumb">
            <ol class="breadcrumb font-white">

              <li class="breadcrumb-item  font-white">
                <a href="/" class="font-white">
                  Home
                </a>
              </li>
              <li class="breadcrumb-item  active font-white">
                <span class="active font-white" aria-current="page">
                  Contact Sales
                </span>
              </li>

            </ol>
          </div>
          <div class="th-admin-links d-flex" style="gap: 10px;">
            <div class="text-white" data-v-contactsales-component-link style="z-index: 10; cursor: pointer;">
              <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
              <a href="" target="_blank" class="text-white">Component Edit</a>
            </div>
          </div>
        </div>

        <div class="th-hero-container gr-bg4">
          <div class="th-hero-style th-mt-115">
            <h1 class="th-hero-title Contact Sales_class th-hero-title-mb" data-v-herocontactsales-title>
              Contact Sales
            </h1>
            <div class="th-hero-wrapp th-pt-16" data-v-herocontactsales-hero_button_group>
              <div class="position-relative th-pb-16">
                <a href="#book-now" id="book-a-visit" class="th-btn" data-v-herocontactsales-button_link>
                  <span class="th-mr-5" data-v-herocontactsales-button_label>
                    Book a Visit
                  </span>
                </a>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="th-hero-img">

        </div>
      </div>
    </div>
  </div>
</section>