<section id="th-contact-members" class="position-relative th-section-py" data-v-component-salesteamsydneys>
  <div class="d-flex justify-content-end th-pr-40 align-items-center position-absolute" style="right: 40px"
    data-v-salesteamsydneys-component-link>
    <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
    <a href="" target="_blank" class="">Edit</a>
  </div>
  <div class="container th-container">
    <div class="row">
      <div class="th-section-header th-section-header-pb-50" style="display: block">
        <div class="th-section-header-wrapper text-center">
          <h2 class="th-section-title text-capitalize th-section-title-mb"> Connect With Our Team </h2>
          <div class="th-section-subtitle th-section-subtitle-mb">
            Connect directly with an expert to discuss your workspace requirements and commercial fit-out.
          </div>
        </div>
      </div>

      <div class="section-body th-members">

        <!-- start sydney -->
        <div class="th-pb-80" id="sales-team-sydney" data-v-component-salesteamsydneys>
          <h3 class="title th-mb-30" data-v-salesteamsydneys-section_title>Sydney</h3>
          <div class="swiper th-instagram-products-slider th-members-slider th-sales-team-slider-width">
            <div class="swiper-wrapper sydney-list" data-v-salesteamsydneys-items>
              <div class="swiper-slide sydney-item" data-v-salesteamsydneys-item>
                <!-- contact member 1 -->
                <div class="th-member" data-bg-src="/img/contact/member-0.jpg" data-v-salesteamsydneyitem-member_image>
                  <div class="th-member-icons">
                    <span data-v-salesteamsydneyitem-member_email class="th-email-icon" data-member-name="Devon Lane"
                      data-member-email="devon@krost.com.au" data-member-phone="0412345678">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteamsydneyitem-member_phone class="th-phone-icon th-tooltip"
                      data-member-name="Devon Lane" data-member-email="devon@krost.com.au"
                      data-member-phone="0412345678" data-toggle="tooltip" data-placement="top" title="" role="button"
                      tabindex="0">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteamsydneyitem-member_name>Devon Lane</p>
                      <p class="th-member-position" data-v-salesteamsydneyitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 1 end -->
              </div>
              <div class="swiper-slide sydney-item" data-v-salesteamsydneys-item>
                <!-- contact member 2 -->
                <div class="th-member" data-bg-src="/img/contact/member-1.jpg" data-v-salesteamsydneyitem-member_image>
                  <div class="th-member-icons">
                    <!-- <span data-v-salesteamsydneyitem-member_calendar class="th-calendar-icon">
                      <i class="fa-solid fa-calendar"></i>
                    </span> -->
                    <span data-v-salesteamsydneyitem-member_email class="th-email-icon">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteamsydneyitem-member_phone class="th-phone-icon">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteamsydneyitem-member_name>Jane Doe</p>
                      <p class="th-member-position" data-v-salesteamsydneyitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 2 end -->
              </div>
              <div class="swiper-slide sydney-item" data-v-salesteamsydneys-item>
                <!-- contact member 3 -->
                <div class="th-member" data-bg-src="/img/contact/member-2.jpg" data-v-salesteamsydneyitem-member_image>
                  <div class="th-member-icons">
                    <!-- <span data-v-salesteamsydneyitem-member_calendar class="th-calendar-icon">
                      <i class="fa-solid fa-calendar"></i>
                    </span> -->
                    <span data-v-salesteamsydneyitem-member_email class="th-email-icon">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteamsydneyitem-member_phone class="th-phone-icon">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteamsydneyitem-member_name>Jane Doe</p>
                      <p class="th-member-position" data-v-salesteamsydneyitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 3 end -->
              </div>
              <div class="swiper-slide sydney-item" data-v-salesteamsydneys-item>
                <!-- contact member 4 -->
                <div class="th-member" data-bg-src="/img/contact/member-3.jpeg" data-v-salesteamsydneyitem-member_image>
                  <div class="th-member-icons">
                    <!-- <span data-v-salesteamsydneyitem-member_calendar class="th-calendar-icon">
                      <i class="fa-solid fa-calendar"></i>
                    </span> -->
                    <span data-v-salesteamsydneyitem-member_email class="th-email-icon">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteamsydneyitem-member_phone class="th-phone-icon">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteamsydneyitem-member_name>Jane Doe</p>
                      <p class="th-member-position" data-v-salesteamsydneyitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 4 end -->
              </div>
            </div>
            <div class="swiper-button-next th-members-slider-next"></div>
            <div class="swiper-button-prev th-members-slider-prev"></div>
          </div>
        </div>
        <!-- end sydney -->

        <!-- start melbourne -->
        <div class="th-pb-80" id="sales-team-melbourne" data-v-component-salesteammelbourne>
          <h3 class="title th-mb-30" data-v-salesteammelbourne-section_title>Melbourne</h3>
          <div class="swiper th-instagram-products-slider th-members-slider th-sales-team-slider-width">
            <div class="swiper-wrapper melbourne-list" data-v-salesteammelbourne-items>
              <div class="swiper-slide melbourne-item" data-v-salesteammelbourne-item>
                <!-- contact member 1 -->
                <div class="th-member" data-bg-src="/img/contact/member-0.jpg"
                  data-v-salesteammelbourneitem-member_image>
                  <div class="th-member-icons">
                    <!-- <span data-v-salesteammelbourneitem-member_calendar class="th-calendar-icon"
                      data-member-name="Devon Lane" data-member-email="devon@krost.com.au"
                      data-member-phone="0412345678">
                      <i class="fa-solid fa-calendar"></i>
                    </span> -->
                    <span data-v-salesteammelbourneitem-member_email class="th-email-icon" data-member-name="Devon Lane"
                      data-member-email="devon@krost.com.au" data-member-phone="0412345678">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteammelbourneitem-member_phone class="th-phone-icon th-tooltip"
                      data-member-name="Devon Lane" data-member-email="devon@krost.com.au"
                      data-member-phone="0412345678" data-toggle="tooltip" data-placement="top" title="" role="button"
                      tabindex="0">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteammelbourneitem-member_name>Devon Lane</p>
                      <p class="th-member-position" data-v-salesteammelbourneitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 1 end -->
              </div>
              <div class="swiper-slide melbourne-item" data-v-salesteammelbourne-item>
                <!-- contact member 2 -->
                <div class="th-member" data-bg-src="/img/contact/member-1.jpg"
                  data-v-salesteammelbourneitem-member_image>
                  <div class="th-member-icons">
                    <span data-v-salesteammelbourneitem-member_calendar class="th-calendar-icon">
                      <i class="fa-solid fa-calendar"></i>
                    </span>
                    <span data-v-salesteammelbourneitem-member_email class="th-email-icon">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteammelbourneitem-member_phone class="th-phone-icon">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteammelbourneitem-member_name>Jane Doe</p>
                      <p class="th-member-position" data-v-salesteammelbourneitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 2 end -->
              </div>
              <div class="swiper-slide melbourne-item" data-v-salesteammelbourne-item>
                <!-- contact member 3 -->
                <div class="th-member" data-bg-src="/img/contact/member-2.jpg"
                  data-v-salesteammelbourneitem-member_image>
                  <div class="th-member-icons">
                    <span data-v-salesteammelbourneitem-member_calendar class="th-calendar-icon">
                      <i class="fa-solid fa-calendar"></i>
                    </span>
                    <span data-v-salesteammelbourneitem-member_email class="th-email-icon">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteammelbourneitem-member_phone class="th-phone-icon">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteammelbourneitem-member_name>Jane Doe</p>
                      <p class="th-member-position" data-v-salesteammelbourneitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 3 end -->
              </div>
              <div class="swiper-slide melbourne-item" data-v-salesteammelbourne-item>
                <!-- contact member 4 -->
                <div class="th-member" data-bg-src="/img/contact/member-3.jpeg"
                  data-v-salesteammelbourneitem-member_image>
                  <div class="th-member-icons">
                    <span data-v-salesteammelbourneitem-member_calendar class="th-calendar-icon">
                      <i class="fa-solid fa-calendar"></i>
                    </span>
                    <span data-v-salesteammelbourneitem-member_email class="th-email-icon">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteammelbourneitem-member_phone class="th-phone-icon">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteammelbourneitem-member_name>Jane Doe</p>
                      <p class="th-member-position" data-v-salesteammelbourneitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 4 end -->
              </div>
            </div>
            <div class="swiper-button-next th-members-slider-next"></div>
            <div class="swiper-button-prev th-members-slider-prev"></div>
          </div>
        </div>
        <!-- end melbourne -->

        <!-- start brisbane -->
        <div class="th-pb-30" id="sales-team-brisbane" data-v-component-salesteambrisbane>
          <h3 class="title th-mb-30" data-v-salesteambrisbane-section_title>Brisbane</h3>
          <div class="swiper th-instagram-products-slider th-members-slider th-sales-team-slider-width">
            <div class="swiper-wrapper brisbane-list" data-v-salesteambrisbane-items>
              <div class="swiper-slide brisbane-item" data-v-salesteambrisbane-item>
                <!-- contact member 1 -->
                <div class="th-member" data-bg-src="/img/contact/member-0.jpg"
                  data-v-salesteambrisbaneitem-member_image>
                  <div class="th-member-icons">
                    <span data-v-salesteambrisbaneitem-member_email class="th-email-icon" data-member-name="Devon Lane"
                      data-member-email="devon@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteambrisbaneitem-member_phone class="th-phone-icon th-tooltip"
                      data-member-name="Devon Lane" data-member-email="devon@krost.com.au"
                      data-member-phone="0412345678" data-toggle="tooltip" data-placement="top" title="" role="button"
                      tabindex="0">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteambrisbaneitem-member_name>Devon Lane</p>
                      <p class="th-member-position" data-v-salesteambrisbaneitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 1 end -->
              </div>
              <div class="swiper-slide brisbane-item" data-v-salesteambrisbane-item>
                <!-- contact member 2 -->
                <div class="th-member" data-bg-src="/img/contact/member-1.jpg"
                  data-v-salesteambrisbaneitem-member_image>
                  <div class="th-member-icons">
                    <span data-v-salesteambrisbaneitem-member_calendar class="th-calendar-icon"
                      data-member-name="Jane Doe" data-member-email="jane@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-calendar"></i>
                    </span>
                    <span data-v-salesteambrisbaneitem-member_email class="th-email-icon" data-member-name="Jane Doe"
                      data-member-email="jane@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteambrisbaneitem-member_phone class="th-phone-icon" data-member-name="Jane Doe"
                      data-member-email="jane@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteambrisbaneitem-member_name>Jane Doe</p>
                      <p class="th-member-position" data-v-salesteambrisbaneitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 2 end -->
              </div>
              <div class="swiper-slide brisbane-item" data-v-salesteambrisbane-item>
                <!-- contact member 3 -->
                <div class="th-member" data-bg-src="/img/contact/member-2.jpg"
                  data-v-salesteambrisbaneitem-member_image>
                  <div class="th-member-icons">
                    <span data-v-salesteambrisbaneitem-member_calendar class="th-calendar-icon"
                      data-member-name="Jane Doe" data-member-email="jane@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-calendar"></i>
                    </span>
                    <span data-v-salesteambrisbaneitem-member_email class="th-email-icon" data-member-name="Jane Doe"
                      data-member-email="jane@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteambrisbaneitem-member_phone class="th-phone-icon" data-member-name="Jane Doe"
                      data-member-email="jane@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteambrisbaneitem-member_name>Jane Doe</p>
                      <p class="th-member-position" data-v-salesteambrisbaneitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 3 end -->
              </div>
              <div class="swiper-slide brisbane-item" data-v-salesteambrisbane-item>
                <!-- contact member 4 -->
                <div class="th-member" data-bg-src="/img/contact/member-3.jpeg"
                  data-v-salesteambrisbaneitem-member_image>
                  <div class="th-member-icons">
                    <span data-v-salesteambrisbaneitem-member_calendar class="th-calendar-icon"
                      data-member-name="Devon Lane" data-member-email="devon@krost.com.au"
                      data-member-phone="0412345678" data-location="Brisbane Showroom">
                      <i class="fa-solid fa-calendar"></i>
                    </span>
                    <span data-v-salesteambrisbaneitem-member_email class="th-email-icon" data-member-name="Devon Lane"
                      data-member-email="devon@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-envelope"></i>
                    </span>
                    <span data-v-salesteambrisbaneitem-member_phone class="th-phone-icon" data-member-name="Devon Lane"
                      data-member-email="devon@krost.com.au" data-member-phone="0412345678"
                      data-location="Brisbane Showroom">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                  </div>
                  <div class="th-member-info-container gr-bg6">
                    <div class="th-member-info">
                      <p class="th-member-name" data-v-salesteambrisbaneitem-member_name>Devon Lane</p>
                      <p class="th-member-position" data-v-salesteambrisbaneitem-member_position>Director</p>
                    </div>
                  </div>
                </div>
                <!-- contact member 4 end -->
              </div>
            </div>
            <div class="swiper-button-next th-members-slider-next"></div>
            <div class="swiper-button-prev th-members-slider-prev"></div>
          </div>
        </div>
        <!-- end brisbane -->

        <p class="text-italic">
          Need immediate assistance? Call our team on
          <strong>
            <a href="tel:1800157678">1800 1KROST</a>
          </strong>
          or email
          <strong>
            <a href="mailto:sales@krost.com.au">sales@krost.com.au</a>
          </strong>
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  .swiper {
    padding-bottom: 0 !important;
  }

  .th-calendar-icon,
  .th-email-icon,
  .th-phone-icon {
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.1);
      /* border: 1px solid black; */
    }
  }
</style>