<section id="categories-masonry-section" data-v-component-categoriesmasonry class="container th-container bg-white">
  <div class="d-flex justify-content-end pr-40 align-items-center position-absolute" data-v-categoriesmasonry-component-link style="right: 40px">
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit </a>
  </div>
      <div class="row categories">
        <div class="col-12">
          <div class="th-section-header" style="display: block">
            <div class="th-section-header-wrapper text-start">
              <h2 class="  th-section-title " data-v-categoriesmasonry-title> Product Categories </h2>
              <!-- <div class="th-section-subtitle" data-v-categoriesmasonry-subtitle>
                Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
              </div> -->
            </div>

          </div>


          <div class="section-body th-masonry-col-2">
            <div class="th-masonry-grid categories-masonry-grid">
              <div data-v-categoriesmasonryitem-class class="th-masonry-grid-item grid-col-span-8 " style="transform: translateY(0px); padding-top: 0px">
                <div class="th-item-img">
                  <img data-v-categoriesmasonryitem-image src="/img/categories/workstations.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h3 class="withOutArrow th-title-24" data-v-categoriesmasonryitem-heading>
                      <a href="/workstations">Workstations</a>
                    </h3>
                    <p class="th-item-description font-size-16" data-v-categoriesmasonryitem-description>A full collection of workstations from leg-based systems to panel constructions and height-adjustable offerings. Find the perfect configuration and aesthetic for your space.</p>
                    <div class="th-category-items" data-v-subcategory-items>

                      <h4 class="font-size-16" data-v-subcategory-item>
                        <a href="/workstations" data-v-subcategory-link>Workstations</a>
                      </h4>
                      <h4 class="font-size-16" data-v-subcategory-item>
                        <a href="/workstations" data-v-subcategory-link>Workstation screens</a>
                      </h4>
                      <h4 class="font-size-16" data-v-subcategory-item>
                        <a href="/workstations" data-v-subcategory-link>test-workstations</a>
                      </h4>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link th-link-text pr-5">
                      <a class="th-link font-size-16" href="/workstations" data-v-categoriesmasonryitem-link>
                        Read More
                        <div class="th-link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60" data-v-categoriesmasonryitem-linkicon></i>
                        </div>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(0px); padding-top: 60px">
                <div class="th-item-img">
                  <img src="/img/categories/screens.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Screens</h6>
                    <p class="th-item-description">A wide variety of desk-mounted or floor-based screens for all your privacy and zoning needs. Choose from an extensive selection of fabrics and finishes.</p>
                    <div class="th-category-items">

                      <p class="">Screens</p>
                      <p class="">Acoustic booths</p>
                      <p class="">Perspex screens</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(-187px); padding-top: 0px">
                <div class="th-item-img">
                  <img src="/img/categories/desks.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Desks</h6>
                    <p class="th-item-description">Tailored to cater to the high-performance executive. From single desk modules to integrated storage solutions, select your style.</p>
                    <div class="th-category-items">

                      <p class="">Executive desks</p>
                      <p class="">Desk system</p>
                      <p class="">Modesty panels</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-8 " style="transform: translateY(0px); padding-top: 89px">
                <div class="th-item-img">
                  <img src="/img/categories/tables.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Tables</h6>
                    <p class="th-item-description">Personalised for every occasion, our wide range of tables caters to every space from training, to meeting, boardroom, cafe, and breakout areas, we've got you covered.</p>
                    <div class="th-category-items">

                      <p class="">Meeting Tables</p>
                      <p class="">Boardroom Tables</p>
                      <p class="">Cafeteria Tables</p>
                      <p class="">Training Tables</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-8 transform-10" style="transform: translateY(-115px); padding-top: 0px">
                <div class="th-item-img">
                  <img src="/img/categories/counters.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Counters</h6>
                    <p class="th-item-description">Welcome your guests with the right first impression with our host of reception counter offerings.</p>
                    <div class="th-category-items">

                      <p class="">Reception Counters</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(-66px); padding-top: 0px">
                <div class="th-item-img">
                  <img src="/img/categories/chair.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Seating</h6>
                    <p class="th-item-description">A complete collection of seating options designed to fulfill your needs in every situation.</p>
                    <div class="th-category-items">

                      <p class="">Task seating</p>
                      <p class="">Executive seating</p>
                      <p class="">Training seating</p>
                      <p class="">Occasional seating</p>
                      <p class="">Stools</p>
                      <p class="">Lounges</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(-70px); padding-top: 0px">
                <div class="th-item-img">
                  <img src="/img/categories/storage.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Storage</h6>
                    <p class="th-item-description">Make organizing easy with our full range of storage products from personal storage to full office solutions.</p>
                    <div class="th-category-items">

                      <p class="">In-office storage</p>
                      <p class="">Universal storage</p>
                      <p class="">Steel storage units</p>
                      <p class="">Shelving</p>
                      <p class="">Custom joinery</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-8 " style="transform: translateY(-30px); padding-top: 0px">
                <div class="th-item-img">
                  <img src="/img/categories/training.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Training</h6>
                    <p class="th-item-description">Communication at its best through our selection of noticeboards, whiteboards, glass boards, and pinboards.</p>
                    <div class="th-category-items">

                      <p class="">Communication boards</p>
                      <p class="">Screen partitions</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-8 " style="transform: translateY(0px); padding-top: 0px">
                <div class="th-item-img">
                  <img src="/img/categories/finishes.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Finishes</h6>
                    <p class="th-item-description">Choose from our vast array of finishes and fabrics to personalize your space.</p>
                    <div class="th-category-items">

                      <p class="">Fabrics</p>
                      <p class="">Materials</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
              <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(0px); padding-top: 60px">
                <div class="th-item-img">
                  <img src="/img/categories/accessories.png" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="withOutArrow">Accessories</h6>
                    <p class="th-item-description">Complete your office look with the finer details, our range of accessories are designed to make life easy.</p>
                    <div class="th-category-items">

                      <p class="">Computer accessories</p>
                      <p class="">Power accessories</p>
                      <p class="">General office accessories</p>
                      <p class="">Acoustic solutions</p>

                    </div>
                  </div>
                  <div class="th-link Padding">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>