<section id="category-seating-hero" class="th-way-points pb-0" data-v-component-categoryhero style="padding-top: 0px !important;">
  <div class="th-hero-mobile-categories th-section pb-0">
    <div class="container th-container">
      <div class="row">
        <div class="col-md-12">
          <div class="th-hero-mobile-categories-indside">
            <h6 class="mb-0">
              <a class="text-decoration-none d-flex justify-content-between align-items-center h6" 
              data-bs-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu" data-v-category-hero-title>
                <span data-v-category-hero-categories-title-mobile>SEATING</span>
                <i id="toggleIcon" class="fa-solid fa-chevron-down down"></i>
              </a>
            </h6>

            <div class="collapse show" id="collapseMenu">
              <div class="card-body">
                <ul data-v-category-hero-subcategories-mobile>
                  <li class="">
                    <a class="th-hero-subcategory th-link">Task Seating</a>
                  </li>
                  <li class="@@class">
                    <a class="th-hero-subcategory th-link">Execute Seating</a>
                  </li>
                  <li class="@@class">
                    <a class="th-hero-subcategory th-link">Training Seating</a>
                  </li>
                  <li class="@@class">
                    <a class="th-hero-subcategory th-link">Occasional Seating</a>
                  </li>
                  <li class="@@class">
                    <a class="th-hero-subcategory th-link">Stools</a>
                  </li>
                  <li class="@@class">
                    <a class="th-hero-subcategory th-link">Lounges</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="th-hero-wrapper th-hero gr-bg4" id="hero" data-v-category-hero-image data-bg-src="/img/category-seating/hero.png">
    
    <div class="container th-container th-hero-section th-section">
      <div class="row">
        <div class="col-xl-12">
          <div class="th-breadcrumb d-flex justify-content-between align-items-center">
            <div aria-label="breadcrumb">
              <ol class="breadcrumb font-white" data-v-category-hero-breadcrumbs>
                <li class="breadcrumb-item  font-white" data-v-category-hero-breadcrumb-list>
                  <a href="/" class="font-white" data-v-category-hero-breadcrumb-link>Home</a>
                </li>
                
              </ol>
            </div>
            <div class="th-admin-links d-flex" style="gap: 10px;">
              <div class="text-white" data-v-category-hero-edit-link style="z-index: 10; cursor: pointer;">
                <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
                <a href="" target="_blank" class="text-white">Edit Category</a>
              </div>
              <div class="text-white" data-v-categoryhero-component-link style="z-index: 10; cursor: pointer;">
                <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
                <a href="" target="_blank" class="text-white">Component Edit</a>
              </div>
            </div>
          </div>

          <div class="th-hero-container gr-bg4">

            <div class="way-points-container" data-v-category-hero-waypoints>
              <div id="way-point-1" class="way-point" style="left: 30%; top: 40%;" data-v-category-hero-waypoint>
                <div class="circle-point" style="position: absolute;"></div>
                <div class="circle-point" style="position: absolute;"></div>
          
                <span class="way-point-link">
                  <a href="point-1" target="_blank" data-v-category-hero-waypoint-link>point 1</a>
                </span>
              </div>
            </div>



            <div class="th-hero-style th-hero-style-category th-hero-style-category-mt">
              <h1 class="th-hero-title th-title-mb-15">
                <span data-v-category-hero-title>SEATING</span>
              </h1>
              <span class="th-hero-subtitle th-hero-subtitle-my" data-v-category-hero-subtitle>Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.</span>
              <div class="th-hero-wrapp">

              </div>
            </div>
            <div class="th-hero-categories-list th-hero-categories-list-mt">
              <div class="th-hero-categories-list-inside">
                <a href="/products/seating" data-v-category-hero-categories-link>
                  <h4 data-v-category-hero-categories-title>Seating Categories</h4>
                </a>
                <ul data-v-category-hero-subcategories>
                  <li class="th-category-li-py">
                    <a>Task Seating</a>
                  </li>
                  <li class="@@class th-category-li-py">
                    <a>Execute Seating</a>
                  </li>
                  <li class="@@class th-category-li-py">
                    <a>Training Seating</a>
                  </li>
                  <li class="@@class th-category-li-py">
                    <a>Occasional Seating</a>
                  </li>
                  <li class="@@class th-category-li-py">
                    <a>Stools</a>
                  </li>
                  <li class="@@class th-category-li-py">
                    <a>Lounges</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  document.querySelectorAll('[data-bg-src]').forEach(function(el) {
    var src = el.getAttribute('data-bg-src');
    el.style.backgroundImage = 'url(' + src + ')';
    // el.removeAttribute('data-bg-src');
    el.classList.add('background-image');
  });
</script>