@mixin button-style(
  $bg-color: $white,
  $bg-secondary: $secondary,
  $text-color: $primary,
  $border-radius: 1px,
  $padding: 16px 30px,
  $min-width: 144px,
  $font-size: var(--btn-font-size)
) {
  position: relative;
  // z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $bg-color;
  color: $text-color;
  font-family: var(--body-font);
  font-size: $font-size;
  font-weight: 500;
  line-height: 1;
  padding: $padding;
  min-width: $min-width;
  border-radius: $border-radius;
  transition: background-color 0.4s ease, text-shadow 0.3s ease;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  &:before {
    //transform: scaleY(0);
  }

  &:after {
    //transform: scaleY(0);
  }

  &:hover,
  &.active {
    box-shadow: none;
    background-color: $white;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
    &::before,
    &:after {
      border-radius: 0;
    }
  }

  &.btn-gradient {
    font-size: 16px;
    text-transform: capitalize;
    padding: 18px 20px;
    background: linear-gradient(180deg, $bg-color 0%, $bg-secondary 100%);

    &:hover {
      background: linear-gradient(180deg, $bg-secondary 0%, $bg-color 100%);
      &:before,
      &:after {
        display: none;
      }
    }
  }

  &.th-gradient-btn {
    font-size: 16px;
    text-transform: capitalize;
    padding: 18px 20px;
    background: linear-gradient(180deg, $bg-color 0%, $bg-secondary 100%);
    border-radius: 100px;

    &:hover {
      background: linear-gradient(180deg, $bg-secondary 0%, $bg-color 100%);
      &:before,
      &:after {
        display: none;
      }
    }
  }

  &.style-radius {
    border-radius: 100px;
    padding: 18px 40px;

    @include vxs {
      padding: 18px 25px;
    }
  }

  &.btn-fw {
    width: 100%;

    &:before,
    &:after {
      display: none;
    }

    &:hover {
      background-color: $title;
    }
  }

  &.style-border {
    background-color: transparent;
    color: $bg-color;
    border: 1px solid $bg-color;
    box-shadow: none;

    &:hover {
      color: $white;
      border-color: $bg-color;
      &:before,
      &:after {
        background-color: $bg-color;
      }
    }
  }

  &.style-border2 {
    background-color: transparent;
    color: $text-color;
    border: 1px solid $title;

    &:hover {
      color: $text-color;
      border-color: $title;
      &:before,
      &:after {
        background-color: $title;
      }
    }
  }

  &.th-border {
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(12.5px);
    padding: 16px 39.4px;

    &:hover {
      background: $title;
      border: 1px solid $title;
    }
  }
  &.disabled {
    background-color: var(--gray-300)!important;
    color: var(--gray-600) !important;
    &:hover {
      background-color: var(--gray-400)!important;
      text-shadow: none;
      cursor: not-allowed;
    }
  }
}
.th-btn-disabled {
  @include button-style;
  z-index: 0;
  background-color: var(--gray-300);
  color: var(--gray-600) !important;
  padding: 15px 30px;
  &:hover {
    background-color: var(--gray-300);
    text-shadow: none;
    cursor: not-allowed;
  }
}

.th-btn-play {
  @include button-style(
    transparent,
    transparent,
    $gray,
    50%,
    0,
    80px,
    36px
  );
  border: 6px solid $gray-lighter;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:active{
    background-color: transparent;
    border: 6px solid $white;
    color: $white;
  }
  i {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
// Primary Button
.th-btn {
  @include button-style;
}
.th-btn-outline {
  @include button-style;
  background-color: transparent;
  color: $white !important;
  border: 2px solid $white;
  padding: 15px 30px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
  }
}
.th-btn-outline-black {
  @include button-style;
  background-color: transparent;
  color: $black !important;
  border: 2px solid $black;
  padding: 15px 30px;
  &:hover {
    background-color: $black;
    color: $white !important;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
  }
}
.th-btn-primary {
  @include button-style;
  background-color: $primary;
  color: $white !important;
  padding: 15px 30px;
  &:hover {
    background-color: rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
  }
}
.th-btn-gray {
  @include button-style;
  z-index: 0;
  background-color: $gray;
  color: $primary !important;
  padding: 15px 30px;
  &:hover {
    background-color: rgb(228, 228, 228);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  }
}

//header Button

.h-btn {
  @include button-style(
    $gray-lightest,
    $secondary,
    $black,
    15px,
    8px 10px,
    60px,
    14px
  );
  text-decoration: none;
  text-transform: capitalize;
  z-index: 0;
  display: flex;
  padding: 0!important;
  min-width:100px;
  height: 28px;
}
.menu-white{
  .h-btn{
    color: $white;
    background-color: $primary;
    font-size: 16px;
  }
}

.section-header-link-btn,
.link-icon-btn {
  @include button-style($secondary, $primary, $white, 50%, 1px, 40px, 12px);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: $white;
    font-size: 25px;
    z-index: 2;
  }
  &:hover {
    background-color: $primary;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
  }
}

// Link Icon Btn
.link-icon-btn {
  width: 30px;
  height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  > i {
    font-size: 16px;
  }

}
.link-icon-btn-white-large {
  @include button-style($white, $gray, $primary, 50%, 1px, 40px, 12px);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: $primary;
    font-size: 30px;
    z-index: 2;
  }
  &:hover {
    background-color: $gray-lightest;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  }
}

// Add to pin board button
.add-to-pinboard {
  @include button-style(
    $gray-lighter,
    $gray-darker,
    $primary,
    50%,
    1px,
    60px,
    23px
  );
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  }
  @include respond-to(sm) {
    min-width: 40px;
    width: 40px;
    height: 40px;
    &.top-right-30 {
      top: 10px;
      right: 10px;
    }
  }
}

.th-section-header-link-btn,
.th-link-icon-btn {
  @include button-style($secondary, $primary, $white, 50%, 1px, 40px, 12px);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: $white;
    font-size: 25px;
    z-index: 2;
  }
  &:hover {
    background-color: $primary;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
  }
}
.th-section-header-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  // .th-section-header-link-text {
  //   font-size: 25px;
  //   font-weight: 600;
  //   margin-right: 7px;
  //   line-height: 62px;
    
  // }
  &:hover {
    .th-section-header-link-btn {
      background-color: $primary;
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
    }
  }

  @include respond-to(lg) {
    .th-section-header-link-btn{
      display: none;
    }
  }


  @include respond-to(md) {
    .th-section-header-link-text {
      display: none;
    }
  }
}

// Link Icon Btn
.th-link-icon-btn {
  width: 30px;
  height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  > i {
    font-size: 16px;
  }
}
.th-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  transition: opacity 0.4s ease, text-shadow 0.4s ease;
  text-shadow: none;
  .th-link-icon {
    &:after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }
  &:hover,
  &.active {
    box-shadow: none;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    &::before,
    &:after {
      border-radius: 0;
    }
  }
}
h3.th-title{
  .th-link{
    .th-link-text{
      font-size: var(--h3-title-font-size);
    }
  }
}

.th-add-to-pinboard {
  @include button-style(
    $gray-lighter,
    $gray-darker,
    $primary,
    50%,
    1px,
    50px,
    23px
  );
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  }
  @include respond-to(mds) {
    min-width: 40px;
    width: 40px;
    height: 40px;
    &.top-right-30 {
      top: 10px;
      right: 10px;
    }
  }
}

// Play Button
.play-btn {
  display: inline-block;
  position: relative;
  z-index: 1;

  > i {
    display: inline-block;
    width: var(--icon-size, 50px);
    height: var(--icon-size, 50px);
    line-height: var(--icon-size, 50px);
    text-align: center;
    background-color: $white;
    color: $primary;
    font-size: var(--icon-font-size, 1.1em);
    border-radius: 50%;
    z-index: 1;
    transition: all ease 0.4s;
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    @extend .ripple-animation;
    z-index: -1;
    border-radius: 50%;
    transition: all ease 0.4s;
  }

  &:after {
    animation-delay: 2s;
  }

  &:hover {
    &:after,
    &::before,
    i {
      background-color: $primary;
      color: $white;
    }
  }

  &.style2 {
    &:before,
    &:after {
      background-color: transparent;
      border: 1px solid $white;
    }
  }

  &.style3 {
    > i {
      background-color: $primary;
      color: $white;
      font-size: 20px;
    }

    &:before,
    &:after {
      background-color: $primary;
    }

    &:hover {
      > i {
        background-color: $white;
        color: $primary;
      }

      &:before,
      &:after {
        background-color: $white;
      }
    }
  }
}

// Icon Button
.icon-btn {
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  line-height: 0.8;
  position: relative;
  padding-bottom: 2px;
  margin-bottom: -2px;
  text-transform: uppercase;
  color: $primary;

  i {
    margin-left: 5px;
    font-size: 0.9rem;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $primary;
    transition: all ease 0.4s;
  }

  &:hover {
    color: $primary;

    &::before {
      width: 100%;
    }
  }
}

// Scroll To Top
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 10000;
  opacity: 1;
  visibility: hidden;
  transform: translateY(45px);
  transition: all 300ms linear;

  &:after {
    content: "\f062";
    font-family: $icon-font;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: $primary;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    z-index: 1;
    border: 2px solid $primary;
    box-shadow: none;
    border-radius: 50%;
  }

  svg {
    color: $primary;
    border-radius: 50%;
    background: $white;

    path {
      fill: none;
    }
  }

  .progress-circle path {
    stroke: $primary;
    stroke-width: 20px;
    box-sizing: border-box;
    transition: all 400ms linear;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

// background primary darK button
.bt_dark {
  background-color: var(--theme-primary);
  color: var(--white-color);
}

// circle icon Button
.th-btn-circle-icon {
  @include button-style(
    $gray,
    $white,
    $primary,
    50%,
    0,
    115px,
    36px
  );
  max-width: 115px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 40px;
    transition: transform 0.3s ease;
  }
  &:hover{
    background-color: $gray-lighter;
    i{
      transform: scale(1.1);
    }
  }

}

// submit button

.th-btn-submit-lg {
  @include button-style(
    $white,
    $gray-lighter,
    $primary,
    0,
    16px 30px,
    100%,
    18px
  );
  font-weight: bold;
}

// comment panel button
.th-comment-btn-mini{
  @include button-style(
    $white,
    $gray-lighter,
    $primary,
    0,
    5px 5px,
    100%,
    18px
  );
  border: 1px solid var(--bs-border-color);
  background: var(--bs-body-bg);
  &:hover {
    background-color: $gray-lighter;
  }
}
.th-btn-outline-reply {
  @include button-style;
  background-color: transparent;
  color: $black !important;
  border: none;
  padding: 0;
  font-size:13px;
  min-width: 1px;
  &:hover {
    background-color: transparent;
  }
}

.th-custom-filter-btn{
  background: var(--theme-primary);
    color: var(--gray-lighter);
    border: none;
    padding: 10px 0px !important;
    &:hover,
    &:active{
      background-color: var(--theme-secondary);
      color: $white;
    }
}

.th-btn-cancel {
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
  background: var(--gray-400);
  padding: 5px 10px;
  border: none;
  &:hover {
    background-color: #e4e4e4;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  }
}
.th-btn-reply-submit {
  font-size: 13px;
  font-weight: 600;
  background-color: $primary;
  color: $white !important;
  padding: 5px 10px;
  border: none;
  &:hover {
    background-color: black;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
  }
}

.hidden_load{
  display: none;
}

.th-component-edit-link{
  @include respond-to(sm) {
    display: none !important;
  }
}