@each $textColorsMap, $value in $textColorsMap {
  .text-#{$textColorsMap} {
    color: #{$value} !important;
  }
}

.text-inherit {
  color: inherit;
  &:hover {
    color: $primary;
  }
}

a.text-theme,
.text-reset {
  &:hover {
    text-decoration: underline;
  }
}

.th-text-primary {
  color: $primary !important;
}
