<!--============================== Featured product ==============================-->
  <section id="feature-products" class="th-section-py" data-v-component-featureproductsmasonry>
    <div class="d-flex justify-content-end pr-40 th-pr-40 align-items-center position-absolute th-component-edit-link" data-v-featureproductsmasonry-component-link style="right: 40px">
      <i class="fa-solid fa-pencil pr-5 th-pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row featured-product">
        <div class="col-12">
          <div class="th-section-header sectionHeaderClass th-section-title-mb-0" style="display: block">
            <div class="th-section-header-wrapper text-center">
              <h2 class="  th-section-title th-section-title-mb" data-v-featureproductsmasonry-section_title> Feature Products </h2>
              <div class="th-section-subtitle th-section-subtitle-mb" data-v-featureproductsmasonry-section_subtitle>
                Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
              </div>
            </div>
          </div>

          <div class="section-body th-masonry-col-2"> 
            <div class="th-masonry-grid th-column-gap-column-gap" data-v-featureproductsmasonry-grid>

              <div class="th-masonry-grid-item grid-col-span-8 "
              data-v-featureproductsmasonryitem-class
              style="transform: translateY(0px);padding-top:0px" >
                <div class="th-item-img" data-v-featureproductsmasonryitem-img-wrapper>
                  <a href="" data-v-featureproductsmasonryitem-link>
                    <img src="/img/bg/home/home_fp_1.jpg" alt="" loading="lazy" data-v-featureproductsmasonryitem-img />
                  </a>
                </div>
                <div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30"
                  data-id=""
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  role="button"
                  tabindex="0"
                  data-bs-original-title="Add to Pinboard"
                  data-original-title="Add to Pinboard"
                  data-model="product"
                  data-title="Chwyla"
                  data-product-url="catalogue/products/seating/chwyla"
                  data-description="This is the first project description."
                  data-image="/img/bg/home/home_feature_project_1.jpg"
                  data-v-featuredproductitem-add-to-pinboard>
                  <i class="fa-solid fa-plus"></i> 
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="th-title-17">
                      <div class="th-link">
                       <h6 class="th-item-title-bold" data-v-featureproductsmasonryitem-heading> 
                          <a href="" data-v-featureproductsmasonryitem-link> Chwyla</a>  
                        </h6>
                      </div>

                    </h6>
                    <p class="th-description pt-15" data-v-featureproductsmasonryitem-des>
                      Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                    </p>
                    <div class="th-link pt-10">
                      <a class="th-link pt-10" href="product-details.html" data-v-featureproductsmasonryitem-link target="_blank">
                        <div class="th-link-text pr-5">
                          View Product
                        </div>
                        
                      </a>
                      
                    </div>

                  </div>
                </div>
              </div>

              <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(0px);padding-top:0px">
                <div class="th-item-img">
                  <img src="/img/bg/home/home_fp_2.jpg" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="th-title-17">
                      <div class="th-link">
                        <h6 class="th-item-title"> Kobe </h6>

                        <div class="th-link-icon">
                          <i class="fa-regular fa-arrow-right"></i>
                        </div>

                      </div>

                    </h6>
                    <p class="th-description">
                      Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                    </p>
                    <div class="th-link pt-10">
                      <div class="th-link-text pr-5">

                        Read More
                      </div>
                      <div class="th-link-icon-btn">
                        <i class="fa-regular fa-arrow-up degree-60"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(0px);padding-top:0px">
                <div class="th-item-img">
                  <img src="/img/bg/home/home_fp_3.jpg" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="th-title-17">
                      <div class="th-link">
                        <h6 class="th-item-title"> Desks </h6>

                        <div class="th-link-icon">
                          <i class="fa-regular fa-arrow-right"></i>
                        </div>

                      </div>

                    </h6>
                    <p class="th-description">
                      Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                    </p>
                    <div class="th-link pt-10">
                      <div class="th-link-text pr-5">

                        Read More
                      </div>
                      <div class="th-link-icon-btn">
                        <i class="fa-regular fa-arrow-up degree-60"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="th-masonry-grid-item grid-col-span-8 " style="transform: translateY(0px);padding-top:0px">
                <div class="th-item-img">
                  <img src="/img/bg/home/home_fp_4.jpg" alt="Product 1" />
                </div>
                <div class="th-product-info-wrapper">
                  <div class="th-item-info th-mt-15">
                    <h6 class="th-title-17">
                      <div class="th-link">
                        <h6 class="th-item-title"> Sofas </h6>

                        <div class="th-link-icon">
                          <i class="fa-regular fa-arrow-right"></i>
                        </div>

                      </div>

                    </h6>
                    <p class="th-description">
                      Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                    </p>
                    <div class="th-link pt-10">
                      <div class="th-link-text pr-5">

                        Read More
                      </div>
                      <div class="th-link-icon-btn">
                        <i class="fa-regular fa-arrow-up degree-60"></i>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============================== End Featured product ==============================-->