<!--============================== Section Categories ==============================-->
<section id="home-categories" data-v-component-categoriesslidernav class="th-section-categories-py">
  <div class="d-flex justify-content-end pr-40 align-items-center position-absolute th-component-edit-link" data-v-categoriesslidernav-component-link style="right: 40px">
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit</a>
  </div>
  <div class="container th-container">
    <div class="row home-categories-row">
      <div class="col-12">
        <div class="th-section-header sectionHeaderClass th-section-header-pb-50">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="th-section-title th-section-title-mb" data-v-categoriesslidernav-section_title> Product Categoriess </h2>
            <div class="th-section-subtitle th-section-subtitle-mb" data-v-categoriesslidernav-section_subtitle>
              Lorem ipsum dolor sit amet consectetur.
            </div>
          </div>

          <div class="right">
            <a href="/categories">
              <div class="th-section-header-link">
                <span class="th-view-all-btn"
                  data-v-categoriesslidernav-section_link_text>View All Categories</span>
                <span class="th-section-header-link-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>                                                                                               
                </span>
              </div>
            </a>
          </div>
        </div>

      </div>
      <div class="col-12">
        <div class="section-body">
          <div class="row">
            <div class="col-md-3">
              <div class="th-categories-slider-nav">
                <div class="th-categories-menu">
                  <ul class="th-menu-container" data-v-categoriesslidernav-collapse-items>
                    <li class="th-slide-active">
                      <a href="#" class="th-category-slide-trigger home-product-category-slider-item" data-v-categoriesslidernav-collapse-item data-slide-index="0">
                        <h3 class="mb-0 th-title th-category-nav-item th-nav-item-pt-5">
                          <span data-v-categoriesslidernav-collapse-items-title
                            class="">Workstations</span>
                        </h3>
                      </a>
                      <ul class="th-subcategories-manu" data-v-categoriesslidernav-sub-menu-items>
                        <li>
                          <a href="service.html" data-v-categoriesslidernav-collapse-items-sub-menu-items-link>
                            <h6 class="th-subcategory-nav-item th-subcategory-nav-item-title th-nav-item-pt-5" data-v-categoriesslidernav-collapse-items-sub-menu-items-title>Workstations
                            </h6>
                          </a>
                        </li>
                        <li>
                          <a href="service-details.html">
                            <h6 class="th-title-17 th-subcategory-nav-item-title th-nav-item-pt-5">Workstations Screens</h6>
                          </a>
                        </li>
                        <li>
                          <div class="th-link classPadding">
                            <div class="th-link-text th-pr-5">
                              View All
                            </div>
                            <!-- <div class="th-link-icon-btn">
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </div> -->
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="home-product-category-slider-item">
                      <a href="#" class="th-category-slide-trigger">
                        <h3 class="mb-0 th-title text-weight-400 font-22">
                          <span class="home-product-category-slider-item" data-slide-index="1">Desks</span>
                        </h3>
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="service.html">
                            <h6 class="th-title-17">Desks</h6>
                          </a>
                        </li>
                        <li>
                          <a href="service.html">
                            <h6 class="th-title-17">Desks System</h6>
                          </a>
                        </li>
                        <li>
                          <div class="th-link classPadding">
                            <div class="th-link-text th-pr-5">
                              Read More
                            </div>
                            <div class="th-link-icon-btn">
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </div>
                          </div>

                        </li>
                      </ul>
                    </li>
                    <li class="home-product-category-slider-item">
                      <a href="#" class="th-category-slide-trigger">
                        <h3 class="mb-0 th-title text-weight-400 font-22">
                          <span class="home-product-category-slider-item" data-slide-index="2">Tables</span>
                        </h3>
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="service.html">
                            <h6 class="th-title-17">Tables</h6>
                          </a>
                        </li>
                        <li>
                          <a href="service.html">
                            <h6 class="th-title-17">Boardroom Tables</h6>
                          </a>
                        </li>
                        <li>
                          <div class="th-link classPadding">
                            <div class="th-link-text th-pr-5">

                              Read More
                            </div>
                            <div class="th-link-icon-btn">
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </div>
                          </div>

                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="th-category-slide-trigger">
                        <h3 class="mb-0 th-title text-weight-400 font-22">
                          <span class="home-product-category-slider-item" data-slide-index="3">Seating</span>
                        </h3>
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="service.html">
                            <h6 class="th-title-17">Seating</h6>
                          </a>
                        </li>
                        <li>
                          <a href="service.html">
                            <h6 class="th-title-17">Boardroom Tables</h6>
                          </a>
                        </li>
                        <li>
                          <div class="th-link classPadding">
                            <div class="th-link-text th-pr-5">

                              Read More
                            </div>
                            <div class="th-link-icon-btn">
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </div>
                          </div>

                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="th-category-slide-trigger">
                        <h3 class="mb-0 th-title text-weight-400 font-22">
                          <span class="home-product-category-slider-item" data-slide-index="4">Storage</span>
                        </h3>
                      </a>
                      <ul class="sub-menu">
                        <li>
                          <a href="service.html">
                            <h6 class="th-title-17">Storage</h6>
                          </a>
                        </li>
                        <li>
                          <a href="service.html">
                            <h6 class="th-title-17">Boardroom Tables</h6>
                          </a>
                        </li>
                        <li>
                          <div class="link">
                            <div class="link-text th-pr-5">View All</div>
                            <div class="link-icon-btn">
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="slider-container home-category-slider">
                <div class="slider-area">
                  <div class="swiper home-category-swiper home-product-category-slider">
                    <div class="swiper-wrapper" data-v-categoriesslidernav-slider-items>
                      <div class="swiper-slide gr-bg6" data-v-categoriesslidernav-slider-item>
                        <a href="#" class="category-slide-link" data-v-categoriesslidernav-slider-item-link style="z-index: 1;" >
                          <img src="/img/bg/home/home_cat_workstation.jpg" alt="Workstation" loading="lazy"
                            data-v-categoriesslidernav-slider-item-image />
                        
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="th-title th-title-24 font-white" data-ani="slideinleft" data-ani-delay=".2s"
                              data-v-categoriesslidernav-slider-item-title>
                              Workstation
                            </h4>
                            <h6 class="th-title th-title-16 font-white" data-ani="slideinleft" data-ani-delay="0.3s"
                              data-v-categoriesslidernav-subtext>
                              Energistically harnes
                            </h6>
                            <!-- <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="/contact-sales" class="th-btn-outline text-capitalize"
                                  data-v-categoriesslidernav-slider-item-buttonText>
                                  <span class="mr-5" data-v-categoriesslidernav-slider-item-buttonText>Contact
                                    Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div> -->
                          </div>
                        </a>
                      </div>
                        <!-- <div class="swiper-slide gr-bg6" data-v-categoriesslidernav-slider-item>
                          <img src="/img/bg/home/home_cat_chair.jpg" alt="Desks"
                            data-v-categoriesslidernav-slider-item-image />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s"
                              data-v-categoriesslidernav-slider-item-title>Desks</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s"
                              data-v-categoriesslidernav-slider-item-subTitle>Energistically harness</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="/contact-sales" class="th-btn-outline text-capitalize"
                                  data-v-categoriesslidernav-slider-item-buttonText>
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide gr-bg6" data-v-categoriesslidernav-slider-item>
                          <img src="/img/bg/home/home_cat_seating.jpg" alt="Tables"
                            data-v-categoriesslidernav-slider-item-image />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s"
                              data-v-categoriesslidernav-slider-item-title>Tables</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s"
                              data-v-categoriesslidernav-slider-item-subTitle>Energistically harness</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="/contact-sales" class="th-btn-outline text-capitalize"
                                  data-v-categoriesslidernav-slider-item-buttonText>
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide gr-bg6" data-v-categoriesslidernav-slider-item>
                          <img src="/img/bg/home/home_cat_seating.jpg" alt="Seating"
                            data-v-categoriesslidernav-slider-item-image />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s"
                              data-v-categoriesslidernav-slider-item-title>Seating</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s"
                              data-v-categoriesslidernav-slider-item-subTitle>Energistically harness</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="/contact-sales" class="th-btn-outline text-capitalize"
                                  data-v-categoriesslidernav-slider-item-buttonText>
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide gr-bg6" data-v-categoriesslidernav-slider-item>
                          <img src="/img/bg/home/home_cat_workstation.jpg" alt="Storage"
                            data-v-categoriesslidernav-slider-item-image />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s"
                              data-v-categoriesslidernav-slider-item-title>Storage</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s"
                              data-v-categoriesslidernav-slider-item-subTitle>Energistically harness</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="/contact-sales" class="th-btn-outline text-capitalize"
                                  data-v-categoriesslidernav-slider-item-buttonText>
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      
                    </div>
                    <!-- <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div> -->
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>