<!-- ============================ Start Home Blogs =========================== -->
   <section id="home-blogs" class="bg-gray th-section-py" data-v-component-blogslider>
    <div class="d-flex justify-content-end pr-40 th-pr-40 align-items-center position-absolute th-component-edit-link" data-v-blogslider-component-link style="right: 40px">
      <i class="fa-solid fa-pencil pr-5 th-pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/5/overview" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row home-blogs">

        <div class="th-section-header sectionHeaderClass th-section-header-pb-50">
          <div class="th-section-header-wrapper left flex-1">
              <a href="/blog" class="section-header-link-mobile d-none">
                <h2 class="th-section-title th-section-title-mb"> Latest News </h2>
              </a>
              <h2 class="th-section-title th-section-title-mb section-header-link-desktop" data-v-blogslider-section_title> Blog </h2>
            <div class="th-section-subtitle th-section-subtitle-mb" data-v-blogslider-section_subtitle>
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>

          <div class="right">
            <a href="/blog" target="_blank" data-v-blogslider-section_link>
              <div class="th-section-header-link">
                <span class="th-view-all-btn All BlogsClass" data-v-blogslider-section_link_text>View All Articles</span>
                <span class="th-section-header-link-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper home-blog-slider">
                <div class="swiper-wrapper">

                  
                  <div class="swiper-slide d-flex flex-column" style="height: auto;">
                    <div class="list-img position-relative">
                      <div class="img-container">
                        <a href="" data-v-blogslideritem-slug class="hover">
                          <img src="/img/bg/home/home_blog-1.jpg" alt="" loading="lazy" data-v-blogslideritem-image />
                        </a>
                      </div>
                      <div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30"
                      data-id=""
                      data-toggle="tooltip"
                      data-placement="top"
                      title=""
                      role="button"
                      tabindex="0"
                      data-bs-original-title="Add to Pinboard"
                      data-original-title="Add to Pinboard"
                      data-model="post" 
                      data-title="data-v-blogslideritem-name" 
                      data-description="data-v-blogslideritem-excerpt" 
                      data-image="data-v-blogslideritem-image" data-v-blogslideritem-add-to-pinboard>
                        <i class="fa-solid fa-plus"></i>
                      </div>
                    </div>
                    <div class="slider-footer d-flex flex-column justify-content-between" style="flex: 1">
                      <div>
                        <a href="#" data-v-blogslideritem-slug class="hover th-blog-title">
                          <h6 class="th-mt-20 th-item-title-bold mb-0"  data-v-blogslideritem-name>Lorem ipsum</h6>
                        </a>
                        <p class="font-weight-400" data-v-blogslideritem-excerpt>
                          Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                        </p>
                      </div>
                      <div>
                        <a href="#" data-v-blogslideritem-slug>
                          <div class="link th-read-more-btn">
                            <div class="link-text th-link-text th-pr-5">Read More</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>


                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-2.jpg" />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">Lorem ipsum</h6>
                      <p class="th-blog-slider-description">
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <div class="link">
                        <div class="link-text th-pr-5">Read More</div>
                        <div class="link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-3.jpg" />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">Lorem ipsum</h6>
                      <p class="th-blog-slider-description">
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <div class="link">
                        <div class="link-text th-pr-5">Read More</div>
                        <div class="link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-4.jpg" />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">Lorem ipsum</h6>
                      <p class="th-blog-slider-description">
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <div class="link">
                        <div class="link-text th-pr-5">Read More</div>
                        <div class="link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-5.jpg" />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">Lorem ipsum</h6>
                      <p class="th-blog-slider-description">
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <div class="link">
                        <div class="link-text th-pr-5">Read More</div>
                        <div class="link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- ============================ End Home Blogs =========================== -->