 <!--============================== Featured Projects Slider Section ==============================-->

  <section id="th-featured-projects-slider" class="pt-0" data-v-component-featuredprojectslider>
    <div class="d-flex justify-content-end pr-40 th-pr-40 align-items-center position-absolute th-component-edit-link" data-v-featuredprojectslider-component-link style="right: 40px">
      <i class="fa-solid fa-pencil pr-5 th-pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components/3/items" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row featured-projects-row">
        <div class="th-section-header sectionHeaderClass th-section-header-pb-50">
          <div class="th-section-header-wrapper left flex-1">
            <a href="/projects" class="section-header-link-mobile d-none">
              <h2 class="th-section-title th-section-title-mb"> Featured Projects </h2>
            </a>
            <h2 class="th-section-title th-section-title-mb section-header-link-desktop" data-v-featuredprojectslider-section_title id="feature-projects-heading-title-desktop"> Featured Projects </h2>
            <div class="th-section-subtitle th-section-subtitle-mb" data-v-featuredprojectslider-section_subtitle>
              Explore how we’ve helped Australian businesses transform their workspaces with tailored design solutions.
            </div>
          </div>

          <div class="right">
            <a href="/projects">
              <div class="th-section-header-link">
                <span class="th-view-all-btn th-view-all-btn">View All Projects</span>
                <span class="th-section-header-link-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </span>
              </div>
            </a>
          </div>

        </div>


        <div class="section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper th-featured-projects-slider th-pb-80">
                <div class="swiper-wrapper">
                  <div class="swiper-slide d-flex flex-column justify-content-between">
                    <div class="th-item-project d-flex flex-column" style="flex: 1;">
                      <div class="th-img-container itemProjectClass">
                        <a href="" data-v-featuredprojectslideritem-link>
                          <img src="/img/bg/home/home_feature_project_1.jpg" alt="" loading="lazy" data-v-featuredprojectslideritem-image />
                        </a>
                      </div>
                      <div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30"
                       data-id=""
                       data-toggle="tooltip"
                       data-placement="top"
                       title=""
                       role="button"
                       tabindex="0"
                       data-bs-original-title="Add to Pinboard"
                       data-original-title="Add to Pinboard"
                       data-model="project"
                       data-title="Chwyla"
                       data-description="This is the first project description."
                       data-image="/img/bg/home/home_feature_project_1.jpg"
                       data-v-featuredprojectslideritem-add-to-pinboard>
                        <i class="fa-solid fa-plus"></i> 
                      </div>
                      <div class="th-item-footer d-flex flex-column justify-content-between" style="flex: 1;">
                        <div>
                          <div class="th-label th-item-subtitle-my" data-v-featuredprojectslideritem-label>Build</div>
                          <h3 class="th-item-title-bold th-title-mb-15" data-v-featuredprojectslideritem-title>
                            <a href="" data-v-featuredprojectslideritem-link>
                              Chwyla
                            </a>
                          </h3>
                          <div class="th-description th-description-my" style="word-break: break-word;" data-v-featuredprojectslideritem-description>This is the first project description.</div>
                        </div>
                        <div class="classPadding">
                          <a class="th-link" href="project-details.html" data-v-featuredprojectslideritem-link>
                            <div class="th-link-text pr-5">View Project
                            </div>
                            <!-- <div class="th-link-icon-btn">
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </div> -->
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-project">
                      <div class="th-img-container itemProjectClass">
                        <img src="/img/bg/home/home_feature_project_2.jpg" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <div class="th-label">Total Fitouts</div>
                        <h3 class="th-title">Fiorelli packing</h3>
                        <div class="th-description">This is the second project description.</div>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                          View All
                          </div>
                          <!-- <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div> -->
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-project">
                      <div class="th-img-container itemProjectClass">
                        <img src="/img/bg/home/home_feature_project_3.jpg" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <div class="th-label">Merit Interiors</div>
                        <h3 class="th-title">Berry Street</h3>
                        <div class="th-description">This is the third project description.</div>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">
                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-project">
                      <div class="th-img-container itemProjectClass">
                        <img src="/img/bg/home/home_feature_project_4.jpg" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <div class="th-label">Amicus</div>
                        <h3 class="th-title">Artifex</h3>
                        <div class="th-description">This is the third project description.</div>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============================== End Featured Projects Slider Section ==============================-->