
<!--============================== Hero Area ==============================-->
  <section data-v-component-herohome class="th-hero-wrapper th-hero th-hero-transparent gr-bg4 breadcrumb_class th-way-points" id="hero" data-v-herohome-hero_image>
    <!-- LCP image: discoverable in HTML, high priority, no lazy-load -->
   
    <div class="container th-container">
      <div class="text-white d-flex justify-content-end pr-40 align-items-center position-absolute th-component-edit-link" data-v-herohome-component-link style="right: 40px; z-index: 10;">
        <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
        <a href="" target="_blank" class="text-white">Component Edit</a>
      </div>
      <div class="row">
        <div class="col-xl-7">
          <div class="th-hero-container gr-bg4">


            <div class="way-points-container" data-v-herohome-waypoints>
              <div id="way-point-1" class="way-point" style="left: 30%; top: 40%;" data-v-herohome-waypoint>
                <div class="circle-point" style="position: absolute;"></div>
                <div class="circle-point" style="position: absolute;"></div>
            
                <span class="way-point-link">
                  <a href="point-1" target="_blank" data-v-herohome-waypoint-link>point 1</a>
                </span>
              </div>
            </div>


            <div class="th-hero-style th-mt-100">
              <h1 class="th-hero-title th-hero-title-mb" data-v-herohome-hero_title>
                  2025 <span class=''>Catalogue</span>
                  <span class='line-break'>Sent Out</span>
              </h1>
              <span class="th-hero-subtitle th-hero-subtitle-my" data-v-herohome-hero_subtitle>Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.</span>

              <div class="th-hero-wrapp" data-v-herohome-hero_button_group>
                <div class="button position-relative pb-3" data-v-herohome-button>
                  <a href="contact.html" class="th-btn text-capitalize" data-v-herohome-hero_button_link> 
                    <span class="mr-5 th-btn-text-mr" data-v-herohome-hero_button_label>
                      Visit Our Showroom
                    </span>
                  </a>
                </div>

                <div class="button position-relative">
                  <a href="contact.html" class="th-btn-outline text-capitalize" data-v-herohome-hero_button_link>
                    <span class="mr-5 th-btn-text-mr" data-v-herohome-hero_button_label_outline>
                      Contact Sales

                    </span>
                  </a>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="th-hero-img"></div>
        </div>
      </div>
    </div>
  </section>
  <!--======== End Hero Section ========-->
  <script>   
  // document.addEventListener('DOMContentLoaded', function () {
  //   document.querySelectorAll('[data-bg-src]').forEach(function (el) {
  //     const src = el.getAttribute('data-bg-src');

  //     if (src) {
  //       el.style.backgroundImage = `url("${src}")`;
  //       el.classList.add('background-image');
  //     }
  //   });
  // });
  </script>