 <!--============================== Design Resources Section ==============================-->
  <section id="home-design-resources" data-v-component-designresources class="">
    <div class="d-flex justify-content-end pr-40 align-items-center position-absolute th-component-edit-link" data-v-designresources-component-link style="right: 40px">
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row design-resources">
        <div class="th-section-header sectionHeaderClass th-section-header-pb-50" style="display: block">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="th-section-title th-section-title-mb" data-v-designresources-section_title> Design Resources </h2>
            <div class="th-section-subtitle th-section-subtitle-mb" data-v-designresources-section_subtitle>
              Everything you need to specify, plan, and deliver your next commercial project.
            </div>
          </div>

        </div>

        <div class="section-body">
          <div class="col-md-12">
            <div class="row design-resource-list">
              <div class="col-md-3 design-resource-item">
                <div class="th-item-resource">
                  <a href="link" data-v-designresourcesitem-link class="mt-15">
                    <img src="/img/bg/home/home_dr-fabrics.jpg" alt="Model Library" loading="lazy" data-v-designresourcesitem-img />
                  </a>
                  <div class="th-item-resource-content">
                    <div class="th-link pb-15">
                      <a href="link" data-v-designresourcesitem-link class="mt-15">
                        <h6 class="th-item-title-bold mb-0" data-v-designresourcesitem-title> Model Library </h6>
                      </a>
                    </div>
                    <div class="th-description" data-v-designresourcesitem-description>
                      Download 2D/3D CAD and Revit files to streamline your floor plans and specifications.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 design-resource-item">
                <div class="th-item-resource">
                  <img src="/img/bg/home/home_dr-models.jpg" alt="Sample Image" />
                  <div class="th-item-resource-content">
                    <div class="th-link">
                      <a href="link">
                        <h6 class="th-item-title"> Image Gallery </h6>
                      </a>
                    </div>
                    <div class="description">Access our full library of high-resolution project photography and detailed product imagery.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 design-resource-item">
                <div class="th-item-resource">
                  <img src="/img/bg/home/home_dr-models.jpg" alt="Sample Image" />
                  <div class="th-item-resource-content">
                    <div class="th-link">
                      <a href="link">
                        <h6 class="th-item-title"> Image Gallery </h6>
                      </a>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 design-resource-item">
                <div class="th-item-resource">
                  <img src="/img/bg/home/home_dr-finish.jpg" alt="Sample Image" />
                  <div class="th-item-resource-content">
                    <div class="th-link">
                      <a href="link">
                        <h6 class="th-item-title"> Fabrics </h6>
                      </a>
                    </div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============================== End Design Resources Section ==============================-->