 <!--============================== Block Quote component ==============================-->
  <section id="th-block-quote" class="th-section-py" data-v-component-blockquote>
    <div class="th-block-quote__edit th-component-edit-link d-flex justify-content-end align-items-center position-absolute" data-v-blockquote-component-link>
      <i class="fa-solid fa-pencil th-block-quote__edit-icon" aria-hidden="true"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row">
        <div class="col-md-12">
          <div class="th-block-quote" data-v-blockquote-content>
            <p>
              Our Legacy Isn’t Only About Refined And Functional Furniture, Fit For Australian Organizations,
              It’s About The Trust We’ve Fostered For Decades
            </p>
            <span class="th-quote-author" data-v-blockquote-image>-
              <img src="" alt="krost-logo" loading="lazy">
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============================== End Block Quote component ==============================-->