#th-product-slider {
    .task-seating-slider {
        padding-bottom: 50px;

        .th-tag {
            background-color: #eaeaec;
            color: #5a5a5a;
            padding: 4px 8px;
            font-size: 14px;
            white-space: nowrap;
        }
    }
}