<!--============================== Start Hero section ==============================-->

<section data-v-component-pagehero class="th-hero-wrapper th-hero gr-bg4" id="th-page-hero" data-bg-src="/img/project-detail/hero.png" style="padding-top: 0px !important;" data-v-pagehero-img>
  <div class="d-flex justify-content-end pr-40 align-items-center position-relative" data-v-component-link style="z-index: 1000;">
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit</a>
  </div>
  <div class="container th-container th-hero-section">
    <div class="row">
      <div class="col-xl-6">



        <div class="th-hero-container gr-bg4">
          <div class="th-hero-style">

            <span class="th-hero-subtitle th-hero-subtitle-top" data-v-pagehero-date>March 23, 2025</span>

            <h1 class="th-hero-title th-hero-title-font" data-v-pagehero-heading>
              Embracing human-centric design: A path to enhanced usability and experience
            </h1>

            <div class="th-hero-wrapp">

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="th-hero-img">

        </div>
      </div>
    </div>
  </div>
</section>
<!--============================== End Hero section ==============================-->


<!--============================== Page Content Section ==============================-->
<section id="page-show-content" class="latest-news" data-v-component-pageshowcontent>
  <div class="d-flex justify-content-end pr-40 align-items-center" data-v-component-link>
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit</a>
  </div>
  <div class="container th-container">
    <div class="row">
      <div class="section-header project-header p-0">
        <div class="w-100 text-center mb-5">
          <h2 data-v-pageshowcontent-sectiontitle class="section-title">Lorem Ipsum</h2>
          <p data-v-pageshowcontent-sectionsubtitle class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Assumenda, ea?.</p>
        </div>
      </div>

      <div class="section-body">
        <div class="row project-list-row pt-100" data-v-pageshowcontent-items>
          <div class="col-12 col-sm-6 col-md-4 mb-80 project-list-gap project-list-item d-flex flex-column">
            <div class="list-img position-relative">
              <a href="/blog" data-v-contentitem-edit-link class="hover position-absolute top-left-10" target="_blank" style="color: #fff; font-size: 1.5rem;">
                <i class="fa-solid fa-pen-circle"></i>
              </a>
              <div class="img-container">
                <a href="/blog" data-v-contentitem-link class="hover" target="_blank">
                  <img src="/img/blog-page/News 1.png" alt="" data-v-contentitem-image class="w-100" />
                </a>
              </div>
              <div class="add-to-pinboard position-absolute top-right-30">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
              <div>
                <a href="/blog" data-v-contentitem-link class="hover" target="_blank">
                  <h6 class="font-weight-400 mt-20" data-v-contentitem-title>Krost's Sydney Office Update With 3d Tour
                  </h6>
                </a>
                <p class="font-weight-400" data-v-contentitem-excerpt>Sit egestas orci consequat est mauris duis. In
                  viverra hac
                  vestibulum pretium.</p>
              </div>
              <div>
                <a href="/blog" data-v-contentitem-link class="hover" target="_blank">
                  <div class="link th-read-more-btn">
                    <div class="link-text pr-5">Read More</div>
                    <!-- <div class="link-icon-btn">
                        <i class="fa-regular fa-arrow-up degree-60"></i>
                      </div> -->
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item">
            <div class="list-img">

              <div class="img-container">
                <img src="/img/blog-page/News 2.png" alt="" />
              </div>
              <div class="add-to-pinboard position-absolute top-right-30">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="card-footer">
              <h6 class="font-weight-400">THE BOOTH: WHERE IDEAS AND CONNECTIONS GROW</h6>
              <div class="link th-read-more-btn">
                <div class="link-text pr-5">Read More</div>
                <div class="link-icon-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item">
            <div class="list-img">

              <div class="img-container">
                <img src="/img/blog-page/News 3.png" alt="" />
              </div>
              <div class="add-to-pinboard position-absolute top-right-30">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="card-footer">
              <h6 class="font-weight-400">Unveiling Our Updated Sydney Showroom</h6>
              <div class="link th-read-more-btn">
                <div class="link-text pr-5">Read More</div>
                <div class="link-icon-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item">
            <div class="list-img">

              <div class="img-container">
                <img src="/img/blog-page/News 4.png" alt="" />
              </div>
              <div class="add-to-pinboard position-absolute top-right-30">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="card-footer">
              <h6 class="font-weight-400">Beyond Aesthetics: How Organic Design</h6>
              <div class="link th-read-more-btn">
                <div class="link-text pr-5">Read More</div>
                <div class="link-icon-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item">
            <div class="list-img">

              <div class="img-container">
                <img src="/img/blog-page/News 5.png" alt="" />
              </div>
              <div class="add-to-pinboard position-absolute top-right-30">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="card-footer">
              <h6 class="font-weight-400">Watch The Full Panel Discussion On Designing</h6>
              <div class="link th-read-more-btn">
                <div class="link-text pr-5">Read More</div>
                <div class="link-icon-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item">
            <div class="list-img">

              <div class="img-container">
                <img src="/img/blog-page/News 6.png" alt="" />
              </div>
              <div class="add-to-pinboard position-absolute top-right-30">
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
            <div class="card-footer">
              <h6 class="font-weight-400">Extraordinary Sydney Showroom Event Hosted</h6>
              <div class="link th-read-more-btn">
                <div class="link-text pr-5">Read More</div>
                <div class="link-icon-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center mb-80">
          <div class="col-auto pt-100" style="display:none;">
            <p id="total-posts-count">0</p>
            <p id="current-page">1</p>
            <p id="per-page">21</p>
          </div>
          <div class="col-auto">
            <button class="btn th-btn-gray load-more" id="load_more_button">Load More</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--==============================  End Page Content Section ==============================-->