<div data-v-component-pagebody id="th-page-body">
    <!--============================== Start Page Hero Section ==============================-->
    <div class="th-hero-wrapper th-hero gr-bg4 position-relative" id="th-page-hero" data-bg-src="/img/project-detail/hero.png" style="padding-top: 0px !important;" data-v-pagehero-image>
        <div class="d-flex justify-content-end pr-40 align-items-center top-40 top-right-30 position-absolute" data-v-pagebody-hero-component-link style="z-index: 1000;">
            <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
            <a href="http://localhost:5173/components" target="_blank">Edit</a>
        </div>
        <div class="container th-container th-hero-section">
            <div class="row">
                <div class="col-xl-6">

                    <div class="th-breadcrumb">
                        <div aria-label="breadcrumb">
                            <ol class="breadcrumb font-white">
                                <li class="breadcrumb-item  font-white">
                                    <a href="/" class="font-white">Home</a>
                                </li>
                                <li class="breadcrumb-item  font-white">
                                    <a href="/blogs" class="font-white">page</a>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="th-hero-container gr-bg4">
                        <div class="th-hero-style">

                            <span class="th-hero-subtitle th-hero-subtitle-top" data-v-pagehero-date>March 23, 2025</span>

                            <h1 class="th-hero-title th-hero-title-font" data-v-pagehero-heading>
                                Embracing human-centric design: A path to enhanced usability and experience
                            </h1>

                            <div class="th-hero-wrapp">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="th-hero-img">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--============================== End Page Hero Section ==============================-->


    <!--============================== Start Page Detail Excerpt Section ==============================-->
    <section id="th-blog-detail" class="pt-0 pb-0 position-relative">
        <div class="d-flex justify-content-end pr-40 align-items-center top-40 top-right-30 position-absolute" data-v-pagedetailsexcerpt-component-link
            style="z-index: 1000;">
            <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
            <a href="http://localhost:5173/components" target="_blank">Edit</a>
        </div>
        <div class="container th-container">
            <div class="section-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="" style="display: block">
                            <div class="th-section-header-wrapper">
                                <h2 class="pt-35 pb-20" data-v-pagedetail-excerpt_title> Page Details </h2>
                            </div>
                            <div class="th-blog-detail-content">
                                <p data-v-pagedetail-description>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula libero eget magna
                                    fermentum, eget feugiat odio fermentum.
                                    Fusce euismod nulla sit amet vestibulum venenatis. Proin vel lacus at nisi elementum
                                    ullamcorper. Nam nec aliquam elit.
                                    Mauris viverra augue ac eros venenatis, a scelerisque ipsum luctus. Vivamus euismod
                                    sapien sit amet sapien efficitur, vel convallis sem molestie.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================== End Page Detail Excerpt Section ==============================-->


    <!--============================== Start Page Main Section ==============================-->
    <section id="th-blog-main" class="pt-0 position-relative">
        <div class="d-flex justify-content-end pr-40 align-items-center top-10 top-right-30 position-absolute " data-v-pagemain-component-link
            style="z-index: 1000;">
            <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
            <a href="http://localhost:5173/components" target="_blank">Edit</a>
        </div>
        <div class="row th-blog-main-header">
            <div class="col-md-12"> </div>
        </div>
        <div class="container th-container">
            <div class="section-body">
                <div class="row">
                    <div class="col-lg-6 pr-50 th-blog-main-content">
                        <div class="th-section-header" style="display: block">
                            <div class="th-section-header-wrapper">
                                <h2 class="pt-25 pb-20" data-v-pagemain-section_title style="display: none;"> Project Details </h2>
                                <div class="th-section-subtitle" style="font-size:  20px " data-v-pagemain-section_subtitle>
                                    Pellentesque sodales lacinia diam, vel lacinia lectus ultrices id. Maecenas viverra
                                    justo nec mauris pulvinar dignissim. Proin quis arcu eu velit vehicula fermentum. Ut
                                    pharetra, nunc sed fringilla fermentum, nulla eros rhoncus felis, ac varius ligula quam
                                    nec nisl. Proin ac tellus sed dui ultrices tempus. Duis ut arcu et diam lacinia cursus
                                    nec non justo
                                </div>
                            </div>

                        </div>

                        <div data-v-pagemain-section_subtitle2>
                            Aliquam malesuada tortor ut dolor suscipit, id convallis ipsum lacinia. Curabitur feugiat lectus
                            non sem ullamcorper, nec finibus nulla consequat.
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="th-img-container blog-detail">
                            <img src="/img/blog-detail/blog-main.png" alt="Main page image" data-v-pagemain-mainimage />
                        </div>
                    </div>
                </div>
                <div class="row mt-50">
                    <div class="col-md-12">
                        <div data-v-pagemain-section_subtitle3>
                            Sed nec odio magna. Aliquam non libero ultricies, efficitur nulla id, ultricies urna. Nullam at
                            placerat justo, non fermentum magna. Nullam nec libero odio. Sed eleifend euismod tellus, ut
                            fermentum libero pellentesque a. Sed eget nulla et mi consectetur vestibulum. Phasellus at leo
                            eu orci vestibulum tincidunt. Vestibulum fringilla mi id felis varius ultricies. Donec nec
                            suscipit nulla. Vivamus vitae diam purus.
                        </div>
                        <div data-v-pagemain-section_subtitle4>
                            Sed nec odio magna. Aliquam non libero ultricies, efficitur nulla id, ultricies urna. Nullam at
                            placerat justo, non fermentum magna. Nullam nec libero odio. Sed eleifend euismod tellus, ut
                            fermentum libero pellentesque a. Sed eget nulla et mi consectetur vestibulum. Phasellus at leo
                            eu orci vestibulum tincidunt. Vestibulum fringilla mi id felis varius ultricies. Donec nec
                            suscipit nulla. Vivamus vitae diam purus.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================== End Page Main Section ==============================-->


    <!--============================== Start Page Gallery Section ==============================-->
    <section id="blog-detail-gallery" class="pt-0 position-relative">
        <div class="d-flex justify-content-end pr-40 align-items-center top-10 top-right-30 position-absolute" data-v-pagegallery-component-link
            style="z-index: 1000;">
            <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
            <a href="http://localhost:5173/components" target="_blank">Edit</a>
        </div>
        <div class="container th-container">
            <div class="th-section-header" style="display: block">
                <div class="th-section-header-wrapper">
                    <h2 class="th-section-title" data-v-pagegallery-section_title> Blog Gallery </h2>
                    <div class="th-section-subtitle" style="font-size: 16px"></div>
                </div>

            </div>

            <div class="section-body">
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="nav flex-column th-gallery-thumb-container" data-v-pageprojectgallery-thumbs
                            id="gallery-tabs" role="tablist">
                            <button data-v-pageprojectgalleryitem-thumb class="th-gallery-thumb active" id="img-1-tab"
                                data-bs-toggle="pill" data-bs-target="#img-1" type="button" role="tab" aria-controls="img-1"
                                aria-selected="active == 'active' ? 'true' : 'false'">
                                <img data-v-pageprojectgalleryitem-thumb_image src="/img/blog-detail/gallery-img-1.png"
                                    alt="gallery-img-1">
                            </button>

                            <button class="th-gallery-thumb " id="img-2-tab" data-bs-toggle="pill" data-bs-target="#img-2"
                                type="button" role="tab" aria-controls="img-2"
                                aria-selected=" == 'active' ? 'true' : 'false'">
                                <img src="/img/blog-detail/gallery-img-2.png" alt="gallery-img-2">
                            </button>
                            <button class="th-gallery-thumb " id="img-3-tab" data-bs-toggle="pill" data-bs-target="#img-3"
                                type="button" role="tab" aria-controls="img-3"
                                aria-selected=" == 'active' ? 'true' : 'false'">
                                <img src="/img/blog-detail/gallery-img-3.png" alt="gallery-img-3">
                            </button>
                            <button class="th-gallery-thumb " id="img-4-tab" data-bs-toggle="pill" data-bs-target="#img-4"
                                type="button" role="tab" aria-controls="img-4"
                                aria-selected=" == 'active' ? 'true' : 'false'">
                                <img src="/img/blog-detail/gallery-img-4.png" alt="gallery-img-4">
                            </button>
                            <button class="th-gallery-thumb " id="img-5-tab" data-bs-toggle="pill" data-bs-target="#img-5"
                                type="button" role="tab" aria-controls="img-5"
                                aria-selected=" == 'active' ? 'true' : 'false'">
                                <img src="/img/blog-detail/gallery-img-5.png" alt="gallery-img-5">
                            </button>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="tab-content th-gallery-img-container" data-v-pagegallery-content>
                            <div data-v-pagegallery-content-item class="tab-pane fade th-gallery-img active show" id="img-1"
                                role="tabpanel" aria-labelledby="img-1-tab">
                                <img data-v-pagegallery-content-item-img src="/img/blog-detail/gallery-img-1.png"
                                    alt="gallery-img-1">
                            </div>
                            <div class="tab-pane fade th-gallery-img " id="img-2" role="tabpanel"
                                aria-labelledby="img-2-tab">
                                <img src="/img/blog-detail/gallery-img-2.png" alt="gallery-img-2">
                            </div>
                            <div class="tab-pane fade th-gallery-img " id="img-3" role="tabpanel"
                                aria-labelledby="img-3-tab">
                                <img src="/img/blog-detail/gallery-img-3.png" alt="gallery-img-3">
                            </div>
                            <div class="tab-pane fade th-gallery-img " id="img-4" role="tabpanel"
                                aria-labelledby="img-4-tab">
                                <img src="/img/blog-detail/gallery-img-4.png" alt="gallery-img-4">
                            </div>
                            <div class="tab-pane fade th-gallery-img " id="img-5" role="tabpanel"
                                aria-labelledby="img-5-tab">
                                <img src="/img/blog-detail/gallery-img-5.png" alt="gallery-img-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================== End Page Gallery Section ==============================-->
</div>