<section id="th-product-configurator" class="th-product-configurator th-section-py" data-v-component-productconfigurator>
  <div class="container th-container">
    <div class="row">
      <div class="th-section-header th-section-header-pb-50 @@sectionHeaderClass" style="display: block">
        <div class="th-section-header-wrapper text-center">
          <h3 class=" th-section-title th-section-title-mb" data-v-productconfigurator-section-title> Product Configurator </h3>
          <div class="th-section-subtitle th-section-subtitle-mb" data-v-productconfigurator-section-subtitle_n>
            Tailor this product to your project. Select your preferred finishes and configurations to suit your space.
          </div>
        </div>
      </div>           
      <div class="section-body" id="th-product-configurator-app"></div>
    </div>
  </div>
</section>

<script data-v-productconfigurator-script>
  // Make sure it's on window
  // if (typeof Sortable !== 'undefined') {
  //     window.Sortable = window.Sortable || Sortable;
  // }
  // // Also try to make it available for CommonJS/UMD module systems
  // if (typeof module !== 'undefined' && module.exports && typeof window.Sortable !== 'undefined') {
  // module.exports.Sortable = window.Sortable;
  // }
</script>