<section id="th-products-list" class="" data-v-component-productlist>
  <div class="container th-container">
    <div id="product-desk-modesty-panel">
      <div class="row">
        <div class="col-12">
          <div class="th-section-header th-section-header-pb-50">
            <div class="th-section-header-wrapper">
              <h2 class="th-section-title th-section-title-mb" data-v-productlist-section_title>All Products</h2>

              <div class="th-section-subtitle th-section-subtitle-mb" style="font-size: 16px;" data-v-productlist-section_subtitle>
                Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
              </div>
            </div>
          </div>

          <!-- ============================== Product Filters ============================== -->
          <!-- Static placeholder for filters -->
          <div class="product-filters">
            <!-- Add your filter UI here -->
          </div>
          <!-- ========================== End Product Filters ========================== -->
        </div>
      </div>

      <div class="row th-products-list-wrapper">

        <!-- Product Item Start -->
        <div class="th-item-product col-6 col-sm-6 col-md-4 col-lg-4">
          <div class="th-img-container th-cateogry-product-image">
            <a href="#" class="justify-content-center" data-v-productlistitem-link>
              <img src="https://via.placeholder.com/400x400" alt="Product Image" data-v-productlistitem-image />
            </a>
          </div>

          <div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30" data-id="1" data-toggle="tooltip"
          data-placement="top"
          title=""
          role="button"
          tabindex="0"
          data-bs-original-title="Add to Pinboard"
          data-original-title="Add to Pinboard" data-model="product"
            data-title="Product Name" data-description="Product description"
            data-image="https://via.placeholder.com/400x400" data-v-productlistitem-add-to-pinboard>
            <i class="fa-regular fa-plus"></i>
          </div>

          <div class="th-item-footer">

            <a href="#" data-v-productlistitem-link>
              <h3 class="th-item-title th-prouct-title-my th-link" data-v-productlistitem-name>
                Product Name
              </h3>
            </a>


            <p class="th-description th-mb-10" data-v-productlistitem-description>
              Product short description goes here.
            </p>

            <div class="th-tag-name" data-v-productlistitem-tags>
              <div class="th-tag th-tag-p" data-v-productlistitemtag-name>AFRDI Certified</div>
              <div class="th-tag th-tag-p" data-v-productlistitemtag-name>OBP Certified</div>
            </div>
          </div>
        </div>
        <!-- Product Item End -->

      </div>

      <!-- ============================== Pagination ============================== -->
      <!-- <div class="row">
        <div class="col-lg-4"></div>

        <div class="col-lg-6 col-12">
          <div class="d-flex justify-content-center">
            <button class="th-btn-gray text-capitalize mt-50">
              <span class="mr-5">Load More</span>
            </button>
          </div>
        </div>
      </div> -->
      <!-- ============================== End Pagination ============================== -->
    </div>

  </div>
</section>