<div class="swiper-slide">
    <img src="@@image" />
    <div class="add-to-pinboard position-absolute top-right-30">
      <i class="fa-solid fa-plus"></i>
    </div>
    <div class="slider-footer">
      
      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">@@title</h6>
      <p class="th-blog-slider-description">
        @@description
      </p>
      
      <div class="link">
        <div class="link-text pr-5">@@linkText</div>
        <div class="link-icon-btn">
          <i class="fa-regular fa-arrow-up degree-60"></i>
        </div>
      </div>
    </div>
  </div>