<div class="th-booking-form-container">
  <div class="th-booking-selected-member d-flex align-items-center mb-20">
    <div class="th-booking-member-avatar">
      <img src="/img/contact/member-avatar.png" alt="Member Avatar" />
    </div>
    <div class="th-member-info pb-0">
      <p class="th-member-position">Meet With</p>
      <p class="th-member-name">Devon Lane</p>
    </div>
  </div>
  <form>
    <div class="th-input-group">
      <label for="choose-members">Member</label>
      <select
        class="form-control th-choices-select"
        name="choose-members"
        id="choose-members"
        placeholder="This is a placeholder"
      >
        <option value="superman" selected>Superman</option>
        <option value="batman">Batman</option>
        <option value="galactus">Galactus</option>
        <option value="spawn">Spawn</option>
      </select>
    </div>
    <div class="th-input-group">
      <label for="choose-location">Location</label>
      <select
        class="form-control th-choices-select"
        name="choose-members"
        id="choose-location"
        placeholder="This is a placeholder"
      >
        <option value="superman" selected>Superman</option>
        <option value="batman">Batman</option>
        <option value="galactus">Galactus</option>
        <option value="spawn">Spawn</option>
      </select>
    </div>
    <div class="th-input-group">
      <label for="choose-tour-type">Tour Type</label>
      <select
        class="form-control th-choices-select"
        name="choose-members"
        id="choose-tour-type"
        placeholder="This is a placeholder"
      >
        <option value="superman" selected>Superman</option>
        <option value="batman">Batman</option>
        <option value="galactus">Galactus</option>
        <option value="spawn">Spawn</option>
      </select>
    </div>
  </form>
</div>
