<div class="bg-black p-50 position-relative">
  <div class="position-relative pb-3">
    @@include('./all-btn/btn-white.html')
  </div>
  <div class="position-relative">@@include('./all-btn/btn-outline.html')</div>
  @@include('./all-btn/btn-pinboard.html')
  <br />
  @@include('./all-btn/btn-play.html')
</div>

<div class="bg-white p-50">
  <div class="th-doc-actions">
    @@include('./all-btn/btn-primary.html') @@include('./all-btn/btn-gray.html')
  </div>
</div>

<div class="bg-gray p-50">
  @@include('./all-btn/icon-link-large.html')
  @@include('./all-btn/icon-link-small.html')
  @@include('./all-btn/icon-link.html')
  @@include('./all-btn/icon-link-deg.html')
</div>
