<div class="th-calendar-container">
  <div class="booking-calendar-wrapper">
    <div class="th-booking-calendar">
      <input
        class="d-none"
        type="text"
        placeholder="Select Date.."
        data-input
      />
    </div>
  </div>
  <div class="th-timezone-selector pt-50">
    <h4>Time Zone</h4>
    <div class="th-input-group">
      <i class="fa-solid fa-globe"></i>
      <select
        class="form-control th-choices-select"
        name="choose-members"
        id="choose-timezone"
        placeholder="This is a placeholder"
      ></select>
    </div>
  </div>
</div>
