<div class="th-image-top-icon-container mt-40">
  <div class="th-image-top-icon-item position-relative">
    <div class="th-img-container">
      <img
        src="/img/search-canvas/top-icon-img-01.png"
        alt="Category Image"
        class="img-fluid rounded"
      />
    </div>
    <div class="th-section-header-link th-top-icon-link">
      <span class="th-section-header-link-text">All Categories</span>
      <span class="th-section-header-link-icon">
        <i class="fa-regular fa-arrow-up degree-60"></i>
      </span>
    </div>
  </div>
</div>
