<div class="@@itemClass">
  <div class="th-item-img-card d-flex flex-column align-items-center">
    <div class="th-img-container">
      <img src="@@image" 
      alt="" class="th-rounded-circle mb-3" style="max-width: 164px;">
    </div>
    <div class="th-item-img-content mt-30">
      <h6 class="th-title-22 font-weight-700">@@title</h3>
      <div class="th-link mt-30">
        <a href="@@linkUrl" class="th-link-text pr-5 ">
          <div class="th-link-text pr-5 ">@@linkText</div>
          <div class="th-link-icon-btn">
            <i class="fa-regular fa-arrow-up degree-60"></i>
          </div>
        </a>
      </div>    
    </div>
  </div>
</div>