<div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap">
    <div class="th-item-blog">
        <div class="th-list-img">
            <div class="th-img-container">
                <img src="@@image" alt="" />
            </div>
            <div class="add-to-pinboard position-absolute top-right-30">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="card-footer">
            <h3 class="font-weight-400">@@title</h3>
            <div class="link th-read-more-btn">
                <div class="link-text pr-5">@@linkText</div>
                <div class="link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                </div>
            </div>
        </div>
    </div>
</div>