<div class="col-md-4 col-sm-4">
  <div class="th-pinboard-img">
    <button class="th-close-btn">&times;</button>
    <!-- Move close button here -->
    <img
      src="/img/pinboard/pinboard img 1.png"
      alt="Miro Task Chair"
      class="card-img pr-5"
    />
  </div>
</div>
<div class="col-md-8 col-sm-8">
  <div class="card-content">
    <div class="w-100">
      <h3 class="font-weight-700">Product</h3>
      <p class="">Miro Task Chair - Black Fabric Seat / Black Mesh Black</p>
    </div>

    <div class="fabric-img">
      <img src="/img/pinboard/fabric img.png" alt="" />
    </div>

    <input type="text" class="comment-box" placeholder="Add A Comment" />
  </div>
</div>
