<div class="th-suggestion-item-card">
  <!-- Image Section -->
  <div class="th-img-container border position-relative">
    <img
      src="/img/offcanvas/offcanvas-sugg-img01.png"
      class="card-img-top"
      alt="Suggestion Item Card Image"
    />
    <div class="th-link d-flex justify-content-center align-items-center mb-30">
      <div class="th-link-text pr-5">Configure Product</div>
      <div class="th-link-icon">
        <i class="fa-regular fa-arrow-right"></i>
      </div>
    </div>
  </div>

  <div class="card-body mt-20 ml-10">
    <h6 class="th-title-18">Archi - Next Level Flexibility</h6>
    <p class="body-font-size">Product</p>
  </div>
</div>
