<div class="th-offcanvas-containr">
  <h4 class="th-ofcanvas-comment-title">Additional Notes</h4>
  <textarea
    class="comment-box th-offcanvas-comment-box th-off-large-commentbox"
    placeholder="Add A Comment Or Upload Any File"
  ></textarea>

  <div class="th-doc-actions d-flex justify-content-end">
    <a href="contact.html" class="th-btn-gray text-capitalize mr-10">
      <span class="mr-5">Upload</span>
    </a>
    <a href="contact.html" class="th-btn-primary text-capitalize">
      <span class="mr-5">Comment</span>
    </a>
  </div>

  <div class="th-doc-actions d-none">
    <div class="position-relative pb-3">
      <a href="contact.html" class="th-btn-gray text-capitalize w-100">
        <span class="mr-5">Visit Our Showroom</span>
        <i class="fa-regular fa-arrow-up degree-60"></i>
      </a>
    </div>
    <div class="position-relative pb-3 w-50">
      <a href="contact.html" class="th-btn-primary text-capitalize w-100">
        <span class="mr-5">Visit Our Showroom</span>
        <i class="fa-regular fa-arrow-up degree-60"></i>
      </a>
    </div>
  </div>
</div>
