<div class="row th-tab-container">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <a
      href="#credit"
      class="th-btn-gray text-capitalize w-100 active"
      data-bs-toggle="tab"
    >
      <span class="mr-5">Credit Card</span>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <a
      href="#deposit"
      class="th-btn-gray text-capitalize w-100"
      data-bs-toggle="tab"
    >
      <span class="mr-5">Direct Deposit</span>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <a
      href="#bpay"
      class="th-btn-gray text-capitalize w-100"
      data-bs-toggle="tab"
    >
      <span class="mr-5">B Pay</span>
    </a>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <a
      href="#cheque"
      class="th-btn-gray text-capitalize w-100"
      data-bs-toggle="tab"
    >
      <span class="mr-5">Cheque</span>
    </a>
  </div>
</div>

<!-- Tab Content -->
<div class="tab-content mt-3">
  <div class="tab-pane fade show active" id="credit">
    <div class="th-order-payment-tab-content-wrapper">
      <div class="th-payment-way-left d-flex">
        <div class="th-payment-total-wrapper">
          <div class="form-check d-flex align-items-center flex-row">
            <input
              class="form-check-input mr-20"
              type="radio"
              value=""
              id="flexCheckDefault"
            />
            <h6 class="form-check-label th-title-20" for="flexCheckDefault">
              50% Deposit Payment Due
            </h6>
          </div>
          <div
            class="form-check d-flex align-items-center flex-row th-payment-order-gap"
          >
            <input
              class="form-check-input mr-20"
              type="radio"
              value=""
              id="flexCheckDefault"
            />
            <h6 class="form-check-label th-title-20" for="flexCheckDefault">
              Full Payment
            </h6>
          </div>
        </div>
        <div class="th-payment-way-right ml-80">
          <h6
            class="th-title-20 font-weight-400 gray-color th-payment-deposit-gap"
          >
            599.89$
          </h6>
          <h6
            class="th-title-20 font-weight-400 gray-color th-payment-order-gap"
          >
            599.89$
          </h6>
        </div>
      </div>
      <div class="border-bottom-gray th-order-tab-content-border my-20"></div>
      <div class="th-pay-now d-flex">
        <div class="th-payment-way-left">
          <div
            class="form-check d-flex align-items-center flex-row th-order-soupport-left-gap"
          >
            <h6
              class="form-check-label th-title-20 th-order-soupport-left-gap"
              for="flexCheckDefault"
            >
              To Pay Now
            </h6>
          </div>
        </div>
        <div class="th-payment-way-right ml-50">
          <h6
            class="th-title-20 font-weight-400 gray-color th-payment-total-order th-payment-total-order-pay-now"
          >
            599.8$
          </h6>
        </div>
      </div>

      <div class="th-payment-way-left d-flex mt-40">
        <div class="th-payment-total-wrapper">
          <div
            class="form-check d-flex align-items-center flex-row th-order-soupport-left-gap"
          >
            <h6
              class="form-check-label th-title-20 th-order-soupport-left-gap"
              for="flexCheckDefault"
            >
              Supported Cards
            </h6>
          </div>
        </div>
        <div class="th-payment-way-right ml-80">
          <h6
            class="th-title-20 font-weight-400 gray-color th-payment-deposit-gap th-payment-total-order-standrad-card"
          >
            <i class="fa-light fa-credit-card" style="color: #ffd43b"></i>
            <i class="fa-brands fa-cc-mastercard fa-1x text-danger"></i>
            <i class="fa-light fa-credit-card" style="color: #ffd43b"></i>
          </h6>
        </div>
      </div>
      <div class="th-order-modal-pay d-flex">
        <a href="contact.html" class="th-btn-primary text-capitalize">
          <span class="mr-5">Pay Now</span>
          <i class="fa-regular fa-arrow-up degree-60"></i>
        </a>
        <div class="th-modal-powerdby">
          <span><i>Powered By</i></span>

          <img
            src="/img/modal/paypal-img.png"
            alt="payment-icon"
            width="84px"
            height="28px"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="deposit">
    <p>Direct Deposit Payment Details...</p>
  </div>
  <div class="tab-pane fade" id="bpay">
    <p>B Pay Payment Details...</p>
  </div>
  <div class="tab-pane fade" id="cheque">
    <p>Cheque Payment Details...</p>
  </div>
</div>
