<div class="th-pinboard-comment-container">
  <h6 class="th-pinboard-comment-title font-weight-500 mb-10">
    Additional notes
  </h6>
  <div class="th-pinboard-coment-box">
    <textarea
      class="mb-10"
      rows="4"
      placeholder="Write your comment here..."
    ></textarea>
  </div>
  <div class="th-doc-actions d-flex justify-content-end">
    <a href="contact.html" class="th-btn-gray text-capitalize mr-10">
      <span class="mr-5">Upload</span>
    </a>
    <a href="contact.html" class="th-btn-primary text-capitalize">
      <span class="mr-5">Comment</span>
    </a>
  </div>
</div>
