<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header th-header-upper">
    <!-- Left icon with Bootstrap offcanvas close functionality -->
    <i
      class="fa-solid fa-chevron-left left-icon"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></i>
    <h4 id="offcanvasRightLabel">Virtual Pinboard</h4>
    <!-- Change Pinboard text -->
    <p class="change-pinboard">Change Pinboard</p>
  </div>

  <div class="offcanvas-header th-header-lower">
    <h5 id="offcanvasRightLabel">Your List</h5>
  </div>
  <div class="offcanvas-body">
    <div class="th-pinboard">
      <!-- Card 1 -->
      <div class="th-pinboard-upper th-ofc-pinboard-item-upper">
        <div class="row row-1 th-pinboard-item">@@include('./offcanvas-pinboard-item.html')</div>

        <div class="row row-2 th-pinboard-item">
          <div class="col-md-4 col-sm-4">
            <div class="th-pinboard-img">
              <button class="th-close-btn">&times;</button>
              <!-- Move close button here -->
              <img
                src="/img/pinboard/pinboard img 2.png"
                alt="Arc Screen"
                class="card-img pr-5"
              />
            </div>
          </div>

          <div class="col-md-8 col-sm-8">
            <div class="card-content w-100">
              <h3 class="font-weight-700">Project</h3>
              <p class="fiorelli">Fiorelli Packing</p>
              <span class="fiorelli-lorem"
                >Lorem Ipsum Dolor Sit Amet Consetetur</span
              >
              <input
                type="text"
                class="comment-box"
                placeholder="Add A Comment"
              />
            </div>
            <!-- Hide close button in this div for screens less than 576px -->
            <button class="th-close-btn th-close-btn-mobile">&times;</button>
          </div>
        </div>

        <div class="row row-3 th-pinboard-item">
          <div class="col-md-4 col-sm-4">
            <div class="th-pinboard-img">
              <button class="th-close-btn">&times;</button>
              <!-- Move close button here -->
              <img
                src="/img/pinboard/pinboard img 3.png"
                alt="Arc Screen"
                class="card-img pr-5"
              />
            </div>
          </div>

          <div class="col-md-8 col-sm-8">
            <div class="card-content w-100">
              <h3 class="font-weight-700">Product</h3>
              <p class="">Arc Screen - Black Fabric Seat / Black Mesh Black</p>

              <div class="fabric-color-img">
                <img src="/img/pinboard/fabric color img.png" alt="" />
              </div>
              <input
                type="text"
                class="comment-box"
                placeholder="Add A Comment"
              />
            </div>
            <!-- Hide close button in this div for screens less than 576px -->
            <button class="th-close-btn th-close-btn-mobile">&times;</button>
          </div>
        </div>
      </div>
    </div>
    <div class="th-pinboard-lower">
      @@include('./offcanvas-pinboard-comment.html')
    </div>
  </div>
</div>
