
<div class="th-masonry-grid-item grid-col-span-@@span @@class"
        style="transform: translateY(@@top px);padding-top:@@padding-top px">
    <div class="th-item-img">
        <img src="@@img" alt="Product 1" />
    </div>
    <div class="th-product-info-wrapper">
        <div class="th-item-info">
            <h3 class="th-title">
                @@include("./all-btn/icon-link.html", {
                    "link_text": "@@heading"
                })
            </h3>
            <p class="th-item-description">
              @@des
            </p>
        </div>
    </div>
</div>
          