<div class="th-search-with-icon-container">
  <div class="th-search-with-icon-input position-relative">
    <!-- Search Input Box -->
    <input
      type="text"
      class="form-control custom-search-box"
      placeholder="Search for products"
      aria-label="Search"
    />

    <!-- Search Icon on Right -->
    <div
      class="search-icon position-absolute top-50 end-20 translate-middle-y pe-3"
    >
      <i class="fa fa-search"></i>
    </div>

    <!-- Close Icon on Right, Near the Search Icon -->
    <div
      class="close-icon position-absolute top-50 end-0 translate-middle-y pe-2 cursor-pointer"
    >
      <i class="fa fa-times"></i>
    </div>
  </div>
</div>
