<div class="th-subscription pl-50 pl-md-0">
    <div class="th-subscription-heading">
        <div class="th-subscription-icon">
            <i class="fa-thin fa-envelope"></i>
        </div>
        <div class="th-subscription-details">
            <div class="sub-title m-0">@@subscription_title</div>
            <div class="description">@@subscription_description</div>
        </div>
    </div>
    <div class="th-subscription-form">
        <label class="pr-15">
            <input type="text" placeholder="Your Email Address Please" />
        </label>
        <div class="link">
            <div class="link-text pr-5">@@subscription_button_text</div>
            <div class="link-icon"><i class="fa-regular fa-arrow-right"></i> </div>
        </div>
    </div>

    <div class="th-footer-navigation">
        <ul>
            <li class="pl-0">
                <span class="link"><a href="#"> Our Store</a></span>
            </li>
            <li>
                <span class="link"><a href="#"> Visit Us</a></span>
            </li>
            <li class="border-right-0">
                <span class="link"><a href="#"> Catalogue</a></span>
            </li>
        </ul>
    </div>

    <div class="th-footer-follow pt-30">
        <p class="text-weight-600">Follow Us:</p>
        <div class="social-media">
            <ul>
                <li>
                    <span class="link">
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </span>
                </li>
                <li>
                    <span class="link">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </span>
                </li>
                <li>
                    <span class="link">
                        <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
                    </span>
                </li>
                <li>
                    <span class="link">
                        <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>