<!--============================== Section Design Resources Template ==============================-->
<section id="design-resources">
    <div class="container th-container">

      <div class="section-header mb-80">
        <div class=" w-100">
          <div class="th-bredcrum">
            <div aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Design resources</li>
              </ol>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="section-body">
          <div class="row">
            <div class="col-md-12">

              <div class="th-head-tab-navigation-container d-flex justify-content-center">
                <!-- Flex container for centering -->
                <ul class="nav nav-tabs d-flex justify-content-between th-center-tab" id="th-tab-navigation" role="tablist">
                  <li class="nav-item " role="presentation">
                    <button class="nav-link th-tab-color active" id="images-tab" data-bs-toggle="tab" data-bs-target="#images" type="button" role="tab">
                      IMAGES
                    </button>
                  </li>
                  <li class="nav-item " role="presentation">
                    <button class="nav-link th-tab-color" id="model-tab" data-bs-toggle="tab" data-bs-target="#model" type="button" role="tab">
                      2D / 3D MODELS
                    </button>
                  </li>
                  <li class="nav-item " role="presentation">
                    <button class="nav-link th-tab-color" id="documents-tab" data-bs-toggle="tab" data-bs-target="#documents" type="button" role="tab">
                      DOCUMENTS AND GUIDES
                    </button>
                  </li>
                  <li class="nav-item " role="presentation">
                    <button class="nav-link th-tab-color" id="finishes-tab" data-bs-toggle="tab" data-bs-target="#finishes" type="button" role="tab">
                      FINISHES
                    </button>
                  </li>
                  <li class="nav-item " role="presentation">
                    <button class="nav-link th-tab-color" id="textiles-tab"  data-bs-toggle="tab" data-bs-target="#textiles" type="button" role="tab">
                      TEXTILE
                    </button>
                  </li>
                </ul>
              </div>

              <div class="row">
                <div class="col-lg-4 mr-60 col-12">
                  <div class="th-sidebar-container pr-md-40">
                    <form class="th-from-margin th-sidebar-form">
                      <div class="th-input-group pl-0 th-border-top">
                        <select class="form-control th-choices-select z-index-10" name="choose-members" id="choose-resorce-type" placeholder="Select Resource Type">
                        </select>
                      </div>
                      <div class="th-input-group pl-0 @@topClass">
                        <select class="form-control th-choices-select z-index-10" name="choose-members" id="choose-product-category" placeholder="Product Category">
                        </select>
                      </div>
                      <div class="th-input-group pl-0 @@topClass">
                        <select class="form-control th-choices-select z-index-10" name="choose-members" id="choose-product-name" placeholder="Product Name">
                        </select>
                      </div>
                      <a href="#" class="th-btn-gray text-capitalize w-100 mt-50">
                        <span class="mr-5">
                          Download All
                        </span>
                        <i class="fa-regular fa-arrow-up degree-60"></i>
                      </a>
                    </form>
                  </div>
                </div>

                <div class="col-lg-8 col-12 tab-content" id="th-tab-navigation-content">
                  <div class="tab-pane fade show active" id="images" role="tabpanel" data-v-component-designresourceimages>
  
                    <div class="row pl-10 pb-30" data-v-designresourceimages-total_result>Images: 154 Results</div>

                    <div class="row row-gap-50">
                      <div class="col-12">
                        <div id="th-resources-images" class="th-img-masonry-grid" data-v-designresourceimages-images>

                          <div class="th-masonry-img-item th-masonry-img-item-8-4" data-v-designresourceimages-image-src data-src="/img/design-resources/images/img-1.png">
                            <div class="th-masonry-img" data-v-designresourceimages-image-bg-src data-bg-src="/img/design-resources/images/img-1.png">
                              <div class="th-masonry-img-content">
                                <h6 data-v-designresourceimages-image-title>Archi</h6>
                                <div class="th-btn-download-white">
                                  <i class="fa-solid fa-arrow-down"></i>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="th-masonry-img-item th-masonry-img-item-8-6" data-src="/img/design-resources/images/img-2.png">
                            <div class="th-masonry-img" data-bg-src="/img/design-resources/images/img-2.png">
                              <div class="th-masonry-img-content">
                                <h6>Sofa</h6>
                                <div class="th-btn-download-white">
                                  <i class="fa-solid fa-arrow-down"></i>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="th-masonry-img-item th-masonry-img-item-8-6" data-src="/img/design-resources/images/img-3.png">
                            <div class="th-masonry-img" data-bg-src="/img/design-resources/images/img-3.png">
                              <div class="th-masonry-img-content">
                                <h6>Workstations</h6>
                                <div class="th-btn-download-white">
                                  <i class="fa-solid fa-arrow-down"></i>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="th-masonry-img-item th-masonry-img-item-8-4" data-src="/img/design-resources/images/img-4.png">
                            <div class="th-masonry-img" data-bg-src="/img/design-resources/images/img-4.png">
                              <div class="th-masonry-img-content">
                                <h6>Kobe</h6>
                                <div class="th-btn-download-white">
                                  <i class="fa-solid fa-arrow-down"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="th-masonry-img-item th-masonry-img-item-16-6" data-lg-size="1280-720" data-pinterest-text="Pin it3" 
														data-tweet-text="lightGallery slide  4" data-src="https://youtu.be/IUN664s7N-c" data-poster="/img/design-resources/images/img-5-poster.png" 
                          	data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the </p>">
                            <div class="th-masonry-img" data-bg-src="/img/design-resources/images/img-5.png">
                              <div class="th-masonry-img-content">
                                <h6>Desks</h6>
                                <div class="th-btn-download-white">
                                  <i class="fa-solid fa-arrow-down"></i>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

										<div class="row justify-content-center mt-50">
											<div class="col-auto pt-100" style="display:none;">
												<p id="total-images-count">0</p>
												<p id="current-page">1</p>
												<p id="per-page">5</p>
											</div>
											<div class="col-auto">
												<button class="btn th-btn-gray load-more" id="load_more_button">Load More</button>
											</div>
										</div>
                  </div>
                  <!-- <div class="tab-pane fade" id="model" role="tabpanel"></div>
                  <div class="tab-pane fade" id="documents" role="tabpanel"></div>
                  <div class="tab-pane fade" id="finishes" role="tabpanel"></div>
                  <div class="tab-pane fade" id="textiles" role="tabpanel"></div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============================== End Design Template ==============================-->

  <style>
    #th-resource-images-app {
      animation: slideDownResourceImagesApp 0.5s ease;
    }

    @keyframes slideDownResourceImagesApp {
      from {
        opacity: 0;
        transform: translateY(-40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>