<div id="account-navigation" class="col-12 col-md-4 col-lg-3 border-right-gray th-remove-border"
    data-v-component-accountnavigation>
    <div class="row th-sidebard">
        <div class="col-12">
            <div class="profile-info">
                <!-- <div class="profile-pic">
                    <div class="profile-pic-initials rounded-circle" data-v-account-profile-initials>CW</div>
                    <input id="account-profile-photo-upload" type="file" accept="image/*" class="d-none"
                        data-v-account-profile-upload>
                    <label for="account-profile-photo-upload" class="profile-pic-edit-btn"
                        aria-label="Upload profile photo" style="right:90px">
                        <i class="fa-solid fa-pencil" aria-hidden="true"></i>
                    </label>
                </div> -->
                <!-- <div class="profile-text">
                    <h6 data-v-account-profile-name>Cameron Williamson</h6>
                    <p data-v-account-profile-desc>Lorem Ipsum</p>
                </div> -->
                <div id="account-sidebar-list" class="sidebar-list">
                    <div class="sidebar">

                        <!-- <h6 class="th-account-profile-name mb-30 font-size-16" data-v-account-profile-email>Cameron Williamson</h6> -->

                        <ul data-v-account-sidebar-nav class="sidebar-nav flex-column">
                            <li class="sidebar-nav-item">
                                <a data-v-account-sidebar-link href="#" class="nav-link active font-size-16">
                                    <i class="fas fa-shopping-cart"></i> <span>Recent Orders</span>
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-file"></i> Active Quotes
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-user"></i>Scheduled Services
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-heart"></i>Virtual Pinboard
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-gear"></i> Service Requests
                                </a>
                            </li>
                            <li class="sidebar-nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa-solid fa-truck"></i> Track your Order
                                </a>
                            </li>
                        </ul>
                        <div class="col-12 d-flex justify-content-center pt-40 d-none">
                            <div data-v-account-sidebar-actions
                                class="th-card-btn d-flex flex-column align-items-cente">
                                <div class="position-relative pb-3">
                                    <a data-v-account-sidebar-action-link href="contact.html" class="text-capitalize">
                                        <span class="mr-5">Visit Our Showroom</span>
                                        <i class="fa-regular fa-arrow-up degree-60"></i>
                                    </a>
                                </div>
                                <div class="position-relative pb-3">
                                    <a href="contact.html" class="text-capitalize">
                                        <span class="mr-5">Contact Sales</span>
                                        <i class="fa-regular fa-arrow-up degree-60"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>