<!--============================== Start Login Page ==============================-->
  <section id="login-page" class="th-login pt-0" data-v-component-login>
    <div class="container th-container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="th-img-container">
                  <img src="/img/login/login-img.png" alt="" data-v-login-image>
                </div>
            </div>
            <div class="col-md-6">
                <div class="th-login-form-container pt-100">
                    <div class="th-login-form-header">
                        <h2 data-v-login-section_title>Sign up</h2>
                        <p data-v-login-section_description>Create an account to access your account details, track the status of your orders and view saved specification lists.</p>
                    </div>
                    <div class="th-login-form-body">
                        <form class="th-form" id="login-form" action="">
                            <div class="form-group ">
                                <label data-v-login-name_input_label for="@name">Full Name*</label>
                                <input data-v-login-name_input_placeholder type="text" name="@name" placeholder="Enter your name">
                            </div>
                            <div class="form-group ">
                                <label data-v-login-email_input_label for="@name">Enter Your Email*</label>
                                <input data-v-login-email_input_placeholder type="email" name="@name" placeholder="Enter your email">
                            </div>
                            <div class="form-group ">
                                <label data-v-login-password_input_label for="@name">Create A Password*</label>
                                <input data-v-login-password_input_placeholder type="password" name="@name" placeholder="Enter your password">
                            </div>
                            <!-- Submit Button -->
                            <div class="form-group my-40 ">
                                <button data-v-login-submit_button_label type="submit" class="th-btn-primary w-100">
                                <span data-v-login-submit_button_label>
                                    Sign Up <span>&#8599;</span>
                                </span>
                                </button>
                            </div>
                        </form>
                        <div class="th-login-form-footer text-center">
                        <p>Already have an account? <a class="th-underline th-bold" href="#">Login</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--============================== End Login Page ==============================-->