.th-blog-slider-title{
margin-top: 18px !important;
}
.th-blog-slider-description{
    margin-top: 18px !important;
    margin-bottom: 28px !important;
}

// Extra spacing between subtext and Read More in home blog slider
.home-blog-slider .slider-footer p {
    margin-bottom: 28px !important;
}
