.th-products-list-wrapper {
  row-gap: 100px;
}
.gr-bg8{
  .th-item-product,
  .th-item-project{
    .th-img-container{
      border:none;
    }
  }
}
.th-featured-products-slider,
.th-products-list-wrapper{
.th-item-product{
  .th-img-container{
    min-height: 351px;
  }
}
}

.product-related-slider{
  .th-item-product{
    min-height: 357px;
    height: 100%;

    .th-img-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 281px;
      height: 281px;

      > a {
        justify-content: center;
        flex: 1;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        height: 100%;

        > img {
          width: 100%;
          height: 100%;
          max-width: 100%;
          object-fit: contain;
        }
      }

      > img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }

    @include respond-to(sm) {
      min-height: auto;

      .th-img-container {
        min-height: 220px;
        height: 220px;
        max-height: 220px;
      }

      .th-prouct-title-my {
        margin-top: 12px;
        margin-bottom: 10px;
      }
    }
  }
}
.th-item-product,
.th-item-project {
  position: relative;
  background-color: $white;
  .th-img-container {
    // min-height: 452px; //breaking Project list design
    display: flex;
    flex-direction: column;
    border: 1px solid $gray;
    min-height: 268px;
    
    &.th-cateogry-product-image,
    &.th-product-image {
      // padding: 0 40px;
      justify-content: center;
      min-height: 351px;
      height: 351px;
      > a{
        justify-content: center;
        flex:1;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
          max-width: 100%;
          object-fit: contain;
        }

      }
      @include respond-to(mds) {
        min-height: 220px;
        max-height: 220px;
        padding: 0px;
        > a{
          > img {
            max-width: 100%;
          }
        }
      }
    }
    
    @include respond-to(sm) {
      min-height: 225px;
    }
  }
  
  .th-item-footer {
    .th-tag-name {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      .th-tag {
        background-color: #eaeaec;
        color: #5a5a5a;
        // padding: 4px 8px;
        // font-size: 14px;
        white-space: nowrap;
        flex: 1;
      }
      &.white {
        .th-tag {
          background-color: $white;
        }
      }
    }

    .th-item-finish-circle {
      display: flex;
      gap: 10px;
      padding-top: 10px;
      .th-circle {
        flex: 1;
        aspect-ratio: 1;
        max-width: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 10px;
        // font-weight: 400;
        text-align: center;
        padding: 6px;
        line-height: 1.1;
        word-wrap: break-word;
        overflow: hidden;
      }
      /* First two circles */
      .black-fabric,
      .black-premium {
        background-color: #231f20;
        color: #ffffff;
      }

      /* Third circle */
      .mocha-premium {
        background-color: #8c5534;
        color: #ffffff;
      }

      /* Fourth circle */
      .cream-premium {
        background-color: #c2c1bd;
        color: #33322f;
      }
    }
  }
}
.th-item-project {
  .th-img-container {
    border: none;
  }
}

/* Responsive for 480px */
@include respond-to(sm) {
  .th-products-list-wrapper {
    row-gap: 50px;
  }
  .th-item-product,
  .th-item-project {
    .th-tag-name span {
      padding: 3px;
    }
    .th-circle {
      font-size: 0; /* Hide text */
      text-indent: -9999px; /* Moves text out of view */
    }

    .th-item-footer .th-tag-name:nth-child(n + 3) {
      display: none;
    }

    .th-add-to-pinboard {
      right: 20px !important;
    }
    .th-description {
      font-size: 14px;
      line-height: 1.6em;
    }
    .th-item-finish-circle {
      padding-top: 0!important;
    }
  }
}

.container-show {
  display: block!important;
}
.container-hide {
  display: none!important;
}

.th-res-info {
  .th-resourece-subtitle {
      font-size: 16px !important;
      font-weight: 600;
      color: #9D9D9D;
      padding-top: 6px;
      padding-bottom: 20px;
  }
  .th-resourece-subtitle-textile {
      font-size: 12px !important;
      font-weight: 600;
      color: #9D9D9D;
      padding-top: 6px;
      padding-bottom: 20px;
  }
}
.finishe-list,
.textile-list{
  .th-res-img-wraper-textile{
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6 !important;
  }
}
