.th-item-card {
    .th-title-style {
        margin-top: 16px;
        font-size: 22px !important;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .th-description-style {
        font-size: 20px;
    }
}

