<section id="about-who-you" data-v-component-videogallerywhoweare class="th-section-custom-py about-who-you-anchor">
  <div class="d-flex justify-content-end pr-40 align-items-center position-absolute" style="right: 40px" data-v-videogallerywhoweare-component-link>
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="" target="_blank" class="">Edit</a>
  </div>
  <div class="gr-bg8-sm">
    <div class="container th-container">
      <div class="section-body">
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="th-section-header-wrapper">
              <div class="th-section-header-py">
                <h2 class="th-section-title" data-v-aboutwhoweare-section_title> Who We Are? </h2>
              </div>
              
              <div class="th-section-subtitle th-mt-40" data-v-aboutwhoweare-section_subtitle>
                Krost is an Australian commercial furniture company with over 35 years
                of experience shaping workplaces nationwide. We combine disciplined
                service, local manufacturing and refined design to deliver solutions
                definedbyqualityandcommercialintegrity
                defined by quality and commercial integrity.
              </div>
            </div>

          </div>
          <div class="col-12 col-md-7">
            <div id="whoWeAre" class="inline-video-gallery-container">
              <div class="inline-video-gallery-thumbnails-left" style="z-index: 1000;"></div>
            </div>
          
            <script data-v-gallery-whoweare></script>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>