<section id="about-pinciple" class="pb-0 position-relative th-section-py" data-v-component-ourprinciple>
    <div class="d-flex justify-content-end pr-40 align-items-center position-absolute" style="right: 40px" data-v-ourprinciple-component-link>
        <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
        <a href="" target="_blank" class="">Edit</a>
    </div>
    <div class="container th-container">
        <div class="th-about-principle-header pt-60">
            <h2 class="th-about-principle-title th-section-title-mb" data-v-ourprinciple-section_title>OUR PRINCIPLES</h2>
            <!-- <div class="th-section-subtitle" data-v-ourprinciple-description>Since we started selling office furniture back in <b>1989</b>, we've followed 3 key principles</div> -->
        </div>

        <div class="section-body">
            <div class="row principle-list">
              <div class="col-12 col-md-6 col-lg-4 mb-4 principle-item">
                  <div class="card h-100 shadow-none border-0">
                      <div class="th-item-number-card-container h-100 th-item-number-card-text-py">
                          <div class="th-item-card-number align-items-center">
                            <h3 class="display-1 fw-bold th-display-my" data-v-ourprincipleitem-number>01</h3>
                            <h5 class="th-mb-30 font-size-20" data-v-ourprincipleitem-title>
                                Commitment to Excellence
                            </h5>
                          </div>
                          <div class="th-description th-mb-20" data-v-ourprincipleitem-description>Service defines our benchmark. We
                            approach every project with discipline,
                            clarity and accountability, ensuring
                            consistency from planning through to
                            delivery and installation. </div>
                      </div>
                  </div>
              </div>



              <div class="col-12 col-md-6 col-lg-4 mb-4 principle-item">
                  <div class="card h-100 shadow-none border-0">
                      <div class="th-item-number-card-container th-item-number-card-text-py">
                          <div class="th-item-card-number align-items-center">
                              <h3 class="display-1 fw-bold th-display-my">02</h3>
                              <h5 class="th-mb-30">
                                Uncompromising Quality
                              </h5>
                          </div>
                          <p class="th-item-number-card-text mb-20">Quality informs every decision. Our
                            furniture and joinery are engineered
                            for commercial performance,
                            refined aesthetics and lasting
                            durability.</p>
                            <p>
                                With local manufacturing in Sydney,
                                we maintain control over materials,
                                detailing and finish.
                            </p>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-md-6 col-lg-4 mb-4 principle-item">
                <div class="card h-100 shadow-none border-0">
                    <div class="th-item-number-card-container th-item-number-card-text-py">
                        <div class="th-item-card-number lign-items-center">
                            <h3 class="display-1 fw-bold th-display-my">03</h3>
                            <h5 class="th-mb-30">
                                Sustainable Value
                            </h5>
                        </div>
                        <p class="th-item-number-card-text th-mb-20">We take a disciplined approach to
                            commercial performance. By
                            combining local production, efficient
                            systems and long-term thinking, we
                            offer fair pricing without
                            compromising on quality or service</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>