<section id="about-our-sustainable-value" class="th-our-history-section-py position-relative pt-0" data-v-component-aboutoursustainablevalue>
    <div class="d-flex justify-content-end th-pr-40 align-items-center position-absolute" style="right: 40px" data-v-aboutoursustainablevalue-component-link>
        <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
        <a href="" target="_blank" class="">Edit</a>
    </div>
    <div class="container th-container">
        <div class="th-section-header sectionHeaderClass th-section-header-pb-50" style="display: block">
            <div class="th-section-header-wrapper">
              <h2 class="th-section-title text-capitalize th-section-title-mb" data-v-aboutoursustainablevalue-section-title> OUR VALUE </h2>
              <div class="th-section-subtitle th-section-subtitle-mb" data-v-aboutoursustainablevalue-section-subtitle>
                Built on Substance, Defined by Standards
              </div>
            </div>
  
          </div>
        <div class="section-body">

            <div class="row">
                <div class="col-md-8 th-sustainable-border-right" data-v-aboutoursustainablevalue-left-content>
                    <div class="row th-mb-40" data-v-aboutoursustainablevalue-left-content-item>
                        <div class="col-md-4">
                            <div class="th-sustainable-value-logo d-flex" data-v-aboutoursustainablevalue-left-content-logo>

                                <img src="/media/about/sustainable-value/logo/logo1.png" alt="" data-v-aboutoursustainablevalue-left-content-logo-img1 loading="lazy">
                                <!-- <img src="/media/about/sustainable-value/logo/logo2.png" alt="" data-v-aboutoursustainablevalue-left-content-logo-img2> -->

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="th-sustainable-value-content" data-v-aboutoursustainablevalue-left-content-content>
                                <h6 class="th-value-subtitle" data-v-aboutoursustainablevalue-left-content-title>Ocean Bound Plastics</h6>
                                <p class="th-sustainable-value-description" data-v-aboutoursustainablevalue-left-content-description>Utilises recycled plastic collected from
                                    coastal areas at
                                    risk of ocean pollution, diverting waste from waterways
                                    and giving materials a second life in durable commercial
                                    products.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" data-v-aboutoursustainablevalue-right-content>
                    <div class="th-sustainable-value-right-item" data-v-aboutoursustainablevalue-right-content-image>
                        <img src="/media/about/sustainable-value/sustainable-value-right-image.png" alt="" loading="lazy">
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>