<div class="th-hero-wrapper th-hero gr-bg4 th-way-points" id="hero-about" data-v-component-heroabout
  data-v-heroabout-hero_image data-bg-src="/img/about/about-hero.png ">

  <div class="container th-container th-hero-section">
    <div class="row">
      <div class="col-xl-12">
        <div class="th-breadcrumb d-flex justify-content-between align-items-center">
          <div aria-label="breadcrumb">
            <ol class="breadcrumb font-white">
              <li class="breadcrumb-item  font-white">
                <a href="/" class="font-white">
                  Home
                </a>
              </li>
              <li class="breadcrumb-item  active font-white">
                <span class="active font-white" aria-current="page">
                  About Us
                </span>
              </li>
            </ol>
          </div>

          <div class="th-admin-links d-flex" style="gap: 10px;">
            <div class="text-white" data-v-heroabout-component-link style="z-index: 10; cursor: pointer;">
              <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
              <a href="" target="_blank" class="text-white">Component Edit</a>
            </div>
          </div>
        </div>

        <div class="th-hero-container gr-bg4">
          <div class="way-points-container" data-v-about-hero-waypoints>
            <div id="way-point-1" class="way-point" style="left: 30%; top: 40%;" data-v-about-hero-waypoint>
              <div class="circle-point" style="position: absolute;"></div>
              <div class="circle-point" style="position: absolute;"></div>

              <span class="way-point-link">
                <a href="point-1" target="_blank" data-v-about-hero-waypoint-link>point 1</a>
              </span>
            </div>
          </div>


          <div class="th-hero-style th-mt-115">
            <h1 class="th-hero-title About Us_class th-hero-title-mb" data-v-heroabout-hero_title>
              About Us
            </h1>
            <!-- <span class="th-hero-subtitle th-hero-subtitle-my" data-v-heroabout-hero_subtitle>Lorem ipsum dolor sit amet
              consectetur. Scelerisque urna pellentesque.</span> -->
            <!-- <div class="th-hero-wrapp th-pt-16">
              <div class="position-relative th-pb-16">
                <a href="contact.html" class="th-btn text-capitalize" data-v-heroabout-showroom_button_link>
                  <span class="th-mr-5" data-v-heroabout-hero_button_label_white>
                    Visit Our Showroom
                  </span>
                </a>
              </div>
              <div class="position-relative">
                <a href="contact.html" class="th-btn-outline text-capitalize"
                  data-v-heroabout-contact_sales_button_link>
                  <span class="th-mr-5" data-v-heroabout-hero_button_label_outline>
                    Contact Sales
                  </span>
                </a>
              </div>
            </div> -->


            <div class="th-hero-wrapp th-pt-16" data-v-heroabout-button_group>
              <div class="position-relative pb-3" data-v-heroabout-button_div>
                <a href="/contact-us" class="th-btn text-capitalize" data-v-heroabout-button_link>
                  <span class="mr-5" data-v-heroabout-button_label>
                    Visit Our Showroom
                  </span>
                </a>
              </div>
              <div class="position-relative" data-v-heroabout-button_div>
                <a href="/contact-sales" class="th-btn-outline text-capitalize" data-v-heroabout-button_link>
                  <span class="mr-5" data-v-heroabout-button_label>
                    Contact Sales
                  </span>
                </a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>