<section id="about-established" class="th-established-section-py position-relative" data-v-component-aboutestablished>
    <div class="d-flex justify-content-end pr-40 align-items-center position-absolute" style="right: 40px" data-v-aboutestablished-component-link>
        <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
        <a href="" target="_blank" class="">Edit</a>
    </div>
    <div class="th-established-section">
        <div class="th-about-established-images gap-10 th-container row" >
            <div class="th-about-established-images-container col-12 col-md-6" data-v-aboutestablished-images>
                <div class="th-about-established-image" data-v-aboutestablished-image>
                    <img src="/media/about/established-o1.png" alt="Established Image 1" class="">
                </div>
                <div class="th-about-established-image" data-v-aboutestablished-image>
                    <img src="/media/about/established-2.png" alt="Established Image 2" class="">
                </div>
            </div>
        </div>
        <div class="bg-gray th-established-section-wrapper">
            <div class="container th-container ">
                <div class="row align-items-center">
                    <!-- Left Side Image -->
                    <div class="col-12 col-md-6 mb-4" >
             
                    </div>

                    <!-- Right Side Content -->
                    <div class="col-12 col-md-6">
                        <div class="th-about-established-info th-established-info-py gap-30">
                            <h2 class="th-about-established-title" data-v-aboutestablisheditem-title>Established in 1989
                            </h2>
                            <div class="established-content-description th-mb-20 gap-20" data-v-aboutestablisheditem-description>
                                <p>
                                    For over three decades, Krost has shaped workplaces across Australia. Founded in Sydney
                                    by Colin and
                                    Steve Krost, the business extends a family heritage of quality manufacturing that spans
                                    generations.
                                </p>
                                <p>
                                    Our experience across diverse environments informs a disciplined approach to planning,
                                    design and
                                    delivery. This depth of knowledge defines our approach and underpins the consistency of
                                    our results.
                                </p>
                            </div>
                            <div class="established-content-button" data-v-aboutestablisheditem-button-link>
                                <a href="#about-who-you" class="th-btn-primary">Discover Who We Are</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>