<section id="design-process" data-v-component-ourdesignprocess>
    <div class="container th-container">
        <div class="th-section-header" style="display: block">
            <div class="th-section-header-wrapper text-center">
                <h2 class="th-section-title" data-v-ourdesignprocess-section_title> Our Design Process </h2>
                <div class="th-section-subtitle" data-v-ourdesignprocess-section_subtitle>
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </div>
            </div>

        </div>


        <div class="section-body" data-v-ourdesignprocess-items>
            <div class="row pb-110 design-resource-item" data-v-ourdesignprocessitem-class>
                <div class="col-md-6 pb-mds-50">
                    <div class="th-img-container">
                        <img src="/img/contact-us/design-process-1.jpg" class="img-fluid" alt="Planning"
                            data-v-ourdesignprocessitem-image />
                    </div>
                </div>
                <div class="col-md-6 text-content">
                    <span class="step-number 01Class" data-v-ourdesignprocessitem-step_number>01 </span>
                    <div class=" th-content-sub-item  th-sub-item">
                        <h4 class="th-sub-heading" data-v-ourdesignprocessitem-step_title>Planning </h4>
                        <p class="th-sub-heading-details" data-v-ourdesignprocessitem-step_description>
                            Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque
                            libero donec sit egestas orci consequat est mauris duis. In viverra hac vestibulum pretium.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row pb-110 flex-md-row-reverse th-mb design-resource-item" data-v-ourdesignprocessitem-class>
                <div class="col-md-6 pb-mds-50">
                    <div class="th-img-container">
                        <img src="/img/contact-us/design-process-2.jpg" class="img-fluid" alt="Planning" />
                    </div>
                </div>
                <div class="col-md-6 text-content">
                    <span class="step-number d-block text-end">02 </span>
                    <div class=" th-sub-item">
                        <h4 class="th-sub-heading">Proposal </h4>
                        <p class="th-sub-heading-details">
                            Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque
                            libero donec sit egestas orci consequat est mauris duis. In viverra hac vestibulum pretium.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row th-mb design-resource-item" data-v-ourdesignprocessitem-class>
                <div class="col-md-6 pb-mds-50">
                    <div class="th-img-container">
                        <img src="/img/contact-us/design-process-3.jpg" class="img-fluid" alt="Planning" />
                    </div>
                </div>
                <div class="col-md-6 text-content">
                    <span class="step-number 03Class">03 </span>
                    <div class=" th-content-sub-item no-border  th-sub-item">
                        <h4 class="th-sub-heading">Installation </h4>
                        <p class="th-sub-heading-details">
                            Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque
                            libero donec sit egestas orci consequat est mauris duis. In viverra hac vestibulum pretium.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>