<section id="th-gallery-manufacturingprocess" class="bg-white th-gallery-section-py position-relative" data-v-component-videogallerymanufacturingprocess
    data-v-videogallery-bakground-image data-bg-src="/img/project-detail/hero.png">
    <div class="d-flex justify-content-end th-pr-40 align-items-center position-absolute" style="right: 40px" data-v-videogallerymanufacturingprocess-component-link>
        <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
        <a href="" target="_blank" class="">Edit</a>
    </div>
    <div class="container th-container">
        <div class="section-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="row th-overlay-video-section">
                        <div class="col-sm-12 col-md-12 col-lg-4">

                            <div class="th-section-header-wrapper">
                                <div class="th-pb-40 section-title-wrapper">
                                    <h2 class="th-section-title" data-v-videogallerymanufacturingprocess-section_title>
                                        LOCAL MANUFACTURING</h2>
                                </div>

                                <div class="th-section-subtitle"
                                    data-v-videogallerymanufacturingprocess-section_subtitle>
                                    Our Sydney manufacturing
                                    facility combines advanced
                                    machinery with integrated
                                    production systems to deliver
                                    precision joinery and
                                    commercial furniture at scale.
                                    Structured processes and
                                    experienced teams ensure
                                    accuracy, consistency and
                                    reliable project outcomes.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-8">
               
                            <div id="manufacturingProcess" class="inline-video-gallery-container">
                                <div class="inline-video-gallery-thumbnails-left"></div>
                            </div>
                           
                        </div>
                    </div>
                    <script data-v-gallery-manufacturingprocess> </script>
                </div>
            </div>
        </div>
    </div>
</section>