<section id="th-goverment-supplier" class="gr-bg8" data-v-component-governmentsupplier>
    <div class="section-body">
        <div class="container th-container">
            <div class="th-goverment-container th-grid th-grid-cols-6 th-grid-rows-10 th-grid-row">
                <div data-v-governmentsupplier-image_one class="th-grid-area th-grid-area-1-1-7-6"
                    data-bg-src="/img/about/supplyar-img1.png">
                </div>
                <div class="th-grid-area th-grid-area-7-1-11-5">
                    <h2 data-v-governmentsupplier-title_one class="">Government supplier</h2>
                    <h6 data-v-governmentsupplier-description_one class="th-title-18 font-weight-400">
                        Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque
                        libero donec sit egestas orci consequat est mauris duis.
                    </h6>
                    <!-- <div class="th-link @@classPadding">
                        <div class="th-link-text pr-5">
                            Location
                        </div>
                        <div class="th-link-icon-bt
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                    </div> -->
                </div>
                <div data-v-governmentsupplier-image_two class="th-grid-area th-grid-area-3-5-8-7"
                    data-bg-src="/img/about/supplayer-img2.png">
                </div>
                <div class="th-grid-area th-grid-area-8-5-11-7">
                    <h2 class="" data-v-governmentsupplier-title_two>Environmental policy</h2>
                    <h6 class="th-title-18 font-weight-400" data-v-governmentsupplier-description_two>
                        Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque
                        libero donec sit egestas orci consequat est mauris duis.
                    </h6>
                    <!-- <div class="th-link @@classPadding">
                        <div class="th-link-text pr-5">
                            Read more
                        </div>
                        <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>