<section id="our-design-process" class="bg-gray position-relative th-section-py" data-v-component-ourdesignprocess>
    <div class="d-flex justify-content-end th-pr-40 align-items-center position-absolute" style="right: 40px" data-v-ourdesignprocess-component-link>
        <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
        <a href="" target="_blank" class="">Edit</a>
    </div>
    <div class="container th-container">
        <div class="th-section-header sectionHeaderClass th-section-header-pb-50" style="display: block">
            <div class="th-section-header-wrapper">
                <h2 class="th-section-title text-capitalize th-section-title-mb" data-v-ourdesignprocess-section-title> OUR DESIGN PROCESS
                </h2>
                <div class="th-section-subtitle th-section-subtitle-mb" data-v-ourdesignprocess-section-subtitle>
                    Our design process is a systematic approach to creating products that are not only functional but
                    also sustainable and efficient.
                </div>
            </div>
        </div>

        <div class="section-body">
            <div class="row ">
                <div class="col-md-12" data-v-ourdesignprocess-items>
                    <div class="row th-design-process-items th-design-process-items-py">
                        <div class="col-md-4 d-flex align-items-center th-desing-process-item-container">
                            <div class="th-design-process-item-title d-flex align-items-center">
                                <h6 class="mb-0" data-v-ourdesignprocessitem-step_number>01</h6>
                                <h5 class="mb-0 th-process-title" data-v-ourdesignprocessitem-step_title>BRIEF & CONSULATION</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p class="mb-0 th-design-process-item-description" data-v-ourdesignprocessitem-step_description>We begin by understanding project requirements,
                                timelines and technical specifications to ensure alignment from the outset.
                            </p>
                        </div>
                    </div>

                    <div class="row th-design-process-items th-design-process-items-py">
                        <div class="col-md-4 d-flex align-items-center th-desing-process-item-container">
                            <div class="th-design-process-item-title d-flex align-items-center">
                                <h6 class="mb-0">02</h6>
                                <h5 class="mb-0 th-process-title">BRIEF & CONSULATION</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p class="mb-0 th-design-process-item-description">We begin by understanding project requirements,
                                timelines and technical specifications to ensure alignment from the outset.
                            </p>
                        </div>
                    </div>
                    <div class="row th-design-process-items th-design-process-items-py">
                        <div class="col-md-4 d-flex align-items-center th-desing-process-item-container">
                            <div class="th-design-process-item-title d-flex align-items-center">
                                <h6 class="mb-0">03</h6>
                                <h5 class="mb-0 th-process-title">BRIEF & CONSULATION</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <p class="mb-0 th-design-process-item-description">We begin by understanding project requirements,
                                timelines and technical specifications to ensure alignment from the outset.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>