<section id="our-history-masonary-section" class="th-section-custom-py position-relative" data-v-component-ourhistorymasonry>
    <div class="d-flex justify-content-end th-pr-40 align-items-center position-absolute" style="right: 40px" data-v-ourhistorymasonry-component-link>
        <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
        <a href="" target="_blank" class="">Edit</a>
    </div>
    <div class="container th-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="th-section-header-title">
                    <h2 class="th-section-title th-section-title-mb" data-v-ourhistorymasonry-section-title> OUR VALUE</h2>
                    <div class="th-section-subtitle th-section-subtitle-mb th-history-subtitle" data-v-ourhistorymasonry-section-subtitle>
                        <p class="font-size-36 font-weight-700">Built on Substance,</p>
                        <p class="font-size-36 font-weight-700">Defined by Standards</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex">
                <div class="th-section-header-subtitle th-section-header-subtitle-mb d-flex align-items-end mb-25" data-v-ourhistorymasonry-section-description>
                    Our value lies in combining refined design with disciplined operations and
                    local production, ensuring long term performance without compromise.
                </div>
            </div>
        </div>

        <div class="th-section-bottom-border th-section-bottom-border-py-30">
            <div class="th-section-bottom-border-line"></div>
        </div>


        <div class="th-section-header-wrapper">
            <div class="section-body th-masonry-col-2">
                <div class="th-masonry-grid" data-v-ourhistorymasonry-grid>

                    <div class="th-masonry-grid-item grid-col-span-7 " data-v-ourhistorymasonryitem-class
                        data-v-ourhistorymasonryitem-style style="transform: translateY(0px);padding-top:0px">
                        <div class="th-item-img">
                            <img data-v-ourhistorymasonryitem-img class="thImageSection" src="/img/about/gallery-image1.png" alt="Product 1qqqqqqqqqqq" loading="lazy"/>
                        </div>
                        <div class="th-product-info-wrapper th-pt-20">
                            <div class="th-item-info th-mt-15">
                                <h3 class="withOutArrow" data-v-ourhistorymasonryitem-heading>World-class product
                                    display</h3>
                                <div class="th-item-description" data-v-ourhistorymasonryitem-des>A full collection of
                                    workstations from leg-based systems to panel constructions and height-adjustable
                                    offerings. Find the perfect configuration and aesthetic for your space.</div>
                                <p class="th-category-items">

                                </p>
                            </div>
                            <!-- <div class="th-link">
                    <div class="th-link-text pr-5" data-v-ourhistorymasonryitem-link_text> View all World-class product display </div>
                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>
                  </div> -->

                        </div>
                    </div>

                    <div class="th-masonry-grid-item grid-col-span-6 "
                        style="transform: translateY(49px);padding-top:0px">
                        <div class="th-item-img">
                            <img src="/img/about/gallery-image2.png" alt="Product 1" loading="lazy"/>
                        </div>
                        <div class="th-product-info-wrapper th-pt-20">
                            <div class="th-item-info th-mt-15">
                                <h3 class="withOutArrow">unparalleled service</h3>
                                <p class="th-item-description">Lorem ipsum dolor sit amet consectetur. Egestas orci
                                    gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est
                                    mauris duis</p>
                                <p class="th-category-items">

                                </p>
                            </div>
                            <div class="th-link">
                                <div class="th-link-text th-pr-5"> View all unparalleled service </div>
                                <div class="th-link-icon">
                                    <i class="fa-regular fa-arrow-right"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="th-masonry-grid-item grid-col-span-6 "
                        style="transform: translateY(95px);padding-top:0px">
                        <div class="th-item-img">
                            <img src="/img/about/gallery-image3.png" alt="Product 1" loading="lazy"/>
                        </div>
                        <div class="th-product-info-wrapper th-pt-20">
                            <div class="th-item-info th-mt-15">
                                <h3 class="withOutArrow">Product certifications</h3>
                                <p class="th-item-description">Lorem ipsum dolor sit amet consectetur. Egestas orci
                                    gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est
                                    mauris duis.</p>
                                <p class="th-category-items">

                                </p>
                            </div>
                            <div class="th-link">
                                <div class="th-link-text th-pr-5"> View all Product certifications </div>
                                <div class="th-link-icon">
                                    <i class="fa-regular fa-arrow-right"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="th-masonry-grid-item grid-col-span-7 "
                        style="transform: translateY(130px);padding-top:0px">
                        <div class="th-item-img">
                            <img src="/img/about/gallery-image4.png" alt="Product 1" loading="lazy"/>
                        </div>
                        <div class="th-product-info-wrapper th-pt-20">
                            <div class="th-item-info th-mt-15">
                                <h3 class="withOutArrow">Product warranty</h3>
                                <p class="th-item-description">Lorem ipsum dolor sit amet consectetur. Egestas orci
                                    gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est
                                    mauris duis.</p>
                                <p class="th-category-items"></p>
                            </div>
                            <div class="th-link">
                                <div class="th-link-text th-pr-5"> View all Product warranty </div>
                                <div class="th-link-icon">
                                    <i class="fa-regular fa-arrow-right"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>