.subscription{
  @include respond-to(lg){
    padding-left: 10px!important;
  }
  @include respond-to(md){
    padding-top: 50px;
    padding-left: 0px!important;
  }
  .subscription-heading {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    .subscription-icon{
      font-size: 50px;
      line-height: 50px;
    }
  }
  .subscription-form{
    display: flex;
    margin-bottom: 30px;
    input{
      width: 345px;
    }
  }
  @include respond-to(lg){
    .subscription-form{
      flex-direction: row;
      input{
        width: 300px;
      }
    }
  }
  @include respond-to(sm){
    .subscription-details{
      .sub-title{
        font-size: 17px;
      }
      .description{
        font-size: 14px;
      }
    }
    .subscription-form{
      flex-direction: row;
      .pr-15{
        padding-right:5px;
      }
      .link{
        .link-text{
          font-size: 13px;
        }
      }
      input{
        width: 175px;
        font-size: 13px;
        padding: 5px;
        height: 40px;
      }
    }
    .footer-navigation{
      ul {
        li{
          padding: 0 10px;
        }
      }
    }
  }
}

.footer-navigation{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      padding: 0 20px;
      border-right: 1px solid $border;
    }
  }
}
.social-media{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
}
