<div id="account-navigation" class="col-12 col-md-3 border-right-gray th-remove-border pt-30" data-v-component-accountnavigation>
    <div class="row th-sidebard">
        <div class="col-12">
        <div class="profile-info">
            <div class="profile-pic">
            <img data-v-account-profile-avatar class="rounded-circle" alt="avatar1" src="/img/account-dashboard/profile-pic.png" />
            </div>
            <div class="profile-text">
            <h6 data-v-account-profile-name>Cameron Williamson</h6>
            <p data-v-account-profile-desc>Lorem Ipsum</p>
            </div>
            <div class="sidebar-list">
            <div class="sidebar">
                <ul data-v-account-sidebar-nav class="sidebar-nav flex-column">
                <li class="sidebar-nav-item">
                    <a data-v-account-sidebar-link href="#" class="nav-link active">
                    <i class="fas fa-shopping-cart"></i> <span>Recent Orders</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="#" class="nav-link">
                    <i class="fa-solid fa-file"></i> Active Quotes
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="#" class="nav-link">
                    <i class="fa-solid fa-user"></i>Scheduled Services
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="#" class="nav-link">
                    <i class="fa-solid fa-heart"></i>Virtual Pinboard
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="#" class="nav-link">
                    <i class="fa-solid fa-gear"></i> Service Requests
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="#" class="nav-link">
                    <i class="fa-solid fa-truck"></i> Track your Order
                    </a>
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
        <div data-v-account-sidebar-actions class="th-card-btn d-flex flex-column align-items-cente">
            <div class="position-relative pb-3">
            <a data-v-account-sidebar-action-link href="contact.html" class="text-capitalize">
                <span class="mr-5">Visit Our Showroom</span>
                <i class="fa-regular fa-arrow-up degree-60"></i>
            </a>
            </div>
            <div class="position-relative pb-3">
            <a href="contact.html" class="text-capitalize">
                <span class="mr-5">Contact Sales</span>
                <i class="fa-regular fa-arrow-up degree-60"></i>
            </a>
            </div>
        </div>
        </div>
    </div>
  </div>