      <!-- Modal Body -->
      <div class="modal-body" data-v-component-accountactivequotepayment>
        <!-- devider -->
        <div class="row mb-50 th-order-modal-header-divider">
          <div class="col-md-8 col-sm-12">
            <div class="border-bottom-gray"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="th-order-number-wrapper">
              <div class="col-md-12">
                <div class="th-order-number-wrapper d-flex">
                  <div class="th-order-number-item-left">
                    <h6 class="th-title-18">Order Number</h6>
                    <h2 class="font-weight-300" data-v-accountactivequotepayment-order_number>#907526</h2>
                  </div>
                  <div class="th-order-number-item-right">
                    <h6 class="th-title-20">
                      Sub Total:
                      <span class="gray-color" data-v-accountactivequotepayment-sub_total>&nbsp;&nbsp;59.89 $</span>
                    </h6>
                    <h6 class="th-title-20 th-order-number-item-right-gst">
                      GST:
                      <span class="gray-color" data-v-accountactivequotepayment-gst>&nbsp;&nbsp;9.89 $</span>
                    </h6>
                    <h6 class="th-title-20">
                      Total (inc. GST):
                      <span class="gray-color" data-v-accountactivequotepayment-total_inc_gst>&nbsp;&nbsp;59.89 $</span>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-50 th-modal-order-payment-top-gap">
          <h3 class="mb-30">Payment</h3>
          <div class="row th-tab-container">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <a
                href="#credit"
                class="th-btn-gray text-capitalize w-100 active"
                data-bs-toggle="tab"
              >
                <span class="mr-5">Credit Card</span>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <a
                href="#deposit"
                class="th-btn-gray text-capitalize w-100"
                data-bs-toggle="tab"
              >
                <span class="mr-5">Direct Deposit</span>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <a
                href="#bpay"
                class="th-btn-gray text-capitalize w-100"
                data-bs-toggle="tab"
              >
                <span class="mr-5">B Pay</span>
              </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <a
                href="#cheque"
                class="th-btn-gray text-capitalize w-100"
                data-bs-toggle="tab"
              >
                <span class="mr-5">Cheque</span>
              </a>
            </div>
          </div>
          
          <!-- Tab Content -->
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="credit">
              <div class="th-order-payment-tab-content-wrapper">
                <div class="th-payment-flex-row">
                  <div class="th-payment-col th-payment-col-left">
                    <div class="th-payment-total-wrapper">
                      <div class="form-check d-flex align-items-center flex-row">
                        <input
                          class="form-check-input mr-20"
                          type="radio"
                          value=""
                          id="flexCheckDefault"
                          checked
                        />
                        <h6 class="form-check-label th-title-20" for="flexCheckDefault">
                          50% Deposit Payment Due
                        </h6>
                        <span class="th-payment-amount">599.89 $</span>
                      </div>
                      <div class="form-check d-flex align-items-center flex-row th-payment-order-gap">
                        <input
                          class="form-check-input mr-20"
                          type="radio"
                          value=""
                          id="flexCheckDefault2"
                        />
                        <h6 class="form-check-label th-title-20" for="flexCheckDefault2">
                          Full Payment
                        </h6>
                        <span class="th-payment-amount">1299.89 $</span>
                      </div>
                    </div>
                    <div class="th-pay-now-row">
                      <div class="th-pay-now-label">To Pay Now</div>
                      <div class="th-pay-now-amount">599.89 $</div>
                    </div>
                    <div class="th-supported-cards-row">
                      <span>Supported Cards</span>
                      <span class="th-supported-cards-icons">
                        <i class="fa-brands fa-cc-mastercard fa-1x text-danger"></i>
                        <i class="fa-brands fa-cc-visa fa-1x text-primary"></i>
                      </span>
                    </div>
                    <a href="contact.html" class="th-btn-primary text-capitalize th-pay-now-btn">
                      <span class="mr-5">Pay Now</span>
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </a>
                  </div>
                  <div class="th-payment-col th-payment-col-right">
                    <div class="th-modal-powerdby">
                      <span><i>Powered By</i></span>
                      <img data-v-accountactivequotepayment-powered_by_image src="/img/modal/paypal-img.png" alt="payment-icon" width="120" height="32" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="deposit">
              <p>Direct Deposit Payment Details...</p>
            </div>
            <div class="tab-pane fade" id="bpay">
              <p>B Pay Payment Details...</p>
            </div>
            <div class="tab-pane fade" id="cheque">
              <p>Cheque Payment Details...</p>
            </div>
          </div>        
        </div>

        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <h3 class="th-order-contact-title-gap">contact information</h3>
            <div class="border-bottom-gray my-30"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="th-order-contact-info-wrapper d-flex">
              <div class="th-order-contact-info-left">
                <p>Contact Name</p>
                <p data-v-accountactivequotepayment-contact_information_name>Courtney Henry</p>
              </div>
              <div class="th-order-contact-info-right ml-50">
                <p>Contact Email</p>
                <p data-v-accountactivequotepayment-contact_information_email>courtney.henry@example.com</p>
              </div>
            </div>
          </div>
        </div>
        <!-- devider -->
        <div class="row">
          <div class="col-md-8">
            <div class="border-bottom-gray my-30"></div>
          </div>
        </div>
        <!-- shipping -->
        <div class="row">
          <div class="col-md-12">
            <h6>Shipping</h6>
            <div class="th-shpiining-info-wrapper d-flex">
              <div class="th-shpiining-info-left">
                <p>Site Contact</p>
                <p>street address</p>
                <p>Suburb</p>
                <p>State</p>
                <p>Country</p>
              </div>
              <div class="th-shpiining-info-right ml-50">
                <p data-v-accountactivequotepayment-shipping_phone>(207) 555-0119</p>
                <p data-v-accountactivequotepayment-shipping_address>3890 Poplar Dr.</p>
                <p data-v-accountactivequotepayment-shipping_suburb>Preston</p>
                <p data-v-accountactivequotepayment-shipping_state>NC</p>
                <p data-v-accountactivequotepayment-shipping_country>united states</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="border-bottom-gray my-30"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h6>Billing</h6>
            <div class="th-shpiining-info-wrapper d-flex">
              <div class="th-billing-info-left">
                <p>street address</p>

                <p>Suburb</p>
                <p>State</p>
                <p>Country</p>
              </div>
              <div class="th-billing-info-right ml-50">
                <p data-v-accountactivequotepayment-billing_phone>(207) 555-0119</p>
                <p data-v-accountactivequotepayment-billing_suburb>Preston</p>
                <p data-v-accountactivequotepayment-billing_state>NC</p>
                <p data-v-accountactivequotepayment-billing_country>united states</p>
              </div>
            </div>
          </div>
        </div>
      </div>