<div id="projects-list" class="th-section" data-v-component-allprojects>
    <div class="container th-container">
      <div class="th-section-header" style="display: block">
        <div class="th-section-header-wrapper text-center">
          <h2 class="th-section-title " data-v-allprojects-section_title> All Projects 44 </h2>
          <div class="th-section-subtitle" style="font-size: 16px;" data-v-allprojects-section_subtitle>
            Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
          </div>
        </div>

      </div>



      <div class="section-body">
        <div class="row th-projects-list">


          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-chwyla.png" data-v-allprojectsitem-image/>
                <div 
                    data-v-allprojectsitem-add-to-pinboard
                    data-id="1" 
                    data-model="project" 
                    data-title="Project Title" 
                    data-description="Project Description" 
                    data-image="Project Image"       
                    class="th-add-to-pinboard position-absolute top-right-30"
                    >
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <div class="th-item-footer">
                <div class="th-label" data-v-allprojectsitem-label>build</div>
                <h3 class="th-title" data-v-allprojectsitem-title>Chwyla</h3>
                <div class="th-description" data-v-allprojectsitem-description>Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5" data-v-allprojectsitem-link_text>

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-fiorelli.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Total Fitouts</div>
                <h3 class="th-title">Fiorelli packing</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-berry.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Merit Interiors </div>
                <h3 class="th-title">Berry Street</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-artifex.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Amicus</div>
                <h3 class="th-title">Artifex</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-arts-centre.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Doot descriptionign </div>
                <h3 class="th-title">Arts Centre Melbourne</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-452-johnston.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Gray Puksand</div>
                <h3 class="th-title">452 Johnston st</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item" >
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-edquifax.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Gapcomm</div>
                <h3 class="th-title">Equifax</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-651-vic.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">The Stem Group </div>
                <h3 class="th-title">651 victoria st</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-hyundai.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Apex Interiors</div>
                <h3 class="th-title">Hyundai Office: Stage 2</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-mackillop.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Apex Interiors</div>
                <h3 class="th-title">mackillop family service</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-Qic.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Hasbuilt Projects</div>
                <h3 class="th-title">Qic</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link @@classPadding">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 project-item">
            <div class="th-item-project">
              <div class="th-img-container th-list-img">
                <img src="/img/projects/p-l19.png" />
                <div class="th-add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>

              </div>
              <div class="th-item-footer">
                <div class="th-label">Strutt Studios</div>
                <h3 class="th-title">l19, 2 park st</h3>
                <div class="th-description">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="th-link">
                  <div class="th-link-text pr-5">

                    Read More
                  </div>
                  <div class="th-link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <a href="#" class="th-btn-gray text-capitalize mt-50" >
                <span class="mr-5" data-v-allprojects-load_btn>
                  Load More
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>