<div id="th-blog-main" class="pt-0 th-section" data-v-component-blogmain>
    <div class="row th-blog-main-header">
      <div class="col-md-12">
      </div>
    </div>
    <div class="container th-container">
      <div class="section-body">
        <div class="row">
          <div class="col-lg-6 pr-50 th-blog-main-content">
            <div class="th-section-header" style="display: block">
              <div class="th-section-header-wrapper">
                <h2 class="pt-35 pb-20" data-v-blogmain-section_title> Project Details </h2>
                <div class="th-section-subtitle" style="font-size:  20px " data-v-blogmain-section_subtitle>
                  Pellentesque sodales lacinia diam, vel lacinia lectus ultrices id. Maecenas viverra justo nec mauris pulvinar dignissim. Proin quis arcu eu velit vehicula fermentum. Ut pharetra, nunc sed fringilla fermentum, nulla eros rhoncus felis, ac varius ligula quam nec nisl. Proin ac tellus sed dui ultrices tempus. Duis ut arcu et diam lacinia cursus nec non justo
                </div>
              </div>

            </div>

            <p data-v-blogmain-section_subtitle2>
              Aliquam malesuada tortor ut dolor suscipit, id convallis ipsum lacinia. Curabitur feugiat lectus non sem ullamcorper, nec finibus nulla consequat.
            </p>

          </div>
          <div class="col-lg-6">
            <div class="th-img-container blog-detail">
              <img src="/img/blog-detail/blog-main.png" alt="Main Blog image" data-v-blogmain-img />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="pt-100" data-v-blogmain-section_subtitle3>
              Sed nec odio magna. Aliquam non libero ultricies, efficitur nulla id, ultricies urna. Nullam at placerat justo, non fermentum magna. Nullam nec libero odio. Sed eleifend euismod tellus, ut fermentum libero pellentesque a. Sed eget nulla et mi consectetur vestibulum. Phasellus at leo eu orci vestibulum tincidunt. Vestibulum fringilla mi id felis varius ultricies. Donec nec suscipit nulla. Vivamus vitae diam purus.
            </p>
            <p data-v-blogmain-section_subtitle4>
              Sed nec odio magna. Aliquam non libero ultricies, efficitur nulla id, ultricies urna. Nullam at placerat justo, non fermentum magna. Nullam nec libero odio. Sed eleifend euismod tellus, ut fermentum libero pellentesque a. Sed eget nulla et mi consectetur vestibulum. Phasellus at leo eu orci vestibulum tincidunt. Vestibulum fringilla mi id felis varius ultricies. Donec nec suscipit nulla. Vivamus vitae diam purus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>