<div id="category-workstation-details" data-v-component-categoryworkstationdetails>

    <!--==============================
    Product Slider Section
    ==============================-->
    <div id="th-product-slider" class="th-section" data-v-category-id>
        <div class="container th-container">
          <div class="row">
            <div class="th-section-header @@sectionHeaderClass">
              <div class="th-section-header-wrapper left flex-1">
                <h2 class="  th-section-title" data-v-category-title> Products Slider </h2>
                <div class="th-section-subtitle" data-v-category-subtitle>
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </div>
              </div>
  
              <div class="right">
                <div class="th-section-header-link">
                  <span class="th-section-header-link-text View All ProductsClass">
                    <a href="#" data-v-category-link>View All Products</a>
                  </span>
                  <span class="th-section-header-link-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </span>
                </div>
              </div>
  
            </div>
            <div class="th-section-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="swiper th-featured-products-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Archi.png" data-v-category-product-image />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <h3 class="th-title mt-20" data-v-category-product-name>Archi </h3>
                              <div data-v-category-product-tags class="th-tag-name">
                                <div class="th-tag" data-v-category-product-tag>AFRDI Certified</div>
                                <div class="th-tag" data-v-category-product-tag>OBP Certified</div>
                              </div>
                              <div data-v-category-product-finishes class="th-item-finish-circle">
                                <div class="th-circle black-fabric">Black Fabric</div>
                                <div class="th-circle black-premium">Black Premium Polyurethane</div>
                                <div class="th-circle mocha-premium">Mocha Premium Polyurethane</div>
                                <div class="th-circle white" data-bg-src="/img/finishes/finish-2.jpg">Cream Premium Polyurethane</div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Miro.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <h3 class="th-title mt-20">Miro </h3>
                              <div class="th-tag-name">
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
                              </div>
                              <div class="th-item-finish-circle">
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Miro S.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <h3 class="th-title mt-20">Miro S </h3>
                              <div class="th-tag-name">
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
                              </div>
                              <div class="th-item-finish-circle">
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Kove.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <h3 class="th-title mt-20">Kove </h3>
                              <div class="th-tag-name">
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
                              </div>
                              <div class="th-item-finish-circle">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  
    <!--==============================
    End Product Slider Section
    ==============================-->
  
  
  
    <!--==============================
    Product Slider Section
    ==============================-->
    <div id="th-product-slider-2" class="th-section">
        <div class="container th-container">
          <div class="row">
            <div class="th-section-header @@sectionHeaderClass">
              <div class="th-section-header-wrapper left flex-1">
                <h2 class="  th-section-title "> Products Slider </h2>
                <div class="th-section-subtitle" >
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </div>
              </div>
  
              <div class="right">
                <div class="th-section-header-link">
                  <span class="th-section-header-link-text View All ProductsClass">View All Products</span>
                  <span class="th-section-header-link-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </span>
                </div>
              </div>
            </div>
  
            <div class="th-section-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="swiper th-featured-products-slider">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Otto.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <h3 class="th-title mt-20">Otto </h3>
                              <div class="th-tag-name">
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
                              </div>
                              <div class="th-item-finish-circle">
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Miro S Leather.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <h3 class="th-title mt-20">Miro S Leather </h3>
                              <div class="th-tag-name">
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
                              </div>
                              <div class="th-item-finish-circle">
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Sax.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <h3 class="th-title mt-20">Sax </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
                              </div>
                              <div class="th-item-finish-circle">
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Rox.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <h3 class="th-title mt-20">Rox </h3>
                              <div class="th-tag-name">
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
                              </div>
                              <div class="th-item-finish-circle">
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <!--==============================
    End Product Slider Section
    ==============================-->
  
  
    <!--==============================
    Product Slider Section
    ==============================-->
    <div id="th-product-slider-3" class="th-section">
        <div class="container th-container">
          <div class="row">
            <div class="th-section-header @@sectionHeaderClass">
              <div class="th-section-header-wrapper left flex-1">
                <h2 class="  th-section-title "> Products Slider </h2>
                <div class="th-section-subtitle" style="font-size: 16px">
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </div>
              </div>
  
              <div class="right">
                <div class="th-section-header-link">
                  <span class="th-section-header-link-text View All ProductsClass">View All Products</span>
                  <span class="th-section-header-link-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </span>
                </div>
              </div>
  
            </div>
  
  
            <div class="th-section-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="swiper th-featured-products-slider">
                    <div class="swiper-wrapper">
  
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Ted.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Ted </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Indi.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Indi </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Taro.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Taro </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Calvin.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Calvin </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
  
  
                    </div>
                    <div class="swiper-scrollbar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  
    <!--==============================
    End Product Slider Section
    ==============================-->
  
  
    <!--==============================
    Product Slider Section
    ==============================-->
    <div id="th-product-slider-4" class="th-section">
        <div class="container th-container">
          <div class="row">
            <div class="th-section-header @@sectionHeaderClass">
              <div class="th-section-header-wrapper left flex-1">
                <h2 class="  th-section-title "> Products Slider </h2>
                <div class="th-section-subtitle" style="font-size: 16px">
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </div>
              </div>
  
              <div class="right">
                <div class="th-section-header-link">
                  <span class="th-section-header-link-text View All ProductsClass">View All Products</span>
                  <span class="th-section-header-link-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </span>
                </div>
              </div>
  
            </div>
  
  
            <div class="th-section-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="swiper th-featured-products-slider">
                    <div class="swiper-wrapper">
  
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Ted Stool.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Ted Stool </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Indi Stool.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Indi Stool </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Zorro Stool.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Zorro Stool </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Juna Stool.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Juna Stool </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
  
  
                    </div>
                    <div class="swiper-scrollbar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  
    <!--==============================
    End Product Slider Section
    ==============================-->
  
  
    <!--==============================
    Product Slider Section
    ==============================-->
      <div id="th-product-slider-5" class="th-section">
        <div class="container th-container">
          <div class="row">
            <div class="th-section-header @@sectionHeaderClass">
              <div class="th-section-header-wrapper left flex-1">
                <h2 class="  th-section-title "> Products Slider </h2>
                <div class="th-section-subtitle" style="font-size: 16px">
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </div>
              </div>
  
              <div class="right">
                <div class="th-section-header-link">
                  <span class="th-section-header-link-text View All ProductsClass">View All Products</span>
                  <span class="th-section-header-link-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </span>
                </div>
              </div>
  
            </div>
  
  
            <div class="th-section-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="swiper th-featured-products-slider">
                    <div class="swiper-wrapper">
  
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Hugo.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Hugo </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Ava.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Ava </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Franki.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Franki </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="th-item-product">
                          <div class="th-img-container @@itemProductClass">
                            <img src="/img/category-seating/Hugs.png" />
                          </div>
                          <div class="th-add-to-pinboard position-absolute top-right-30 ">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                          <div class="th-item-footer">
                            <!-- <div class="label">Build</div> -->
                            <h3 class="th-title mt-20">Hugs </h3>
                              <div class="th-tag-name">
  
                                <div class="th-tag">AFRDI Certified</div>
                                <div class="th-tag">OBP Certified</div>
                                <div class="th-tag">Some Tag Name Here</div>
                                <div class="th-tag">Tag Name Here</div>
                                <div class="th-tag">Tag Name Here As Well</div>
  
  
                              </div>
                              <div class="th-item-finish-circle">
  
  
                              </div>
  
                          </div>
                        </div>
                      </div>
  
  
                    </div>
                    <div class="swiper-scrollbar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <!--==============================
    End Product Slider Section
    ==============================-->
  
  </div>