<div class="row home-categories-row" data-v-component-categoriesslidernav>
    <div class="col-12">
      <div class="th-section-header sectionHeaderClass">
        <div class="th-section-header-wrapper left flex-1">
          <h2 class="th-section-title" data-v-categoriesslidernav-section_title> Product Categoriess </h2>
          <div class="th-section-subtitle" style="font-size: 16px;" data-v-categoriesslidernav-section_subtitle>
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </div>

        <div class="right">
          <div class="th-section-header-link">
            <span class="th-section-header-link-text All CategoriesClass">All Categories</span>
            <span class="th-section-header-link-btn">
              <i class="fa-regular fa-arrow-up degree-60"></i>
            </span>
          </div>
        </div>

      </div>

    </div>
    <div class="col-12">
      <div class="section-body">
        <div class="row">
          <div class="col-md-3">
            <div class="th-categories-slider-nav">
              <div class="th-categories-menu">
                <ul class="th-menu-container">
                  <li class="">
                    <a href="#">
                      <h6>
                        <span>Workstations</span>
                      </h6>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Workstations</h6>
                        </a>
                      </li>
                      <li>
                        <a href="service-details.html">
                          <h6 class="th-title-17">Workstations Screens</h6>
                        </a>
                      </li>
                      <li>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>

                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      <h6>
                        <span>Desks</span>
                      </h6>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Desks</h6>
                        </a>
                      </li>
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Desks System</h6>
                        </a>
                      </li>
                      <li>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>

                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      <h6>
                        <span>Tables</span>
                      </h6>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Tables</h6>
                        </a>
                      </li>
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Boardroom Tables</h6>
                        </a>
                      </li>
                      <li>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>

                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      <h6>
                        <span>Seating</span>
                      </h6>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Seating</h6>
                        </a>
                      </li>
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Boardroom Tables</h6>
                        </a>
                      </li>
                      <li>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>

                      </li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      <h6>
                        <span>Storage</span>
                      </h6>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Storage</h6>
                        </a>
                      </li>
                      <li>
                        <a href="service.html">
                          <h6 class="th-title-17">Boardroom Tables</h6>
                        </a>
                      </li>
                      <li>
                        <div class="link">
                          <div class="link-text pr-5">View All</div>
                          <div class="link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="slider-container home-category-slider">
              <div class="slider-area">
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide gr-bg6">
                      <img src="/img/bg/home/home_cat_workstation.jpg" alt="Workstation" />
                      <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                        <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s">
                          Workstation
                        </h4>
                        <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s">
                          Energistically harness
                        </h6>
                        <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                          <div class="position-relative">
                            <a href="contact.html" class="th-btn-outline text-capitalize">
                              <span class="mr-5">Contact Sales</span>
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide gr-bg6">
                      <img src="/img/bg/home/home_cat_chair.jpg" alt="Chair" />
                      <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                        <h4 class=" font-white" data-ani="slideinleft" data-ani-delay=".2s">
                          Chair
                        </h4>
                        <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay=".3s">
                          Energistically harness
                        </h6>
                        <div class="btn-group" data-ani="slideinleft" data-ani-delay=".4s">
                          <div class="position-relative">
                            <a href="contact.html" class="th-btn-outline text-capitalize">
                              <span class="mr-5">Contact Sales</span>
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide gr-bg6">
                      <img src="/img/bg/home/home_cat_seating.jpg" alt="Seating" />
                      <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                        <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s">
                          Seating
                        </h4>
                        <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay=".3s">
                          Energistically harness
                        </h6>
                        <div class="btn-group" data-ani="slideinleft" data-ani-delay=".4s">
                          <div class="position-relative">
                            <a href="contact.html" class="th-btn-outline text-capitalize">
                              <span class="mr-5">Contact Sales</span>
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>