<div id="solution-customizable" class="gr-bg8 th-section" data-v-component-customizablesolution>
    <div class="container th-container">

      <div class="th-section-header">
        <div class="th-section-header-wrapper left flex-1">
          <h2 class="  th-section-title " data-v-customizablesolution-section_title> Customizable Solutions </h2>
          <div class="th-section-subtitle" style="font-size: 16px;" data-v-customizablesolution-section_description>
            Experience the ultimate blend of comfort and functionality with Archi, where cutting-edge design meets adjustable precision for every workspace need
          </div>
        </div>

        <div class="right">
          <div class="th-section-header-link">
            <span class="th-section-header-link-text Learn MoreClass" data-v-customizablesolution-learn_more>Learn More</span>
            <span class="th-section-header-link-btn">
              <i class="fa-regular fa-arrow-up degree-60"></i>
            </span>
          </div>
        </div>

      </div>


      <div class="section-body pt-50">
        <div class="row" data-v-customizablesolution-list>
          <div class="col-md-4" data-v-customizablesolution-item>
            <div class="@@class">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img data-v-customizablesolutionitem-image src="/img/solution/item-1.png" alt="@@alt" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20" data-v-customizablesolutionitem-title>Tailored to Your Needs</h6>

                  </div>
                  <div class="th-description" data-v-customizablesolutionitem-description>
                    Create bespoke designs that fit your specific requirements.
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-4" data-v-customizablesolution-item>
            <div class="@@class">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src="/img/solution/item-2.png" alt="@@alt" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">Flexible Configurations</h6>

                  </div>
                  <div class="th-description">
                    Adaptable products to suit various spaces and functionalities.
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-4" data-v-customizablesolution-item>
            <div class="@@class">
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src="/img/solution/item-3.png" alt="@@alt" />
                </div>
                <div class="th-item-card-content mt-15">
                  <div class="th-link mb-10">
                    <h6 class="th-link-text pr-5 th-title-20">Innovative Solutions</h6>

                  </div>
                  <div class="th-description">
                    Pioneering designs that lead the industry in innovation.
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>