<div id="dashboard-delivery-install" class="col-12 col-md-9 th-dashboard-main" data-v-component-dashboarddeliveryinstall>
    <div class="row">
        <div class="col-md-9">
            <h2 class="th-dashboard-header">Deliveries and Installations</h2>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn th-custom-btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    - Sort By -
                </button>
                <ul class="dropdown-menu">
                    <li>
                    <a class="dropdown-item" href="#">Action 1</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">Action 2</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">Action 3</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row g-4 justify-content-center delivery-install-card">

        <!-- Delivery Card -->
        <div class="col-md-6 col-lg-4 delivery-install-card-item">
            <div class="card order-card installation">
                <div class="th-card-body">

                    <div class="d-flex align-items-center flex-md-column flex-lg-row text-center text-lg-start">
                        <div class="icon">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="ms-3">
                            <p class="th-type mb-1" data-v-dashboarddeliveryinstallitem-title>Delivery</p>
                            <h5 class="th-card-title mb-0" data-v-dashboarddeliveryinstallitem-subtitle>Name Of The Delivery</h5>
                        </div>
                    </div>

                    <div class="details mt-3 d-flex justify-content-between">
                        <p data-v-dashboarddeliveryinstallitem-date>
                            <i class="fa-solid fa-calendar"></i> 25 Jun, 2024
                        </p>
                        <p data-v-dashboarddeliveryinstallitem-time>
                            <i class="fa-regular fa-clock"></i> 10:00 PM
                        </p>
                    </div>
                    <p class="th-card-title mt-3 mb-3">Order Number: <span data-v-dashboarddeliveryinstallitem-order_number>#907526</span>
                    </p>
                    <div class="th-link">
                        <div class="th-link-text pr-5" data-v-dashboarddeliveryinstallitem-link_text> See Details </div>
                        <div class="th-link-icon">
                            <i class="fa-regular fa-arrow-right"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Installation Card -->
        <div class="col-md-6 col-lg-4 delivery-install-card-item">
            <div class="card order-card installation">
            <div class="th-card-body">

                <div class="d-flex align-items-center flex-md-column flex-lg-row text-center text-lg-start">
                <div class="icon">
                    <i class="fa-solid fa-tools"></i>
                </div>
                <div class="ms-3">
                    <p class="th-type mb-1">Installation</p>
                    <h5 class="th-card-title mb-0">Name Of The Installation</h5>
                </div>
                </div>

                <div class="details mt-3 d-flex justify-content-between">
                <p>
                    <i class="fa-solid fa-calendar"></i> 25 Jun, 2024
                </p>
                <p>
                    <i class="fa-regular fa-clock"></i> 10:00 PM
                </p>
                </div>
                <p class="th-card-title mt-3 mb-3">Order Number: <span>#907526</span>
                </p>
                <div class="th-link">
                <div class="th-link-text pr-5"> See Details </div>
                <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                </div>
                </div>


            </div>
            </div>
        </div>

        <!-- Delivery Card -->
        <div class="col-md-6 col-lg-4 delivery-install-card-item">
            <div class="card order-card installation">
            <div class="th-card-body">

                <div class="d-flex align-items-center flex-md-column flex-lg-row text-center text-lg-start">
                <div class="icon">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="ms-3">
                    <p class="th-type mb-1">Delivery</p>
                    <h5 class="th-card-title mb-0">Name Of The Delivery</h5>
                </div>
                </div>

                <div class="details mt-3 d-flex justify-content-between">
                <p>
                    <i class="fa-solid fa-calendar"></i> 25 Jun, 2024
                </p>
                <p>
                    <i class="fa-regular fa-clock"></i> 10:00 PM
                </p>
                </div>
                <p class="th-card-title mt-3 mb-3">Order Number: <span>#907526</span>
                </p>
                <div class="th-link">
                <div class="th-link-text pr-5"> See Details </div>
                <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                </div>
                </div>


            </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 delivery-install-card-item">
            <div class="card order-card installation">
            <div class="th-card-body">

                <div class="d-flex align-items-center flex-md-column flex-lg-row text-center text-lg-start">
                <div class="icon">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="ms-3">
                    <p class="th-type mb-1">Delivery</p>
                    <h5 class="th-card-title mb-0">Name Of The Delivery</h5>
                </div>
                </div>

                <div class="details mt-3 d-flex justify-content-between">
                <p>
                    <i class="fa-solid fa-calendar"></i> 25 Jun, 2024
                </p>
                <p>
                    <i class="fa-regular fa-clock"></i> 10:00 PM
                </p>
                </div>
                <p class="th-card-title mt-3 mb-3">Order Number: <span>#907526</span>
                </p>
                <div class="th-link">
                <div class="th-link-text pr-5"> See Details </div>
                <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                </div>
                </div>


            </div>
            </div>
        </div>

        <!-- Installation Card -->
        <div class="col-md-6 col-lg-4 delivery-install-card-item">
            <div class="card order-card installation">
            <div class="th-card-body">

                <div class="d-flex align-items-center flex-md-column flex-lg-row text-center text-lg-start">
                <div class="icon">
                    <i class="fa-solid fa-tools"></i>
                </div>
                <div class="ms-3">
                    <p class="th-type mb-1">Installation</p>
                    <h5 class="th-card-title mb-0">Name Of The Installation</h5>
                </div>
                </div>

                <div class="details mt-3 d-flex justify-content-between">
                <p>
                    <i class="fa-solid fa-calendar"></i> 25 Jun, 2024
                </p>
                <p>
                    <i class="fa-regular fa-clock"></i> 10:00 PM
                </p>
                </div>
                <p class="th-card-title mt-3 mb-3">Order Number: <span>#907526</span>
                </p>
                <div class="th-link">
                <div class="th-link-text pr-5"> See Details </div>
                <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                </div>
                </div>


            </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 delivery-install-card-item">
            <div class="card order-card installation">
            <div class="th-card-body">

                <div class="d-flex align-items-center flex-md-column flex-lg-row text-center text-lg-start">
                <div class="icon">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="ms-3">
                    <p class="th-type mb-1">Delivery</p>
                    <h5 class="th-card-title mb-0">Name Of The Delivery</h5>
                </div>
                </div>

                <div class="details mt-3 d-flex justify-content-between">
                <p>
                    <i class="fa-solid fa-calendar"></i> 25 Jun, 2024
                </p>
                <p>
                    <i class="fa-regular fa-clock"></i> 10:00 PM
                </p>
                </div>
                <p class="th-card-title mt-3 mb-3">Order Number: <span>#907526</span>
                </p>
                <div class="th-link">
                <div class="th-link-text pr-5"> See Details </div>
                <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                </div>
                </div>


            </div>
            </div>
        </div>

    </div>


    <div class="d-flex justify-content-center">
    <a href="#" class="th-btn-gray text-capitalize mt-50">
        <span class="mr-5">
        Load More
        </span>
    </a>
    </div>

</div>