<div class="tab-pane fade show active" id="documents" role="tabpanel" data-v-component-designresourcedocuments>

    <div class="row pl-10 pb-30" data-v-designresourcedocuments-total_result>Documents and Guides: 154 Results</div>
    <div class="row document-list row-gap-50">
      <div class="design-item document-item col-lg-4 col-md-6 col-sm-12 th-card-gap mb-50">
        <div class="th-tab-card-wrapper">
          <div class="th-res-img-wraper border">
            <img src="/img/design-resources/vira.png" alt="archi-chair" data-v-designresourcedocumentsitem-image />
          </div>
          <div class="th-res-info">
            <h4 class="mb-24" data-v-designresourcedocumentsitem-name>Hugs</h4>
            <div class="th-info-list text-weight-500 mb-2 design-resource-formats">
              
              <p class="design-resource-format" data-v-designresourcedocumentsitemformats-text>Spec Sheet (PDF)</p>
              <p class="design-resource-format">User Guide (PDF)</p>
              <p class="design-resource-format">Care &amp; Maintenance (PDF)</p>
              <p class="design-resource-format">Installation Guide (PDF)</p>
              <p class="design-resource-format">Warranty (PDF)</p>
            </div>
            <div class="link pr-40">
              <div class="link-text pr-5" data-v-designresourcedocumentsitem-link_text>Download All</div>
              <div class="link-icon">
                <i class="fa-regular fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="design-item document-item col-lg-4 col-md-6 col-sm-12 th-card-gap">
        <div class="th-tab-card-wrapper">
          <div class="th-res-img-wraper border">
            <img src="/img/design-resources/archi.png" alt="archi-chair" />
          </div>
          <div class="th-res-info mt-30">
            <h6 class="title-22 mb-24">Ted</h6>
            <div class="th-info-list text-weight-500 mb-2">

              <p class="@@class">Spec Sheet (PDF)</p>
              <p class="@@class">User Guide (PDF)</p>
              <p class="@@class">Care &amp; Maintenance (PDF)</p>
              <p class="@@class">Installation Guide (PDF)</p>
              <p class="@@class">Warranty (PDF)</p>

            </div>
            <div class="th-link">
              <div class="th-link-text pr-5">Download All</div>
              <div class="th-link-icon">
                <i class="fa-regular fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="design-item document-item col-lg-4 col-md-6 col-sm-12 th-card-gap">
        <div class="th-tab-card-wrapper">
          <div class="th-res-img-wraper border">
            <img src="/img/design-resources/vira.png" alt="archi-chair" />
          </div>
          <div class="th-res-info mt-30">
            <h6 class="title-22 mb-24">Franki</h6>
            <div class="th-info-list text-weight-500 mb-2">

              <p class="@@class">Spec Sheet (PDF)</p>
              <p class="@@class">User Guide (PDF)</p>
              <p class="@@class">Care &amp; Maintenance (PDF)</p>
              <p class="@@class">Installation Guide (PDF)</p>
              <p class="@@class">Warranty (PDF)</p>

            </div>
            <div class="th-link">
              <div class="th-link-text pr-5">Download All</div>
              <div class="th-link-icon">
                <i class="fa-regular fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="design-item document-item col-lg-4 col-md-6 col-sm-12 th-card-gap">
        <div class="th-tab-card-wrapper">
          <div class="th-res-img-wraper border">
            <img src="/img/design-resources/vira.png" alt="archi-chair" />
          </div>
          <div class="th-res-info mt-30">
            <h6 class="title-22 mb-24">Hugs</h6>
            <div class="th-info-list text-weight-500 mb-2">

              <p class="@@class">Spec Sheet (PDF)</p>
              <p class="@@class">User Guide (PDF)</p>
              <p class="@@class">Care &amp; Maintenance (PDF)</p>
              <p class="@@class">Installation Guide (PDF)</p>
              <p class="@@class">Warranty (PDF)</p>

            </div>
            <div class="th-link">
              <div class="th-link-text pr-5">Download All</div>
              <div class="th-link-icon">
                <i class="fa-regular fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="design-item document-item col-lg-4 col-md-6 col-sm-12 th-card-gap">
        <div class="th-tab-card-wrapper">
          <div class="th-res-img-wraper border">
            <img src="/img/design-resources/archi.png" alt="archi-chair" />
          </div>
          <div class="th-res-info mt-30">
            <h6 class="title-22 mb-24">Ted</h6>
            <div class="th-info-list text-weight-500 mb-2">

              <p class="@@class">Spec Sheet (PDF)</p>
              <p class="@@class">User Guide (PDF)</p>
              <p class="@@class">Care &amp; Maintenance (PDF)</p>
              <p class="@@class">Installation Guide (PDF)</p>
              <p class="@@class">Warranty (PDF)</p>

            </div>
            <div class="th-link">
              <div class="th-link-text pr-5">Download All</div>
              <div class="th-link-icon">
                <i class="fa-regular fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="design-item document-item col-lg-4 col-md-6 col-sm-12 th-card-gap">
        <div class="th-tab-card-wrapper">
          <div class="th-res-img-wraper border">
            <img src="/img/design-resources/vira.png" alt="archi-chair" />
          </div>
          <div class="th-res-info mt-30">
            <h6 class="title-22 mb-24">Franki</h6>
            <div class="th-info-list text-weight-500 mb-2">

              <p class="@@class">Spec Sheet (PDF)</p>
              <p class="@@class">User Guide (PDF)</p>
              <p class="@@class">Care &amp; Maintenance (PDF)</p>
              <p class="@@class">Installation Guide (PDF)</p>
              <p class="@@class">Warranty (PDF)</p>

            </div>
            <div class="th-link">
              <div class="th-link-text pr-5">Download All</div>
              <div class="th-link-icon">
                <i class="fa-regular fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>