.th-masonry-img{
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &.th-product{
        background-size: contain;
        .th-masonry-img-content{
            color: $primary!important;
            h6{
                color: $primary!important;
            }
            p{
                color: $primary!important;
            }
        }
    }
    &:hover{
        .th-masonry-img-content{
            opacity: 1;
            visibility: visible;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .th-masonry-img-content{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        opacity: 0;
        visibility: visible;
        height: 100%;
        padding:10px 40px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.05);
        opacity: 1;
        h6{
            margin-bottom: 0;
            color: $white;
        }
        .th-btn-download-white{
            background-color: $white;
            color: $black;
            width: 50px;
            height: 50px;
            min-width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
}