<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8">

  <base href="">

  <title>Krost Landing - Custom Page</title>

  <meta name="description" content="" />
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link rel="canonical" href="">

  <link id="fontawesome-css" href="/css/fontawesome.min.css" rel="stylesheet" media="screen">
  <link id="swiper-css" href="/css/lib/swiper-bundle.min.css" rel="stylesheet" media="screen">
  <link id="choices-css" href="/css/lib/choices.min.css" rel="stylesheet" media="screen">
  <link id="calendar-css" href="/css/lib/flatpickr.min.css" rel="stylesheet" media="screen">
  <link id="lightgallery-css" href="/css/lib/lightgallery-bundle.min.css" rel="stylesheet" media="screen">
  <link id="lightGallery-transitions-css" href="/css/lib/lg-transitions.css" rel="stylesheet" media="screen">
  <link id="landing-css" href="/css/component.css" rel="stylesheet" media="screen">

  <script type="text/javascript" src="/js/lib/player.min.js"></script>
  <script type="text/javascript" src="/js/lib/lightgallery.min.js"></script>
  <script type="text/javascript" src="/js/lib/lg-thumbnail.min.js"></script>
  <script type="text/javascript" src="/js/lib/lg-zoom.min.js"></script>
  <script type="text/javascript" src="/js/lib/lg-autoplay.min.js"></script>
  <script type="text/javascript" src="/js/lib/lg-fullscreen.min.js"></script>
  <script type="text/javascript" src="/js/lib/lg-share.min.js"></script>
  <script type="text/javascript" src="/js/lib/lg-rotate.min.js"></script>
  <script type="text/javascript" src="/js/lib/lg-video.min.js"></script>
  <script type="text/javascript" src="/js/lib/lg-pager.min.js"></script>
  <script type="text/javascript" src="/js/lib/choices.min.js"></script>

  <style>
    root {}

    .here {}
  </style>




  <link rel="alternate" type="application/rss+xml" title="Feed" href="/feed/posts" />
  <link rel="alternate" type="application/rss+xml" title="Comments Feed" href="/feed/comments" />

  <link rel="icon" type="image/x-icon" href="../../media/favicon.ico" data-v-global-site.favicon>

  <!--	<link rel="manifest" href="/manifest.webmanifest">-->

  <link rel="alternate" hreflang="" href="" />
</head>