<!--============================== Hero Area ==============================-->
  <section class="th-hero-wrapper th-hero gr-bg4" id="hero-solution" data-bg-src="/img/catalogue/hero.png" data-v-component-herosolution data-v-herosolution-hero_image
  style="padding-top: 0px !important;"
  >
    <div class="container th-container th-hero-section">
      <div class="row">
        <div class="col-xl-6">

          <div class="th-breadcrumb">
            <div aria-label="breadcrumb">
              <ol class="breadcrumb font-white">

                <li class="breadcrumb-item  font-white">

                  <a href="/" class="font-white">
                    Home
                  </a>


                </li>
                <li class="breadcrumb-item  active font-white">


                  <span class="active font-white" aria-current="page">
                    Our Solutions
                  </span>

                </li>

              </ol>
            </div>
          </div>

          <div class="th-hero-container gr-bg4">
            <div class="th-hero-style">


              <h1 class="th-hero-title CatSolutions, Segments, Spaces_class" data-v-herosolution-hero_title>
                CatSolutions, Segments, Spaces
              </h1>
              <span class="th-hero-subtitle" data-v-herosolution-hero_description>Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.</span>


              <div class="th-hero-wrapp">

                <div class="position-relative pb-3">
                  <a href="/contact-us" class="th-btn text-capitalize">
                    <span class="mr-5" data-v-herosolution-hero_button_label_white>
                      Visit Our Showroom

                    </span>
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </a>

                </div>


                <div class="position-relative">
                  <a href="/contact-sales" class="th-btn-outline text-capitalize">
                    <span class="mr-5" data-v-herosolution-hero_button_label_outline>
                      Contact Sales

                    </span>
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </a>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <div class="th-hero-img">

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--======== End Hero Section ========-->
