<!-- =========================== Start Home Categories ============================ -->
 <section id="home-categories">
    <div class="container th-container">
      <div class="row">
        <div class="col-12">
          <div class="th-section-header" style="display: block">
            <div class="th-section-header-wrapper left">
              <h2 class="  th-section-title "> Our Sectors </h2>
              <div class="th-section-subtitle">
                Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
              </div>
            </div>

          </div>

        </div>
        <div class="col-12">
          <div class="section-body">
            <div class="row">
              <div class="col-md-3">
                <div class="th-our-sector-slider-nav">
                  <div class="th-sector-menu">
                    <ul class="th-menu-container">
                      <li class="th-active">
                        <a href="#">
                          <h6>
                            <span>Corporate</span>
                          </h6>
                        </a>

                      </li>
                      <li class="@@active">
                        <a href="#">
                          <h6>
                            <span>Education</span>
                          </h6>
                        </a>

                      </li>
                      <li class="@@active">
                        <a href="#">
                          <h6>
                            <span>Government</span>
                          </h6>
                        </a>

                      </li>
                      <li class="@@active">
                        <a href="#">
                          <h6>
                            <span>Workplace</span>
                          </h6>
                        </a>

                      </li>
                      <li class="@@active">
                        <a href="#">
                          <h6>
                            <span>Hospitality</span>
                          </h6>
                        </a>

                      </li>
                      <li class="@@active">
                        <a href="#">
                          <h6>
                            <span>Healthcare</span>
                          </h6>
                        </a>

                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="slider-container our-sector-curosel-slider">
                  <div class="slider-area">
                    <div class="swiper mySwiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide gr-bg6">
                          <img src="/img/bg/home/home_cat_workstation.jpg" />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s">Corporate</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s">Transform your workplace with innovative solutions</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="contact.html" class="th-btn-outline text-capitalize">
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide gr-bg6">
                          <img src="/img/bg/home/home_cat_chair.jpg" />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s">Education</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s">Create inspiring learning environments</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="contact.html" class="th-btn-outline text-capitalize">
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide gr-bg6">
                          <img src="/img/bg/home/home_cat_seating.jpg" />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s">Government</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s">Equip facilities with functional solutions</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="contact.html" class="th-btn-outline text-capitalize">
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide gr-bg6">
                          <img src="/img/bg/home/home_cat_workstation.jpg" />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s">Workplace</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s">Design collaborative workspaces</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="contact.html" class="th-btn-outline text-capitalize">
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide gr-bg6">
                          <img src="/img/bg/home/home_cat_chair.jpg" />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s">Hospitality</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s">Enhance guest experiences</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="contact.html" class="th-btn-outline text-capitalize">
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide gr-bg6">
                          <img src="/img/bg/home/home_cat_seating.jpg" />
                          <div class="slider-content gr-bg5" data-ani="slideinleft" data-ani-delay=".1s">
                            <h4 class="title font-white" data-ani="slideinleft" data-ani-delay=".2s">Healthcare</h4>
                            <h6 class="th-title-20 font-white pb-15" data-ani="slideinleft" data-ani-delay="0.3s">Create healing environments</h6>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                              <div class="position-relative">
                                <a href="contact.html" class="th-btn-outline text-capitalize">
                                  <span class="mr-5">Contact Sales</span>
                                  <i class="fa-regular fa-arrow-up degree-60"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                      <div class="swiper-pagination"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- =========================== End Home Categories ============================ -->