<!-- ================================== Start Home Blogs =========================== -->
  <section id="home-blogs" class="bg-gray">
    <div class="container th-container">
      <div class="row home-blogs" data-v-component-blogslider>

        <div class="th-section-header sectionHeaderClass">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="  th-section-title " data-v-blogslider-section_title> Blogs </h2>
            <div class="th-section-subtitle" data-v-blogslider-section_subtitle>
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>

          <div class="right">
            <a href="/blog">
              <div class="th-section-header-link">
                <span class="th-view-all-btn All BlogsClass">All Blogs</span>
                <span class="th-section-header-link-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper home-blog-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-1.jpg" data-v-blogslideritem-image />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title" data-v-blogslideritem-name>Lorem ipsum</h6>
                      <p class="th-blog-slider-description" data-v-blogslideritem-description>
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <a href="link" data-v-blogslideritem-slug>
                        <div class="link">
                          <div class="link-text pr-5" data-v-blogslideritem-link_text>Read More</div>
                          <div class="link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-2.jpg" />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">Lorem ipsum</h6>
                      <p class="th-blog-slider-description">
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <div class="link">
                        <div class="link-text pr-5">Read More</div>
                        <div class="link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-3.jpg" />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">Lorem ipsum</h6>
                      <p class="th-blog-slider-description">
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <div class="link">
                        <div class="link-text pr-5">Read More</div>
                        <div class="link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-4.jpg" />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">Lorem ipsum</h6>
                      <p class="th-blog-slider-description">
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <div class="link">
                        <div class="link-text pr-5">Read More</div>
                        <div class="link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <img src="/img/bg/home/home_blog-5.jpg" />
                    <div class="add-to-pinboard position-absolute top-right-30">
                      <i class="fa-solid fa-plus"></i>
                    </div>
                    <div class="slider-footer">

                      <h6 class="th-title-20 font-weight-700 th-blog-slider-title">Lorem ipsum</h6>
                      <p class="th-blog-slider-description">
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                      </p>

                      <div class="link">
                        <div class="link-text pr-5">Read More</div>
                        <div class="link-icon-btn">
                          <i class="fa-regular fa-arrow-up degree-60"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- ================================== End Home Blogs =========================== -->