<!--============================== Featured Projects Slider Section ==============================-->
  <section id="th-featured-projects-slider" class="gr-bg1">
    <div class="container th-container">
      <div class="row featured-projects-row" data-v-component-featuredprojectslider>
        <div class="th-section-header sectionHeaderClass">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="  th-section-title " data-v-featuredprojectslider-section_title> Featured Projects </h2>
            <div class="th-section-subtitle" data-v-featuredprojectslider-section_subtitle>
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>

          <div class="right">
            <a href="/projects">
            <div class="th-section-header-link">
                <span class="th-view-all-btn View All ProjectsClass">View All Projects</span>
                <span class="th-section-header-link-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </span>
              </div>
            </a>
          </div>

        </div>


        <div class="section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper th-featured-projects-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="th-item-project">
                      <div class="th-img-container itemProjectClass">
                        <img src="/img/bg/home/home_feature_project_1.jpg" data-v-featuredprojectslideritem-image />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <div class="th-label" data-v-featuredprojectslideritem-label>Build</div>
                        <a href="/projects/chwyla" data-v-featuredprojectslideritem-link>
                          <h3 class="th-title" data-v-featuredprojectslideritem-title>Chwyla</h3>
                        </a>
                        <div class="th-description" style="word-break: break-word;" data-v-featuredprojectslideritem-description>This is the first project description.</div>
                        <div class="classPadding">
                          <a class="th-link" href="project-details.html" data-v-featuredprojectslideritem-link>
                            <div class="th-link-text pr-5">
                              Read More
                            </div>
                            <div class="th-link-icon-btn">
                              <i class="fa-regular fa-arrow-up degree-60"></i>
                            </div>
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-project">
                      <div class="th-img-container itemProjectClass">
                        <img src="/img/bg/home/home_feature_project_2.jpg" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <div class="th-label">Total Fitouts</div>
                        <h3 class="th-title">Fiorelli packing</h3>
                        <div class="th-description">This is the second project description.</div>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-project">
                      <div class="th-img-container itemProjectClass">
                        <img src="/img/bg/home/home_feature_project_3.jpg" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <div class="th-label">Merit Interiors</div>
                        <h3 class="th-title">Berry Street</h3>
                        <div class="th-description">This is the third project description.</div>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-project">
                      <div class="th-img-container itemProjectClass">
                        <img src="/img/bg/home/home_feature_project_4.jpg" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <div class="th-label">Amicus</div>
                        <h3 class="th-title">Artifex</h3>
                        <div class="th-description">This is the third project description.</div>
                        <div class="th-link classPadding">
                          <div class="th-link-text pr-5">

                            Read More
                          </div>
                          <div class="th-link-icon-btn">
                            <i class="fa-regular fa-arrow-up degree-60"></i>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============================== End Featured Projects Slider Section ==============================-->