<!--============================== Blog Detail Section ==============================-->
  <section id="th-blog-detail" class="th-blog-detail-section-my" data-v-component-blogdetailsexcerpt>
    <div class="d-flex justify-content-end align-items-center edit-link" data-v-blog-excerpt-component-link style="z-index: 1000;">
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container th-custom-container">
      <div class="section-body">
        <div class="row">
          <div class="col-md-12">
            <div class="" style="display: block">
              <div class="th-section-header-wrapper">
                <h2 class="pt-35 pb-20 d-none" data-v-blogdetail-section_title> Blog Details </h2>
              </div>
              <div class="th-blog-detail-content">
                <p data-v-blogdetail-description class="th-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula libero eget magna fermentum, eget feugiat odio fermentum. 
                  Fusce euismod nulla sit amet vestibulum venenatis. Proin vel lacus at nisi elementum ullamcorper. Nam nec aliquam elit. 
                  Mauris viverra augue ac eros venenatis, a scelerisque ipsum luctus. Vivamus euismod sapien sit amet sapien efficitur, vel convallis sem molestie.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============================== Blog Detail Section ==============================-->
