 <section id="blog-list" class="latest-news th-section-py" data-v-component-latestnews>
    <div class="d-flex justify-content-end pr-40 align-items-center" data-v-latestnews-component-link>
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row">
        <div class="section-header project-header p-0">
          <div class="w-100 text-center mb-5">
            <h2 class="th-title th-section-title th-title-mb-15" data-v-latestnews-section_title>Latest News</h2>
          </div>
        </div>

        <div class="section-body">
          <div class="row project-list-row pt-100 th-projects-list-pt" data-v-latestnews-items>
            <div class="col-12 col-sm-6 col-md-4 mb-80 project-list-gap project-list-item d-flex flex-column">
              <div class="list-img position-relative">
                <a href="/blog" data-v-latestnewsitem-edit-link class="hover position-absolute top-left-10"
                  style="color: #fff; font-size: 1.5rem;">
                  <i class="fa-solid fa-pen-circle"></i>
                </a>
                <div class="img-container">
                  <a href="/blog" data-v-latestnewsitem-link class="hover" >
                    <img src="/img/blog-page/News 1.png" alt="" data-v-latestnewsitem-image class="w-100" />
                  </a>
                </div>
                <div 
                    data-v-latestnewsitem-add-to-pinboard
                    data-id="1"
                       data-toggle="tooltip"
                       data-placement="top"
                       title=""
                       role="button"
                       tabindex="0"
                       data-bs-original-title="Add to Pinboard"
                       data-original-title="Add to Pinboard"
                    data-model="post" 
                    data-title="Post Title" 
                    data-description="Post Description" 
                    data-image="Post Image"                 
                    class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30"
                  >
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
                <div>
                  <a href="/blog" data-v-latestnewsitem-link class="hover" >
                    <h6 class="th-blog-title" data-v-latestnewsitem-title>Krost's Sydney Office Update With 3d Tour</h6>
                    <div class="th-blog-excerpt" data-v-latestnewsitem-excerpt>Sit egestas orci consequat est mauris duis. In viverra hac vestibulum pretium.</div>
                  </a>
                </div>
                <div>
                  <a href="/blog" data-v-latestnewsitem-link class="hover" target="_blank">
                    <div class="link th-read-more-btn th-mt-16">
                      <div class="th-link-text th-pr-5">Read More</div>
                      <!-- <div class="link-icon-btn">
                        <i class="fa-regular fa-arrow-up degree-60"></i>
                      </div> -->
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item th-mb-80 th-main-des-three-px">
              <div class="list-img">

                <div class="img-container">
                  <img src="/img/blog-page/News 2.png" alt="" />
                </div>
                <div class="add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <div class="card-footer">
                <h6 class="font-weight-400">THE BOOTH: WHERE IDEAS AND CONNECTIONS GROW</h6>
                <div class="link th-read-more-btn th-mt-16">
                  <div class="link-text pr-5">Read More</div>
                  <div class="link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item th-mb-80 th-main-des-three-px">
              <div class="list-img">

                <div class="img-container">
                  <img src="/img/blog-page/News 3.png" alt="" />
                </div>
                <div class="add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <div class="card-footer">
                <h6 class="font-weight-400">Unveiling Our Updated Sydney Showroom</h6>
                <div class="link th-read-more-btn th-mt-16">
                  <div class="link-text pr-5">Read More</div>
                  <div class="link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item th-mb-80 th-main-des-three-px">
              <div class="list-img">
                <div class="img-container">
                  <img src="/img/blog-page/News 4.png" alt="" />
                </div>
                <div class="add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <div class="card-footer">
                <h6 class="font-weight-400">Beyond Aesthetics: How Organic Design</h6>
                <div class="link th-read-more-btn th-mt-16">
                  <div class="link-text pr-5">Read More</div>
                  <div class="link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item th-mb-80 th-main-des-three-px">
              <div class="list-img">

                <div class="img-container">
                  <img src="/img/blog-page/News 5.png" alt="" />
                </div>
                <div class="add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <div class="card-footer">
                <h6 class="font-weight-400">Watch The Full Panel Discussion On Designing</h6>
                <div class="link th-read-more-btn">
                  <div class="link-text pr-5">Read More</div>
                  <div class="link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 project-list-gap project-list-item th-mb-80 th-main-des-three-px">
              <div class="list-img">

                <div class="img-container">
                  <img src="/img/blog-page/News 6.png" alt="" />
                </div>
                <div class="add-to-pinboard position-absolute top-right-30">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
              <div class="card-footer">
                <h6 class="font-weight-400">Extraordinary Sydney Showroom Event Hosted</h6>
                <div class="link th-read-more-btn">
                  <div class="link-text pr-5">Read More</div>
                  <div class="link-icon-btn">
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mb-80" data-v-load-more-container>
            <!-- <div class="col-auto pt-100" style="display:none;">
              <p id="total-posts-count" data-v-latestnews-total-posts-count>0</p>
              <p id="show_data_count" data-v-latestnews-show-data>1</p>
              <p id="current-page" data-v-latestnews-current-page>1</p>
              <p id="per-page" data-v-latestnews-per-page>30</p>
            </div> -->
            <div class="col-auto th-pt-100" id="all-blog-pagination" style="display:none;"></div>
            <div class="col-auto">
              <button class="btn th-btn-gray load-more" id="load_more_button">Load More</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>