  <section id="whats-happening" class="whats-happening-background th-blog-whats-happening-section-py position-relative" data-v-component-whatishappening="">
    <!-- <div class="d-flex justify-content-end pr-40 align-items-center" data-v-component-link="">  -->
    <div class="position-absolute top-right-30" data-v-whatishappening-component-link=""> 
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="/components/63/items" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="th-breadcrumb">
        <div aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#" target="_blank">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Blog</li>
          </ol>
        </div>
      </div>

      <div class="section-body whats-happening-container">
        <div class="row">
          <div class="col-md-12">
            <div class="whats-happening">
              <h1 class="th-title th-title-50 th-title-mb-15" data-v-whatishappening-section_title="">WHATS HAPPENING?</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <a href="/blog" data-v-whatishappening-thumbnail-link="" target="_blank" aria-label="" title="">
              <div class="whats-happening-left" data-v-whatishappening-image=""
                style="background-image: url('/img/blog-page/whats-happening-left.png');"
                src="/media/uploads2025/08/whats-happening-left.png">
                <div class="th-member-info-container" >
                 
                    <div class="link read-more th-white-link">
                      <div class="link-icon-btn-white-large">
                        <i class="fa-regular fa-arrow-up degree-60"></i>
                      </div>
                    </div>
                
                </div>
              </div>
            </a>
          </div>


          <div class="col-md-5 th-whats-happening-right th-nav-section-px">
            <div class="whats-happening-right gap-15" data-v-whatishappening-items="">
              <div class="row align-items-start right-item">
                <div class="col-md-7 col-sm-7 d-flex flex-column justify-content-center" data-v-whatishappening-item="">
                  <p class="my-5 th-publish-date">
                    <span class="font-size-16">Published <span data-v-whatishappening-item-date="">March 2025</span>
                    </span>
                  </p>
                  <div class="d-flex align-items-center">
                    <a href="/blog/krost-s-andrew-galea-takes-silver-at-2025-australian-forklift-championship" data-v-whatishappeningitem-link=""
                      class="hover" target="_blank" style="flex:1 1 auto;">
                      <p class="th-underline mb-0 th-hero-blog-link" data-v-whatishappeningitem-title="">Bayside City Council - Youth Centre
                        Opening</p>
                    </a>
                  </div>
                </div>
                <div class="col-md-5 col-sm-5 d-flex th-right-item-image" data-v-whatishappening-item-thumbnail>
                  <div class="upper-img w-100 d-flex">
                    <a href="/blog/krost-s-andrew-galea-takes-silver-at-2025-australian-forklift-championship">
                      <img src="/media/uploads2025/09/upper img.png" alt="" data-v-whatishappeningitem-image/>
                    </a>
                  </div>
                </div>
              </div>

              <div class="row align-items-start right-item">
                <div class="col-md-7 col-sm-7 d-flex flex-column justify-content-center" data-v-whatishappening-item="">
                  <p class="my-5">
                    <span class="font-size-16">Published <span data-v-whatishappening-item-date="">January
                        2025</span>
                    </span>
                  </p>
                  <div class="d-flex align-items-center">
                    <a href="" class="hover" target="_blank" style="flex:1 1 auto;">
                      <p class="th-underline mb-0" data-v-whatishappeningitem-title="">Kenni - A Class Of Its Own</p>
                    </a>
                  </div>
                </div>
                <div class="col-md-5 col-sm-5 d-flex align-items-start" data-v-whatishappening-item-thumbnail="">
                  <div class="upper-img w-100" style="display:flex; align-items:flex-start;">
                    <a href="">
                      <img src="/media/uploads2025/10/middle img.png" alt="" data-v-whatishappeningitem-image/>
                    </a>
                  </div>
                </div>
              </div>

              <div class="row align-items-start right-item">
                <div class="col-md-7 col-sm-7 d-flex flex-column justify-content-center" data-v-whatishappening-item="">
                  <p class="my-5">
                    <span class="font-size-16">Published <span data-v-whatishappening-item-date="">March 2025</span>
                    </span>
                  </p>
                  <div class="d-flex align-items-center">
                    <a href="" class="hover" target="_blank" style="flex:1 1 auto;">
                      <p class="th-underline mb-0" data-v-whatishappeningitem-title="">An Arena For Innovative Collaboration
                      </p>
                    </a>
                  </div>
                </div>
                <div class="col-md-5 col-sm-5 d-flex align-items-start" data-v-whatishappening-item-thumbnail="">
                  <div class="upper-img w-100" style="display:flex; align-items:flex-start;">
                    <a href="">
                      <img src="/media/uploads2025/08/lower img.png" alt="" data-v-whatishappeningitem-image/>
                    </a>
                  </div>
                </div>
              </div>



              <!-- old code  -->

              <!-- <div class="row align-items-top right-item">
                <div class="col-md-7 col-sm-7" data-v-whatishappening-item="">
                  <p class="my-5 th-publish-date">
                    <span class="font-size-16">Published <span data-v-whatishappening-item-date="">March 2025</span>
                    </span>
                  </p>
                  <a href="/blog/krost-s-andrew-galea-takes-silver-at-2025-australian-forklift-championship"
                    class="hover" target="_blank">
                    <p class="th-underline" data-v-whatishappeningitem-title="">Bayside City Council - Youth Centre
                      Opening</p>
                  </a>
                </div>
                <div class="col-md-5 col-sm-5" data-v-whatishappening-item-thumbnail="">
                  <div class="upper-img">
                    <a href="/blog/krost-s-andrew-galea-takes-silver-at-2025-australian-forklift-championship">
                      <img src="/media/uploads2025/10/top.png" alt="" data-v-whatishappeningitem-image="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="row align-items-top right-item">
                <div class="col-md-7 col-sm-7" data-v-whatishappening-item="">
                  <p class="my-5 th-publish-date">
                    <span class="font-size-16">Published <span data-v-whatishappening-item-date="">January
                        2025</span>
                    </span>
                  </p>
                  <a href="" class="hover" target="_blank">
                    <p class="th-underline" data-v-whatishappeningitem-title="">Kenni - A Class Of Its Own</p>
                  </a>
                </div>
                <div class="col-md-5 col-sm-5" data-v-whatishappening-item-thumbnail="">
                  <div class="upper-img">
                    <a href="">
                      <img src="/media/uploads2025/10/middle.png" alt="" data-v-whatishappeningitem-image="">
                    </a>
                  </div>
                </div>
              </div>


              <div class="row align-items-top right-item">
                <div class="col-md-7 col-sm-7" data-v-whatishappening-item="">
                  <p class="my-5 th-publish-date">
                    <span class="font-size-16">Published <span data-v-whatishappening-item-date="">March 2025</span>
                    </span>
                  </p>
                  <a href="" class="hover" target="_blank">
                    <p class="th-underline" data-v-whatishappeningitem-title="">An Arena For Innovative Collaboration
                    </p>
                  </a>
                </div>
                <div class="col-md-5 col-sm-5" data-v-whatishappening-item-thumbnail="">
                  <div class="upper-img">
                    <a href="">
                      <img src="/media/uploads2025/08/lower%20img.png" alt="" data-v-whatishappeningitem-image="">
                    </a>
                  </div>
                </div>
              </div> -->

              <!-- old code  -->

            </div>
          </div>
          
          <div class="col-md-7 th-whats-happening-title">
            <div class="whats-happening-content">
              <a href="Read More" data-v-whatishappening-below_title="" class="hover" target="_blank">
                <h2 class="th-title th-hero-blog-title th-title-mb-20">Embracing Human-Centric Design: A Path to Enhanced Usability and Experience</h2>
              </a>
              <div class="th-section-subtitle th-section-subtitle-mb" data-v-whatishappening-below_description="">Sit egestas orci consequat est mauris duis. In viverra hac
                vestibulum pretium.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>