 <!--============================== Featured Projects Slider Section ==============================-->
 
 <section id="th-blog-related-article-slider" class="th-section position-relative th-section-py th-mb-80 bg-gray" data-v-component-blogrelatedarticleslider>
  <div class="d-flex justify-content-end align-items-center edit-link" data-v-blogrelatedarticleslider-component-link style="z-index: 1000;">
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit</a>
  </div>
  <div class="container th-container th-custom-container">
    <div class="row">
      <div class="th-section-header">
        <div class="th-section-header-wrapper left flex-1">
          <h2 class="th-section-title th-section-title-mb" data-v-blogrelatedarticleslider-section_title> Related Articles </h2>
          <div class="font-size-16 th-section-subtitle-mb" data-v-blogrelatedarticleslider-section_subtitle>
            Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
          </div>
        </div>
        <div class="right">
          <a href="" data-v-blogrelatedarticleslider-link_url>
            <div class="th-section-header-link">
              <span class="th-view-all-btn View All ArticlesClass" data-v-blogrelatedarticleslider-link_text>View All Articles</span>
              <span class="th-section-header-link-btn">
                <i class="fa-regular fa-arrow-up degree-60"></i>
              </span>
            </div>
          </a>
        </div>
      </div>

      <div class="th-section-body">
        <div class="row">
          <div class="col-md-12">
            <div class="swiper th-related-articles-slider th-pb-60">
              <div class="swiper-wrapper">
                <div class="swiper-slide d-flex flex-column" style="height: auto;">
                  <div class="list-img position-relative">
                    <div class="img-container">
                      <a href="" data-v-blogrelatedarticleslideritem-url class="hover">
                        <img src="/img/bg/home/home_blog-1.jpg" data-v-blogrelatedarticleslideritem-image />
                      </a>
                    </div>
                    <div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30"
                      data-id=""
                      data-toggle="tooltip"
                      data-placement="top"
                      title=""
                      role="button"
                      tabindex="0"
                      data-bs-original-title="Add to Pinboard"
                      data-original-title="Add to Pinboard"
                      data-model="post" 
                      data-title="data-v-blogrelatedarticleslideritem-name" 
                      data-description="data-v-blogrelatedarticleslideritem-description" 
                      data-image="data-v-blogrelatedarticleslideritem-image" data-v-blogrelatedarticleslideritem-add-to-pinboard>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                  </div>
                  <div class="slider-footer d-flex flex-column justify-content-between" style="flex: 1">
                    <div>
                      <a href="#" data-v-blogrelatedarticleslideritem-url class="hover th-blog-title">
                        <h3 class="th-mt-20 th-item-title-bold mb-0"  data-v-blogrelatedarticleslideritem-name>Lorem ipsum</h3>
                      </a>
                      <div class="th-description th-description-my" style="word-break: break-word;" data-v-blogrelatedarticleslideritem-description>This is the first project description.</div>
                    </div>
                    <div>
                      <a href="#" data-v-blogrelatedarticleslideritem-url>
                        <div class="link th-read-more-btn">
                          <div class="link-text th-link-text th-pr-5">Read More</div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-scrollbar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
  <!--============================== End Featured Projects Slider Section ==============================-->