<section id="th-showrooms" data-v-component-showrooms class="position-relative th-section-py"
    style="scroll-margin-top: 20vh;">
    <div class="d-flex justify-content-end th-pr-40 align-items-center position-absolute" style="right: 40px"
        data-v-showrooms-component-link>
        <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
        <a href="" target="_blank" class="">Edit</a>
    </div>
    <div class="container th-container">
        <div class="row">
            <div class="th-pb-20" style="display: block">
                <div class="th-section-header-wrapper text-center">
                    <h2 class="th-section-title th-section-title-mb" data-v-showrooms-section_title> Our Locations </h2>
                    <!-- <div class="th-section-subtitle" data-v-showrooms-section_subtitle>
                        Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                    </div> -->
                </div>
            </div>

            <div class="section-body th-showroom">
                <div class="row showroom-list">


                    <div class="col-lg-4 showroom-item">
                        <div class="th-item-showroom pb-0">
                            <div class="th-img-container">
                                <a href="" data-v-showroomitem-view_link>
                                    <img src="/img/contact/contact-location-one.jpeg" alt="Showroom Location"
                                        data-v-showroomitem-image />
                                </a>
                                <div data-v-showroomitem-inactive_media style="display: contents">
                                    <img src="/img/contact/contact-location-one.jpeg" alt="Showroom Location"
                                        data-v-showroomitem-image />
                                </div>
                            </div>
                            <div class="th-item-showroom-information">
                                <a href="" data-v-showroomitem-view_link>
                                    <h3 class="title th-showroom-title th-title-24 th-showroom-title-my"
                                        data-v-showroomitem-title>Sydney Showroom </h3>
                                </a>
                                <div data-v-showroomitem-inactive_title style="display: contents">
                                    <h3 class="title th-showroom-title th-title-24 th-showroom-title-my"
                                        data-v-showroomitem-title>Sydney Showroom </h3>
                                </div>
                                <!-- <p class="showroom-opening font-weight-500" data-v-showroomitem-opening_time>Open Weekdays, 8am to 5pm</p> -->
                                <div class="showroom-address-container d-flex align-items-center mt-5">
                                    <i class="fa-solid fa-map-pin th-pr-10"></i>
                                    <!-- <i class="fa-solid fa-location-dot th-pr-10"></i> -->
                                    <a href="" data-v-showroomitem-map_link target="_blank">
                                        <p class="showroom-address" data-v-showroomitem-address>
                                            33 Ricketty Street Mascot NSW, 2020
                                        </p>
                                    </a>
                                </div>

                                <div class="d-flex th-mt-30">
                                    <a href="/contact-sales" data-v-showroomitem-book_link target="_blank">
                                        <div class="link th-pr-40">
                                            <div class="link-text th-pr-5" data-v-showroomitem-book_btn>Book a Tour
                                            </div>
                                            <!-- <div class="link-icon">
                                                <i class="fa-regular fa-arrow-right"></i>
                                            </div> -->
                                        </div>
                                    </a>
                                    <a href="" data-v-showroomitem-explore_link target="_blank">
                                        <div class="link">
                                            <div class="link-text th-pr-5" data-v-showroomitem-view_btn>View On Map
                                            </div>
                                            <!-- <div class="link-icon">
                                                <i class="fa-regular fa-arrow-right"></i>
                                            </div> -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 showroom-item">
                        <div class="th-item-showroom pb-0">
                            <div class="th-img-container">
                                <img src="/img/contact/contact-location-two.png" alt="Showroom Location" />
                            </div>
                            <div class="th-item-showroom-information">
                                <h3 class="title th-showroom-title">Melbourne Showroom </h3>

                                <p class="showroom-opening th-font-weight-500">Open Weekdays, 8am to 5pm</p>


                                <div class="showroom-address-container d-flex align-items-center mt-5">
                                    <i class="fa-solid fa-location th-pr-5"></i>
                                    <p class="showroom-address">33 Ricketty Street Mascot NSW, 2020</p>
                                </div>

                                <div class="d-flex th-mt-30">
                                    <div class="link th-pr-40">
                                        <div class="link-text th-pr-5">Book a Tour </div>
                                        <div class="link-icon">
                                            <i class="fa-regular fa-arrow-right"></i>
                                        </div>
                                    </div>
                                    <div class="link">
                                        <div class="link-text th-pr-5">View On Map </div>
                                        <div class="link-icon">
                                            <i class="fa-regular fa-arrow-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>