<!--============================== Need Help Section ==============================-->
<section id="need-help-section">
    <div class="container th-container">
      <div class="row need-help-row" data-v-component-needhelp>
        <div class="th-section-header sectionHeaderClass" style="display: block">
          <div class="th-section-header-wrapper text-center">
            <h2 class="th-section-title " data-v-needhelp-section_title> Need Help? </h2>
            <div class="th-section-subtitle" data-v-needhelp-section_subtitle>
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>
  
        </div>
  
        <div class="section-body">
          <div class="col-md-12">
            <div class="th-need-help-container">
              <div class="th-item-help d-flex flex-column align-items-center">
                <div class="d-flex flex-column justify-content-between align-items-center">
                  <div class="th-btn-circle-icon">
                    <i class="fa-solid fa-phone" data-v-needhelpitem-icon></i>
                  </div>
                  <h6 class="font-weight-700 th-title-22" style="min-height: 55px; margin-bottom: 0;" data-v-needhelpitem-title>Any Questions?</h6>
                </div>
                <div class="d-flex flex-column justify-content-between align-items-center" style="flex: 1;">
                  <p class="th-description my-15" data-v-needhelpitem-description>Visit our showrooms, call or email us</p>
                  <div class="th-link">
                    <a href="#" class="th-link-text pr-5" data-v-needhelpitem-link>Contact Us</a>
                    <!-- <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="th-item-help">
                <div class="th-btn-circle-icon">
                  <i class="fa-duotone fa-book-open-cover"></i>
                </div>
  
                <h6 class="font-weight-700">See Our Latest Collection?</h6>
                <p class="th-description my-15">Check out our latest projects</p>
                <div class="th-link">
                  <div class="th-link-text pr-5">View Catalogue</div>
                  <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                  </div>
                </div>
  
              </div>
              <div class="th-item-help">
                <div class="th-btn-circle-icon">
                  <i class="fa-solid fa-lightbulb"></i>
                </div>
  
                <h6 class="font-weight-700">Need some inspiration?</h6>
                <p class="th-description my-15">Check out our latest projects</p>
                <div class="th-link">
                  <div class="th-link-text pr-5">View Projects</div>
                  <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                  </div>
                </div>
  
              </div>
              <div class="th-item-help">
                <div class="th-btn-circle-icon">
                  <i class="fa-solid fa-cart-shopping"></i>
                </div>
  
                <h6 class="font-weight-700">Need something now?</h6>
                  <p class="th-description my-15">Visit our online store!</p>
                  <div class="th-link">
                    <div class="th-link-text pr-5">Shop Now</div>
                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>
                  </div>
  
              </div>
              <div class="th-item-help">
                <div class="th-btn-circle-icon">
                  <i class="fa-solid fa-360-degrees"></i>
                </div>
  
                <h6 class="font-weight-700">Can’t make it to our showrooms?</h6>
                  <p class="th-description my-15">Visit our online store!</p>
                  <div class="th-link">
                    <div class="th-link-text pr-5">Take a Tour</div>
                    <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div>
                  </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--============================== End Need Help Section ==============================-->