<!--==============================
 About Manufacturing Process section
==============================-->
<!-- <section id="th-manufacturing-process" class="gr-bg8-bottom">
    <div class="th-manfacturing-container container th-container">
        <div class="section-body">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4 mb-md-0 th-manf-process-content">
              <h3>Manufacturing Process</h3>
              <p class="th-manufacturing-details">
                Lorem ipsum dolor sit amet consectetur. Egestas orci gravida
                amet egestas et. Pellentesque libero donec sit egestas orci
                consequat est mauris duis. In viverra hac vestibulum pretium.
              </p>
              <div class="link link-gap">
                <div class="link-text pr-5">Visit showroom</div>
                <div class="link-icon">
                  <i class="fa-regular fa-arrow-right"></i>
                </div>
              </div>
             
             
              <div class="link">
                <div class="link-text pr-5">Learn More</div>
                <div class="link-icon">
                  <i class="fa-regular fa-arrow-right"></i>
                </div>
              </div>
            </div>
    
            <div class="col-12 col-md-6 right-img">
              <img src="/img/about/manufacturing.png" alt="Manufacturing Process" class="img-fluid rounded">
            </div>
          </div>
    
        </div>

    </div>
  </section> -->
  <!--======== End About Manufacturing Process Section ========-->
  
  <!--============================== About Manufacturing Process Section ==============================-->
  <section id="th-manufacturing-process" class="gr-bg8-bottom" data-v-component-manufacturingprocess>
    <div class="th-manfacturing-container container th-container">
    <div class="section-body">
        <div class="row align-items-center">
        <!-- Left Content -->
        <div class="col-12 col-md-6 mb-4 mb-md-0 th-manf-process-content">
            <h3 data-v-manufacturingprocess-title>Manufacturing Processs</h3>
            <p class="th-manufacturing-details" data-v-manufacturingprocess-description>
            Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est mauris duis. In viverra hac vestibulum pretium.
            </p>
            <div class="link link-gap">
            <div class="link-text pr-5" data-v-manufacturingprocess-link_text>Visit showroom</div>
            <div class="link-icon">
                <i class="fa-regular fa-arrow-right"></i>
            </div>
            </div>


            <div class="link">
            <div class="link-text pr-5">Learn More</div>
            <div class="link-icon">
                <i class="fa-regular fa-arrow-right"></i>
            </div>
            </div>
        </div>

        <!-- Right Image -->
        <div class="col-12 col-md-6 right-img">
            <img data-v-manufacturingprocess-image src="/img/about/manufacturing.png" alt="Manufacturing Process" class="img-fluid rounded">
        </div>
        </div>

    </div>

    </div>
</section>
<!--======== End About Manufacturing Process Section ========-->