<!--============================== Need Help Section ==============================-->
<section id="need-help-section">
  <div class="d-flex justify-content-end pr-40 align-items-center position-absolute th-component-edit-link" data-v-needhelp-component-link style="right: 40px">
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit</a>
  </div>
  <div class="container th-container">
    <div class="row need-help-row" data-v-component-needhelp>
      <div class="th-section-header sectionHeaderClass th-section-header-pb-50" style="display: block">
        <div class="th-section-header-wrapper text-center">
          <h2 class="th-section-title th-section-title-mb" data-v-needhelp-section_title> Need Help? </h2>
          <div class="th-section-subtitle th-section-subtitle-mb" data-v-needhelp-section_subtitle>
            Need help selecting the right finishes or configurations from the catalogue? Speak with our team today.
          </div>
        </div>

      </div>

      <div class="section-body">
        <div class="col-md-12">
          <div class="th-need-help-container" data-v-needhelp-wrapper>
            <div class="th-item-help d-flex flex-column align-items-center">
              <a href="#" class="th-link-text pr-5" data-v-needhelpitem-icon-title-url>
                <div class="d-flex flex-column justify-content-between align-items-center">
                  <div class="th-btn-circle-icon">
                    <i class="fa-solid fa-phone" data-v-needhelpitem-icon></i>
                  </div>
                  <h6 class="th-item-title-bold th-needhelp-title-custom-height" data-v-needhelpitem-title>Any Questions?</h6>
                </div>
              </a>
              <div class="d-flex flex-column justify-content-between align-items-center" style="flex: 1;">
                <p class="th-description th-need-to-help-des-my" data-v-needhelpitem-description>Visit our showrooms, call or email us</p>
                <div class="th-link">
                  <a href="#" class="th-link-text pr-5" data-v-needhelpitem-link>Contact Us</a>
                  <!-- <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                  </div> -->
                </div>
              </div>
            </div>


            <div class="th-item-help">
              <div class="th-btn-circle-icon">
                <i class="fa-duotone fa-book-open-cover"></i>
              </div>

              <h6 class="th-item-title-bold">See Our Latest Collection?</h6>
              <p class="th-description th-need-to-help-des-my">Check out our latest projects</p>
              <div class="th-link">
                <div class="th-link-text th-pr-5">View Catalogue</div>
                <div class="th-link-icon">
                  <i class="fa-regular fa-arrow-right"></i>
                </div>
              </div>

            </div>
            <div class="th-item-help">
              <div class="th-btn-circle-icon">
                <i class="fa-solid fa-lightbulb"></i>
              </div>

              <h6 class="th-item-title-bold">Need some inspiration?</h6>
              <p class="th-description th-need-to-help-des-my">Check out our latest projects</p>
              <div class="th-link">
                <div class="th-link-text th-pr-5">View Projects</div>
                <div class="th-link-icon">
                  <i class="fa-regular fa-arrow-right"></i>
                </div>
              </div>

            </div>
            <div class="th-item-help">
              <div class="th-btn-circle-icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </div>

              <h6 class="th-item-title-bold">Need something now?</h6>
                <p class="th-description th-need-to-help-des-my">Visit our online store!</p>
                <div class="th-link">
                  <div class="th-link-text th-pr-5">Shop Now</div>
                  <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                  </div>
                </div>

            </div>
            <div class="th-item-help">
              <div class="th-btn-circle-icon">
                <i class="fa-solid fa-360-degrees"></i>
              </div>

                <h6 class="font-weight-700 th-next-step-title">Can’t make it to our showrooms?</h6>
                <p class="th-description th-need-to-help-des-my">Visit our online store!</p>
                <div class="th-link">
                  <div class="th-link-text th-pr-5">Take a Tour</div>
                  <div class="th-link-icon">
                    <i class="fa-regular fa-arrow-right"></i>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============================== End Need Help Section ==============================-->