<!--==============================
        Categories About video Player
==============================-->

<!-- <section id="our-history-section" class="container th-container">
   
    <div class="section-body">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 mb-4 mb-md-0">
           <div class="th-img-container">
            <img src="/img/about/about-history.png" alt="Our History" class="img-fluid rounded">
           </div>
          </div>
  
          <div class="col-12 col-md-6">
            <div class="th-our-history-info-wrapper">
                <div class="th-our-history-info-one">

                    <h2 class="th-our-history-title-one">Our History</h2>
                    <h6 class="font-size-22 font-weight-400">
                      Lorem ipsum dolor sit amet consectetur. Egestas orci gravida
                      amet egestas et. Pellentesque libero donec sit egestas orci
                      consequat est mauris duis. In viverra hac vestibulum
                      pretium. In egestas eget metus amet amet pellentesque
                      tristique.
                    </h6>
                </div>
                <div class="th-our-history-info-two">
                    <h2 class="th-our-history-title-two">1989</h2>
                    <h6 class="font-size-22 font-weight-400">
                      Lorem ipsum dolor sit amet consectetur. Egestas orci gravida
                      amet egestas et. Pellentesque libero donec sit egestas orci
                      consequat est mauris duis. In viverra hac vestibulum
                      pretium. In egestas eget metus amet amet pellentesque
                      tristique.
                    </h6>
                </div>
            </div>   
          </div>
        </div>
    </div>
  </section> -->
  <!--======== End Categories Our History Section ========-->
  
  <!--============================== Categories Our History Section ========-->
  <section id="our-history-section">
    <div class="container th-container">
      <div class="section-body our-history-section" data-v-component-ourhistory>
        <div class="row align-items-center">
          <!-- Left Side Image -->
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <div class="th-img-container">
              <img data-v-ourhistory-image src="/img/about/about-history.png" alt="Our History" class="img-fluid rounded">
            </div>
          </div>
  
          <!-- Right Side Content -->
          <div class="col-12 col-md-6">
            <div class="th-our-history-info-wrapper history-list">
              <div class="th-our-history-info-one history-item mb-5">
  
                <h2 class="th-our-history-title-one" data-v-ourhistoryitem-title>Our History</h2>
                <h6 class="font-size-22 font-weight-400" data-v-ourhistoryitem-description>
                  Lorem ipsum dolor sit amet consectetur. Egestas orci gravida
                  amet egestas et. Pellentesque libero donec sit egestas orci
                  consequat est mauris duis. In viverra hac vestibulum
                  pretium. In egestas eget metus amet amet pellentesque
                  tristique.
                </h6>
              </div>
              <div class="th-our-history-info-two history-item">
                <h2 class="th-our-history-title-two">1989</h2>
                <h6 class="font-size-22 font-weight-400">
                  Lorem ipsum dolor sit amet consectetur. Egestas orci gravida
                  amet egestas et. Pellentesque libero donec sit egestas orci
                  consequat est mauris duis. In viverra hac vestibulum
                  pretium. In egestas eget metus amet amet pellentesque
                  tristique.
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--======== End Categories Our History Section ========-->