<!--==============================
Our History Masonary section
==============================-->

<!-- <section id="our-history-masonary-section" class="container th-container pt-25">
    <div class="row categories">
      
    </div>
  
    <div class="section-body th-masonry-col-2">
      <div class="th-masonry-grid">
        @@loop('../components/about-masonry-item.html', "./data/about-our-history-masonry.json")
      </div>
  </div>
  </section> -->
  <!--======== End Categories ========-->

  <!--============================== Our History Masonary section ==============================-->
  <section id="our-history-masonary-section" class="pt-25" data-v-component-ourhistorymasonry>
    <div class="container th-container">
      <div class="section-body th-masonry-col-2">
        <div class="th-masonry-grid">
  
          <div class="th-masonry-grid-item grid-col-span-7 " data-v-ourhistorymasonryitem-class data-v-ourhistorymasonryitem-style style="transform: translateY(0px);padding-top:0px">
            <div class="th-item-img">
              <img data-v-ourhistorymasonryitem-img src="/img/about/gallery-image1.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info th-mt-15">
                <h3 class="withOutArrow th-title-24" data-v-ourhistorymasonryitem-heading>World-class product display</h3>
                <p class="th-item-description" data-v-ourhistorymasonryitem-des>A full collection of workstations from leg-based systems to panel constructions and height-adjustable offerings. Find the perfect configuration and aesthetic for your space.</p>
                <p class="th-category-items">
  
                </p>
              </div>
              <div class="th-link">
                <div class="th-link-text pr-5" data-v-ourhistorymasonryitem-link_text> View all World-class product display </div>
                <div class="th-link-icon">
                  <i class="fa-regular fa-arrow-right"></i>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="th-masonry-grid-item grid-col-span-6 " style="transform: translateY(49px);padding-top:0px">
            <div class="th-item-img">
              <img src="/img/about/gallery-image2.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info th-mt-15">
                <h3 class="withOutArrow">unparalleled service</h3>
                <p class="th-item-description">Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est mauris duis</p>
                <p class="th-category-items">
  
                </p>
              </div>
              <div class="th-link">
                <div class="th-link-text pr-5"> View all unparalleled service </div>
                <div class="th-link-icon">
                  <i class="fa-regular fa-arrow-right"></i>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="th-masonry-grid-item grid-col-span-6 " style="transform: translateY(95px);padding-top:0px">
            <div class="th-item-img">
              <img src="/img/about/gallery-image3.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info th-mt-15">
                <h3 class="withOutArrow">Product certifications</h3>
                <p class="th-item-description">Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est mauris duis.</p>
                <p class="th-category-items">
  
                </p>
              </div>
              <div class="th-link">
                <div class="th-link-text pr-5"> View all Product certifications </div>
                <div class="th-link-icon">
                  <i class="fa-regular fa-arrow-right"></i>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="th-masonry-grid-item grid-col-span-7 " style="transform: translateY(130px);padding-top:0px">
            <div class="th-item-img">
              <img src="/img/about/gallery-image4.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info th-mt-15">
                <h3 class="withOutArrow">Product warranty</h3>
                <p class="th-item-description">Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est mauris duis.</p>
                <p class="th-category-items">
  
                </p>
              </div>
              <div class="th-link">
                <div class="th-link-text pr-5"> View all Product warranty </div>
                <div class="th-link-icon">
                  <i class="fa-regular fa-arrow-right"></i>
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
</section>
<!--======== End Categories Our History Masonary Section ========-->
  