
<!-- <section id="about-pinciple" class="gr-bg9">
  <div class="container th-container ">
    <div class="row">
      <div class="col-12">
          @@include('./header-section.html',{ 
              "sectionTitle":"Our principles",
              "sectionSubtitle":"Since we started selling office furniture back in <b>1989</b>, we've followed 3 key principles",
              "sectionClass":"text-start",
              "sectionClass":"mb-40"
          })
     
    </div>
  </div>
  <div class="section-body">
    <div class="row">
      @@loop('../components/item-number-card.html', './data/item-number-card.json')
      
    </div>
  </div>
  </div>
   
</section> -->
<!--==============================
Categories Our Principles Sec
==============================-->

<section id="about-pinciple" class="gr-bg9" data-v-component-ourprinciple>
  <div class="container th-container ">
      <div class="row">
          <div class="col-12">
              <div class="th-section-header @@sectionHeaderClass" style="display: block">
                  <div class="th-section-header-wrapper mb-40">
                      <h2 class="  th-section-title " data-v-ourprinciple-section_title> Our principles </h2>
                      <div class="th-section-subtitle" data-v-ourprinciple-section_subtitle>
                          Since we started selling office furniture back in <b>1989</b>, we've followed 3 key principles
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="section-body">
          <div class="row principle-list">
            <div class="col-12 col-md-6 col-lg-4 mb-4 principle-item">
                <div class="card h-100 shadow-none border-0">
                    <div class="th-item-number-card-container">
                        <div class="th-item-card-number d-flex align-items-center">
                          <h3 class="display-1 fw-bold" data-v-ourprincipleitem-number>01</h3>
                          <h5 class="mb-30" data-v-ourprincipleitem-title>
                              OFFER THE BEST SERVICE
                          </h5>
                        </div>
                        <p class="th-item-number-card-text" data-v-ourprincipleitem-description>
                        Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est mauris duis. In viverra hac vestibulum pretium.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 principle-item">
                <div class="card h-100 shadow-none border-0">
                    <div class="th-item-number-card-container">
                        <div class="th-item-card-number d-flex align-items-center">
                            <h3 class="display-1 fw-bold">02</h3>
                            <h5 class="mb-30">
                                PROVIDE THE HIGHEST QUALITY PRODUCTS
                            </h5>
                        </div>
                        <p class="th-item-number-card-text">
                        WLorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est mauris duis. In viverra hac vestibulum pretium.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 principle-item">
              <div class="card h-100 shadow-none border-0">
                  <div class="th-item-number-card-container">
                      <div class="th-item-card-number d-flex align-items-center">
                          <h3 class="display-1 fw-bold">03</h3>
                          <h5 class="mb-30">
                              SELL AT A FAIR PRICE
                          </h5>
                      </div>
                      <p class="th-item-number-card-text">
                      Lorem ipsum dolor sit amet consectetur. Egestas orci gravida amet egestas et. Pellentesque libero donec sit egestas orci consequat est mauris duis. In viverra hac vestibulum pretium.
                      </p>
                  </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
  <!--======== End Categories Our Principles Section ========-->