  <!--==============================
Product Slider Section
==============================-->
<section id="th-product-slider" class="th-section-py" data-v-component-productinstagramslider>
    <div class="container th-container">
      <div class="row">
        <div class="col-md-12 text-center mb-4">
          <h2 class="section-title th-section-title-mb" data-v-productinstagramslider-title>#ARCHI</h2>
        </div>

        <div class="th-section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper th-instagram-products-slider th-pb-80">
                <div class="swiper-wrapper" data-v-productinstagramslider-items>
                  <div class="swiper-slide" data-v-productinstagramslider-item>
                    <div class="th-item-card">
                      <div class="th-instagram-img-container" data-bg-src="/img/product-detail/insta-1.png" data-v-productinstagramslider-item-image>
                        <div class="th-item-card-content">
                          <div class="th-instagram-link">
                            <a href="https://www.instagram.com/archi_furniture/" target="_blank" data-v-productinstagramslider-item-link>
                              <i class="fa-brands fa-instagram"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-card">
                      <div class="th-instagram-img-container" data-bg-src="/img/product-detail/insta-2.png">
                        <div class="th-item-card-content">
                          <div class="th-instagram-link">
                            <a href="https://www.instagram.com/archi_furniture/" target="_blank">
                              <i class="fa-brands fa-instagram"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-card">
                      <div class="th-instagram-img-container" data-bg-src="/img/product-detail/insta-3.png">
                        <div class="th-item-card-content">
                          <div class="th-instagram-link">
                            <a href="https://www.instagram.com/archi_furniture/" target="_blank">
                              <i class="fa-brands fa-instagram"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-card">
                      <div class="th-instagram-img-container" data-bg-src="/img/product-detail/insta-4.png">
                        <div class="th-item-card-content">
                          <div class="th-instagram-link">
                            <a href="https://www.instagram.com/archi_furniture/" target="_blank">
                              <i class="fa-brands fa-instagram"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==============================
End Product Slider Section
==============================-->