<!--==============================
Product Call to Action
==============================-->
<section id="circle" class="mb-8 bg-white" data-v-component-productcalltoaction>
    <div class="container th-container">
      <div class="row" data-v-circle-items>
        <div class="col-md-4 col-sm-12 text-center" data-v-circle-item>
          <div class="th-item-img-card d-flex flex-column align-items-center">
            <div class="th-img-container">
              <img src="/img/product-detail/first circle.png" alt="" class="th-rounded-circle mb-3" style="max-width: 164px;" data-v-circle-image>
            </div>
            <div class="th-item-img-content mt-30">
              <h6 class="th-title-22 font-weight-700" data-v-circle-title>Shop Archi</h6>
                <div class="th-link mt-30">
                  <a href="#" class="th-link-text pr-5 " data-v-circle-link>
                    <div class="th-link-text pr-5 " data-v-circle-link-text>Buy Now</div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>




        <div class="col-md-4 col-sm-12 text-center" data-v-circle-items>
          <div class="th-item-img-card d-flex flex-column align-items-center">
            <div class="th-img-container">
              <img src="/img/product-detail/second circle.png" alt="" class="th-rounded-circle mb-3" style="max-width: 164px;">
            </div>
            <div class="th-item-img-content mt-30">
              <h6 class="th-title-22 font-weight-700">View Catalogue</h6>
                <div class="th-link mt-30">
                  <a href="#" class="th-link-text pr-5 ">
                    <div class="th-link-text pr-5 ">Buy Now</div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center" data-v-circle-items>
          <div class="th-item-img-card d-flex flex-column align-items-center">
            <div class="th-img-container">
              <img src="/img/product-detail/third circle.png" alt="" class="th-rounded-circle mb-3" style="max-width: 164px;">
            </div>
            <div class="th-item-img-content mt-30">
              <h6 class="th-title-22 font-weight-700">Book A Showroom Tour</h6>
                <div class="th-link mt-30">
                  <a href="#" class="th-link-text pr-5 ">
                    <div class="th-link-text pr-5 ">Buy Now</div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!--==============================
Product Call to Action End
==============================-->