<!--==============================
Product Detail Tabs
==============================-->
<section class="th-product-detail-tabs th-product-tabs-section-p" id="product-detail-tabs">
  <div class="container th-container">
    <!-- Tab navigation for larger screens (d-none d-md-flex hides on mobile) -->
    <div class="nav nav-tabs mb-4 d-none d-md-flex border-0" id="product-tabs" role="tablist">

      <button class="nav-link active th-tab-title th-tabs-title-p" id="specs-tab" data-bs-toggle="tab"
        data-bs-target="#specs" type="button" role="tab" aria-controls="specs" aria-selected="true"
        data-v-productspecifications-tab-button>Specs</button>

      <button class="nav-link th-tab-title th-tabs-title-p" id="dimensions-tab" data-bs-toggle="tab"
        data-bs-target="#dimensions" type="button" role="tab" aria-controls="dimensions" aria-selected="false"
        data-v-productdimensions-tab-button>Dimensions</button>

      <button class="nav-link th-tab-title th-tabs-title-p" id="downloads-tab" data-bs-toggle="tab"
        data-bs-target="#downloads" type="button" role="tab" aria-controls="downloads" aria-selected="false"
        data-v-productdownloads-tab-button>Downloads</button>

      <button class="nav-link th-tab-title th-tabs-title-p" id="certifications-tab" data-bs-toggle="tab"
        data-bs-target="#certifications" type="button" role="tab" aria-controls="certifications" aria-selected="false"
        data-v-productcertifications-tab-button>Certifications</button>

      <button class="nav-link th-tab-title th-tabs-title-p" id="media-tab" data-bs-toggle="tab" data-bs-target="#media"
        type="button" role="tab" aria-controls="media" aria-selected="false" data-v-productmedia-tab-button>Pictures &
        Videos</button>

    </div>

    <!-- Accordion for mobile screens only (d-md-none hides on desktop) -->
    <div class="accordion d-md-none mb-4" id="accordionProductDetails">

      <!-- specifications accordion -->
      <div class="accordion-item border-0 mb-2" data-v-productspecifications-mobile>
        <h2 class="accordion-header" id="headingSpecs">
          <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecs"
            aria-expanded="false" aria-controls="collapseSpecs">
            Specs
          </button>
        </h2>
        <div id="collapseSpecs" class="accordion-collapse collapse" aria-labelledby="headingSpecs"
          data-bs-parent="#accordionProductDetails">
          <div class="accordion-body pt-0">
            <!-- This will be filled with the same content as the tab -->
            <div class="row">
              <div class="col-lg-6 px-0">
                <ul class="" data-v-productspecifications-items-mobile>
                  <li class="font-size-14 pb-10" data-v-productspecifications-item-mobile>Lorem ipsum dolor sit amet consectetur.</li>
                  <li class="font-size-14" data-v-productspecifications-item-mobile>Lorem ipsum dolor sit</li>
                  <li class="font-size-14" data-v-productspecifications-item-mobile>Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.</li>
                  <li class="font-size-14" data-v-productspecifications-item-mobile>Lorem ipsum dolor sit amet consectetur.</li>
                  <li class="font-size-14" data-v-productspecifications-item-mobile>Lorem ipsum dolor sit amet.</li>
                  <li class="font-size-14" data-v-productspecifications-item-mobile>Lorem ipsum dolor sit geho urna pellentesque.</li>
                </ul>
                <div class="th-link @@classPadding">
                  <div class="th-link-text pr-5 th-view-link">
                    <a href="javascript:void(0)" data-v-productspecifications-link-mobile>View in Catalogue</a>
                  </div>
                </div>

              </div>
              <!-- <div class="col-lg-6" data-v-productspecifications-image-container-mobile>
                <img data-v-productspecifications-image-mobile src="/img/product-detail/tab image.png" alt="Product Specifications"
                  class="img-fluid">
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- dimensions accordion -->
      <div class="accordion-item border-0 mb-2" id="dimensionsMobile" 
      data-v-component-productdimenssions-mobile>
        <h2 class="accordion-header" id="headingDimensions">
          <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseDimensions" aria-expanded="false" aria-controls="collapseDimensions">
            Dimensions
          </button>
        </h2>
        <div id="collapseDimensions" class="accordion-collapse collapse" aria-labelledby="headingDimensions"
          data-bs-parent="#accordionProductDetails">
          <div class="accordion-body pt-0">
            <!-- This will be filled with the same content as the tab -->
            <div class="row">
              <div class="col-lg-6 px-0">
                <ul class="">
                  <li class="mb-10">Width: <span id="width-dimension-mobile">100mm</span></li>
                  <li class="mb-10">Height: <span id="height-dimension-mobile">100mm</span></li>
                  <li class="mb-10">Depth: <span id="depth-dimension-mobile">100mm</span></li>
                </ul>
                <div class="th-link classPadding">
                  <div class="th-link-text pr-5">
                    <a href="javascript:void(0)" data-v-productdimensions-link-mobile target="_blank">
                      <span data-v-productdimensions-link-text-mobile>View in Catalogue</span>
                    </a>
                  </div>
                </div>

              </div>
              <!-- <div class="col-lg-6" data-v-productdimensions-image-container-mobile>
                <img data-v-productdimensions-image-mobile src="/img/product-detail/tab image.png" alt="Product Dimensions"
                  id="dimensions-image" class="img-fluid">
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- downloads accordion -->
      <div class="accordion-item border-0 mb-2" data-v-productdownloads-mobile>
        <h2 class="accordion-header" id="headingDownloads">
          <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseDownloads" aria-expanded="false" aria-controls="collapseDownloads">
            Downloads
          </button>
        </h2>
        <div id="collapseDownloads" class="accordion-collapse collapse" aria-labelledby="headingDownloads"
          data-bs-parent="#accordionProductDetails">
          <div class="accordion-body pt-0">
            <!-- This will be filled with the same content as the tab -->
            <div class="row">
              <div class="col-lg-6 px-0">
                <ul class="list-unstyled" data-v-downloads-items-mobile>
                  <li data-v-downloads-item-mobile>
                    <div class="download-item-container d-flex text-center align-items-center justify-content-start gap-3 mb-10">
                      <img src="" alt="Download Icon" data-v-downloads-item-icon-src-mobile style="width: 50px; height: 50px;">
                      <a href="" download data-v-downloads-item-name-mobile data-v-downloads-item-link-mobile
                        class="design-resource-tag download-mobile-link block text-blue-600 hover:text-blue-800 download-item-link"></a>
                    </div>
                  </li>
                </ul>
                <div class="th-link @@classPadding ">
                  <div class="th-link-text pr-5 th-view-link" id="download-all-link-mobile" data-v-productdownloads-link-mobile>
                    Download All
                  </div>
                </div>

              </div>
              <!-- <div class="col-lg-6">
                <img data-v-productdownloads-image-mobile src="/img/product-detail/tab image.png" alt="Downloads" class="img-fluid mt-4 mt-lg-0">
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- certifications accordion -->
      <div class="accordion-item border-0 mb-2" data-v-productcertifications-mobile>
        <h2 class="accordion-header" id="headingCertifications">
          <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseCertifications" aria-expanded="false" aria-controls="collapseCertifications">
            Certifications
          </button>
        </h2>
        <div id="collapseCertifications" class="accordion-collapse collapse" aria-labelledby="headingCertifications"
          data-bs-parent="#accordionProductDetails">
          <div class="accordion-body pt-0">
            <!-- This will be filled with the same content as the tab -->
            <div class="row">
              <div class="col-lg-6 px-0">
                <ul class="list-unstyled" data-v-productcertifications-items-mobile>
                  <li data-v-productcertifications-item-mobile>
                    <div class="download-item-container d-flex text-center align-items-center justify-content-start gap-4 mb-10">
                      <img src="" alt="Download Icon" data-v-productcertifications-icon-src-mobile class="flex-shrink-0 me-2" style="width: 40px; height: 50px;">
                      <a href="" download data-v-productcertifications-item-title-mobile data-v-productcertifications-item-link-mobile
                        class="block mb-1 text-blue-600 hover:text-blue-800 download-item-link ps-1 design-resource-tag"></a>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- <div class="col-lg-6">
                <img data-v-productcertifications-image-mobile src="/img/product-detail/second circle.png" alt="Certifications" class="img-fluid mt-4 mt-lg-0" data-v-productcertifications-image-mobile>
              </div> -->
            </div>
          </div>
        </div>
      </div>

      <!-- media accordion -->
      <div class="accordion-item border-0"data-v-productmedia-mobile>
        <h2 class="accordion-header" id="headingMedia">
          <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseMedia" aria-expanded="false" aria-controls="collapseMedia">
            Pictures & Videos
          </button>
        </h2>
        <div id="collapseMedia" class="accordion-collapse collapse" aria-labelledby="headingMedia" data-bs-parent="#accordionProductDetails">
          <div class="accordion-body th-product-mobile-accordian pt-0">
            <button type="button" class="slider-arrow-mobile prev-arrow-mobile" id="slidePrevMobile">&#10094;</button>
             <!-- media gallery -->
             <div id="product-media-gallery-mobile" style="min-width: 200px!important;" class="th-product-gallery-container d-flex flex-items-center justify-content-start" data-v-designresourceimages-images-mobile>
             <div class="th-product-media-item" data-src="/img/design-resources/images/img-1.png" data-v-designresourceimages-image-data-src-mobile>
               <img src="/img/design-resources/images/img-1.png" alt="Product Media" class="img-fluid" data-v-designresourceimages-image-src-mobile>
             </div>
           </div>
           <!-- media gallery end -->
           <button type="button" class="slider-arrow-mobile next-arrow-mobile" id="slideNextMobile">&#10095;</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Tab content for larger screens -->
    <div class="tab-content d-none d-md-block">
      <!-- specifications tab -->
      <div class="tab-pane fade show active" id="specs" role="tabpanel" aria-labelledby="specs-tab"
        data-v-component-productspecifications>
        <div class="row flex-1">
          <div class="col-lg-6">
            <!-- <h3 data-v-productspecifications-title>Lorem Ipsum Dolor Sit</h3> -->
            <ul class="unorder-list-content pl-20" data-v-productspecifications-items>
              <li data-v-productspecifications-item class="mb-10 th-spacs-tab-style">• Lorem ipsum dolor sit amet consectetur.</li>
              <li data-v-productspecifications-item class="mb-10">• Lorem ipsum dolor sit</li>
              <li data-v-productspecifications-item class="mb-10">• Lorem ipsum dolor sit amet consectetur. Scelerisque
                urna pellentesque.</li>
              <li data-v-productspecifications-item class="mb-10">• Lorem ipsum dolor sit amet consectetur.</li>
              <li data-v-productspecifications-item class="mb-10">• Lorem ipsum dolor sit amet.</li>
              <li data-v-productspecifications-item class="mb-10">• Lorem ipsum dolor sit geho urna pellentesque.</li>
            </ul>
            <div class="th-link pt-20 pl-10">
              <div class="th-link-text pr-5">
                <a href="javascript:void(0)" data-v-productspecifications-link>View in Catalogue</a>
              </div>
              <!-- <div class="th-link-icon-btn">
                <i class="fa-regular fa-arrow-up degree-60"></i>
              </div> -->
            </div>

          </div>
          <div class="col-lg-6" data-v-productspecifications-image-container>
            <img data-v-productspecifications-image src="/img/product-detail/tab image.png" alt="Product Specifications"
              class="img-fluid">
          </div>
        </div>
      </div>
      <!-- specifications tab end -->
      <!-- dimensions tab -->
      <div class="tab-pane fade" id="dimensions" role="tabpanel" aria-labelledby="dimensions-tab"
        data-v-component-productdimenssions>
        <div class="row flex-1">
          <div class="col-lg-6">
            <!-- <h3 data-v-productdimensions-title>Product Dimensions</h3> -->
            <ul class="unorder-list-content pl-20">
              <li class="mb-10">Width: <span id="width-dimension">100mm</span></li>
              <li class="mb-10">Height: <span id="height-dimension">100mm</span></li>
              <li class="mb-10">Depth: <span id="depth-dimension">100mm</span></li>

              <!-- <li data-v-productdimensions-width class="mb-10" id="width-dimension">• Width: 100mm</li>
              <li data-v-productdimensions-height class="mb-10" id="height-dimension">• Height: 100mm</li>
              <li data-v-productdimensions-depth class="mb-10" id="depth-dimension">• Depth: 100mm</li> -->
            </ul>
            <div class="th-link pt-20">
              <div class="th-link-text pr-5 pl-5">
                <a href="javascript:void(0)" data-v-productdimensions-link target="_blank">
                  <span data-v-productdimensions-link-text>View in Catalogue</span></a>

              </div>
            </div>

          </div>
          <div class="col-lg-6" data-v-productdimensions-image-container>
            <img data-v-productdimensions-image src="/img/product-detail/tab image.png" alt="Product Dimensions"
              id="dimensions-image" class="img-fluid">
          </div>
        </div>
      </div>
      <!-- dimensions tab end -->
      <!-- downloads tab -->
      <div class="tab-pane fade" id="downloads" role="tabpanel" aria-labelledby="downloads-tab"
        data-v-component-productdownloads>
        <div class="row flex-1">
          <div class="col-lg-6">
            <!-- <h3 data-v-downloads-title>Available Downloads</h3> -->
            <ul class="list-unstyled" data-v-downloads-items>
              <li data-v-downloads-item>
                <div class="download-item-container d-flex">
                  <img src="" alt="Download Icon" data-v-downloads-item-icon-src style="width: 70px; height: 50px;">
                  <a href="" download data-v-downloads-item-name data-v-downloads-item-link
                    class="design-resource-tag block mb-0 text-blue-600 hover:text-blue-800 download-item-link"></a>
                </div>
              </li>
            </ul>
            <div class="th-link @@classPadding pl-35 mt-15">
              <div class="th-link-text pr-5" id="download-all-link" data-v-productdownloads-link>
                Download All
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="/img/product-detail/tab image.png" alt="Downloads" class="img-fluid"
              data-v-productdownloads-image>
          </div>
        </div>
      </div>
      <!-- downloads tab end -->
      <!-- certifications tab -->
      <div class="tab-pane fade" id="certifications" role="tabpanel" aria-labelledby="certifications-tab"
        data-v-component-productcertifications>
        <div class="row flex-1">
          <div class="col-lg-6">
            <div class="product-certificates">
              <ul class="list-unstyled" data-v-productcertifications-items>
                <li data-v-productcertifications-item>
                  <div class="download-item-container d-flex">
                    <img src="" alt="Download Icon" data-v-productcertifications-icon-src
                      style="width: 70px; height: 50px;">
                    <a href="" download data-v-productcertifications-item-link
                      class=" block text-blue-600 hover:text-blue-800 download-item-link"></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="/img/product-detail/second circle.png" alt="Certifications" class="img-fluid" data-v-productcertifications-image>
          </div>
        </div>
      </div>
      <!-- certifications tab end -->
      <!-- media tab -->
      <div class="tab-pane fade" id="media" role="tabpanel" aria-labelledby="media-tab" data-v-component-productmedia>
        <div class="row flex-1">
          <div class="col-12">
            <div class="slider-wrapper">
              <button type="button" class="slider-arrow prev-arrow" id="slidePrev">&#10094;</button>
              <div id="product-media-gallery" 
                class="th-product-gallery-container d-flex flex-items-center justify-content-start"
                data-v-designresourceimages-images>
                <div class="th-product-media-item" data-src="/img/design-resources/images/img-1.png"
                  data-v-designresourceimages-image-data-src>
                  <img src="/img/design-resources/images/img-1.png" alt="Product Media" class="img-fluid"
                    data-v-designresourceimages-image-src>
                </div>
              </div>
              <button type="button" class="slider-arrow-right next-arrow" id="slideNext">&#10095;</button>
            </div>
          </div>
        </div>
      </div>
      <!-- media tab end -->
    </div>
  </div>
</section>