  <!--==============================
Product Features Section
==============================-->
<section id="th-product-features" class="gr-bg8 position-relative th-section-py" data-v-component-productfeature>
  <div class="d-flex justify-content-end th-pr-40 align-items-center position-absolute th-edit-top-0" style="right: 40px" data-v-productfeature-component-link>
    <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
    <a href="" target="_blank" class="">Edit</a>
  </div>
    <div class="container th-container">
      <div class="row">
        <div class="th-section-header th-section-header-pb-50">
          <div class="th-section-header-wrapper left flex-1">
            <div class="d-flex justify-content-between">
              <h2 class="th-section-title th-section-title-mb flex-1" data-v-productfeature-sectionTitle> Features </h2>
              <div class="right" data-v-productfeature-section>
                <a href="#" target="_blank" id="online-order-link" data-v-productfeature-sectionLinkText-link> 
                  <div class="th-section-header-link">
                    <span class="th-view-all-btn Order OnlineClass th-mr-7" data-v-productfeature-sectionLinkText>
                      Order Online
                    </span>
                    <span class="th-section-header-link-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </span>
                  </div>
                </a>
              </div>
            </div>
            <div class="th-section-subtitle th-section-subtitle-mb" data-v-productfeature-section-subtitle id="feature-description">
              Experience the ultimate blend of 
              <span class='font-weight-700'>comfort</span> and 
              <span class='font-weight-700'>functionality</span> 
              with Archi, where 
              <span class='font-weight-700'>cutting-edge design</span> 
              meets adjustable precision for every workspace need
            </div>
          </div>
        </div>

        <div class="section-body">
          <div class="row" data-v-productfeature-items>
            <div class="col-md-4 col-sm-12 mb-15" data-v-productfeature-item>
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src="/img/product-detail/feature img 1.png" alt="Adjustable Ergonomics" data-v-productfeature-img />
                </div>
                <div class="th-item-card-content th-mt-15">
                  <div class="mb-10">
                    <h6 class="th-link-text th-pr-5 th-title-18 font-weight-700" data-v-productfeature-title>Adjustable Ergonomics</h6>

                  </div>
                  <div class="th-description" data-v-productfeature-description>
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 th-main-des-three-px th-product-feature-item" data-v-productfeature-item>
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src="/img/product-detail/feature img 2.png" alt="Sleek and Modern Design" data-v-productfeature-img />
                </div>
                <div class="th-item-card-content th-mt-15">
                  <div class="mb-10">
                    <h6 class="th-link-text th-pr-5 th-title-20 font-weight-700" data-v-productfeature-title>Sleek and Modern Design</h6>

                  </div>
                  <div class="th-description" data-v-productfeature-description>
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 th-main-des-three-px th-product-feature-item" data-v-productfeature-item>
              <div class="th-item-card">
                <div class="th-img-container">
                  <img src="/img/product-detail/feature img 3.png " alt="High-Performance Mesh Upholstery" data-v-productfeature-img />
                </div>
                <div class="th-item-card-content th-mt-15">
                  <div class="mb-10">
                    <h6 class="th-link-text th-pr-5 th-title-20 font-weight-700" data-v-productfeature-title>High-Performance Mesh Upholstery</h6>

                  </div>
                  <div class="th-description" data-v-productfeature-description>
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
</section>
<!--======== End Product Features Section ========-->