<!--==============================
Product Related Family
==============================-->
<section id="th-product-related-family" class="bg-gray-lighter th-product-related-family position-relative th-section-py" data-v-component-productrelatedfamily data-v-category-product-family-container>
  <div class="d-flex justify-content-end th-pr-40 align-items-center position-absolute" style="right: 40px" data-v-productrelatedfamily-component-link>
    <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
    <a href="" target="_blank" class="">Edit</a>
  </div>
    <div class="container th-container">
      <div class="row">
        <div class="th-section-header th-section-header-pb-50">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="  th-section-title th-section-title-mb"> Meet the Family </h2>
            <!-- <div class="th-section-subtitle">
              Experience the ultimate blend of 
              <span class='font-weight-700'>comfort</span> and 
              <span class='font-weight-700'>functionality</span> with Archi, where 
              <span class='font-weight-700'>cutting-edge design</span> meets adjustable precision for every workspace need
            </div> -->
          </div>

          <!-- <div class="right">
            <div class="th-section-header-link">
              <span class="th-section-header-link-text View All ProductsClass">View All Products</span>
              <span class="th-section-header-link-btn">
                <i class="fa-regular fa-arrow-up degree-60"></i>
              </span>
            </div>
          </div> -->

        </div>

        <div class="th-section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper product-related-slider">
                <div class="swiper-wrapper" data-v-related-family-items>
                  <div class="swiper-slide">
                    <div class="th-item-product p-20 border">
                      <div class="th-img-container bg-white border-0">
                        <a href="/products/seating/miro" data-v-category-product-url target="_blank">
                          <img data-v-related-family-imagesrc="/img/category-seating/Archi.png " />
                        </a>
                      </div>
                      <div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30 "
                      data-id=""
                       data-toggle="tooltip"
                       data-placement="top"
                       title=""
                       role="button"
                       tabindex="0"
                       data-bs-original-title="Add to Pinboard"
                       data-original-title="Add to Pinboard"
                       data-model="product" 
                       data-title="Product Title"
                       data-description="Product Description" 
                       data-image="Product Image"
                       data-v-related-family-add-to-pinboard
                      >
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <!-- <div class="label">Build</div> -->
                        <a href="/products/seating/miro" data-v-category-product-url target="_blank">
                          <h3 class="th-item-title th-prouct-title-my" data-v-related-family-title>Archi </h3>
                        </a>
                        <div class="th-tag-name" data-v-related-family-tags>
                          <div class="th-tag th-tag-p" data-v-related-family-tag-item>AFRDI Certified</div>
                          <div class="th-tag th-tag-p" data-v-related-family-tag-item>OBP Certified</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-product">
                      <div class="th-img-container bg-white">
                        <img src="/img/category-seating/Miro.png " />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <!-- <div class="label">Build</div> -->
                        <h3 class="th-title mt-20">Miro </h3>
                        <div class="th-tag-name">
                            <div class="th-tag">AFRDI Certified</div>
                            <div class="th-tag">OBP Certified</div>
                          </div>
                          <div class="th-item-finish-circle">
                            <div class="th-circle black-premium">Black Premium Polyurethane</div>
                            <div class="th-circle mocha-premium">Mocha Premium Polyurethane</div>
                            <div class="th-circle cream-premium">Cream Premium Polyurethane</div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-product">
                      <div class="th-img-container bg-white">
                        <img src="/img/category-seating/Miro S.png " />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <!-- <div class="label">Build</div> -->
                        <h3 class="th-title mt-20">Miro S </h3>
                        <div class="th-tag-name">
                            <div class="th-tag">AFRDI Certified</div>
                            <div class="th-tag">OBP Certified</div>
                          </div>
                          <div class="th-item-finish-circle">
                            <div class="th-circle black-premium">Black Premium Polyurethane</div>
                            <div class="th-circle mocha-premium">Mocha Premium Polyurethane</div>
                            <div class="th-circle cream-premium">Cream Premium Polyurethane</div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-product">
                      <div class="th-img-container bg-white">
                        <img src="/img/category-seating/Kove.png " />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <!-- <div class="label">Build</div> -->
                        <h3 class="th-title mt-20">Kove </h3>
                        <div class="th-tag-name">
                            <div class="th-tag">AFRDI Certified</div>
                            <div class="th-tag">OBP Certified</div>
                          </div>
                          <div class="th-item-finish-circle">
                            <div class="th-circle black-premium">Black Premium Polyurethane</div>
                            <div class="th-circle mocha-premium">Mocha Premium Polyurethane</div>
                            <div class="th-circle cream-premium">Cream Premium Polyurethane</div>
                          </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!--==============================
Product Related Family End
==============================-->