  <!--==============================
Product You May Also Like
==============================-->
<section id="th-product-may-like" class="may-also-like position-relative th-section-py" data-v-component-productalsolike>
    <div class="d-flex justify-content-end pr-40 align-items-center position-absolute" style="right: 40px" data-v-productalsolike-component-link>
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center th-mb-60">
          <h2 class="section-title th-section-title-mb" data-v-productalsolike-section_title>You May Also Like</h2>
          <div class="section-subtitle th-section-subtitle-mb" data-v-productalsolike-section_subtitle>
            Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
          </div>
        </div>
        <div class="col-md-12">
          <div class="swiper th-product-may-like-slider th-pb-40">
            <div class="swiper-wrapper" data-v-alsolike-items>
              <div class="swiper-slide" data-v-alsolike-item>
                <div class="th-item-product">
                  <div class="th-img-container">
                    <a href="#" data-v-alsolike-item-link>
                      <img data-v-alsolike-item-image src=" /img/product-detail/also like 1.png" alt="Lorem Ipsum" />
                    </a>
                  </div>
                  <div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-15"
                    data-id=""
                    data-toggle="tooltip"
                       data-placement="top"
                       title=""
                       role="button"
                       tabindex="0"
                       data-bs-original-title="Add to Pinboard"
                       data-original-title="Add to Pinboard"
                    data-model="product"
                    data-title="Chwyla"
                    data-description="This is the first project description."
                    data-image="/img/bg/home/home_feature_project_1.jpg"
                    data-v-productalsolike-item-add-to-pinboard>
                    <i class="fa-solid fa-plus"></i>
                  </div>
                  <div class="th-item-card-content mt-15">
                    <div class="th-link th-mb-10">
                      <a href="#" data-v-alsolike-item-link>
                        <h3 class="th-title font-20 th-pr-5" data-v-alsolike-item-title>Lorem Ipsum</h3>
                      </a>
                    </div>
                    <div class="th-description" data-v-alsolike-item-description>
                      Lorem ipsum dolor sit amet consectetur
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
      </div>
    </div>
</section>

  <!--==============================
End Product You May Also Like
==============================-->
