 <!--======== project feature secton start ========-->
  <section id="th-feature-project" class="bg-gray th-section-py" data-v-component-featureprojectsmasonry>
    <div class="d-flex justify-content-end pr-40 align-items-center th-component-edit-link" data-v-featureproject-component-link>
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row categories">
        <div class="col-12 mb-25">
          <div class="th-section-header " style="display: block">
            <div class="th-section-header-wrapper text-center">
              <h2 class="th-section-title th-title-mb-15" data-v-featureprojectsmasonry-section_title> Featured Projects </h2>
              <!-- <div class="th-section-subtitle" data-v-featureprojectsmasonry-section_subtitle>
                Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
              </div> -->
            </div>

          </div>

        </div>
      </div>

      <div class="section-body th-masonry-col-2">
        <div class="th-masonry-grid">
          <div data-v-featureprojectsmasonryitem-class class="th-masonry-grid-item grid-col-span-7 mb-20 th-mb-20" style="transform: translateY(0 px);padding-top:0 px" >
            <div class="th-item-img">
              <a href="/projects/chwyla" data-v-featureprojectsmasonryitem-link>
                 <img src="/img/projects/Chwyla.png" alt="Product 1" data-v-featureprojectsmasonryitem-img/>
              </a>
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info th-prject-item-info mt-0">
                <div class="th-item-designer th-story-subtitle">
                  <span data-v-featureprojectsmasonryitem-designer-by>Designed by </span>
                  <span data-v-featureprojectsmasonryitem-designer>Jon Cary Studio</span>
                </div>
                <h3 class="th-story-title">
                  <a href="/projects/chwyla" data-v-featureprojectsmasonryitem-link>
                    <div class="th-link">
                      <div class="pr-5 font-weight-600 th-link-pr-5" data-v-featureprojectsmasonryitem-heading> Chwyla </div>
                    </div>
                  </a>
                </h3>
                <div class="" data-v-featureprojectsmasonryitem-des>
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque. 
                </div>
              </div>
            </div>
          </div>

          <div class="th-masonry-grid-item grid-col-span-6" style="transform: translateY(0 px);padding-top:0 px">
            <div class="th-item-img">
              <img src="/img/projects/hyundai.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info th-mt-15">
                <h3 class="th-title">
                  <div class="th-link">
                    <div class="th-link-text pr-5 th-link-pr-5"> hyundai office: stage 2 </div>
                    <!-- <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div> -->
                  </div>

                </h3>
                <p class="">
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </p>
              </div>
            </div>
          </div>

          <div class="th-masonry-grid-item grid-col-span-6 " style="transform: translateY(0 px);padding-top:0 px">
            <div class="th-item-img">
              <img src="/img/projects/berry.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info th-mt-15">
                <h3 class="th-title">
                  <div class="th-link">
                    <div class="th-link-text pr-5 th-pr-5"> berry street </div>
                    <!-- <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div> -->
                  </div>

                </h3>
                <p class="">
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </p>
              </div>
            </div>
          </div>

          <div class="th-masonry-grid-item grid-col-span-7 mb-20" style="transform: translateY(0 px);padding-top:0 px">
            <div class="th-item-img">
              <img src="/img/projects/o-Fiorelli.png" alt="Product 1" />
            </div>
            <div class="th-product-info-wrapper">
              <div class="th-item-info th-mt-15">
                <h3 class="th-title">
                  <div class="th-link">
                    <div class="th-link-text pr-5 th-pr-5"> fiorelli packin </div>
                    <!-- <div class="th-link-icon">
                      <i class="fa-regular fa-arrow-right"></i>
                    </div> -->
                  </div>

                </h3>
                <p class="">
                  Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--======== End project feature secton ========-->