<!--======== project all secton start ========-->
<section id="projects-list" class="th-section-py" style="margin-bottom: 86px;" data-v-component-allprojects>

	<div class="d-flex justify-content-end pr-40 align-items-center th-component-edit-link" data-v-allprojects-component-link>
		<i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
		<a href="" target="_blank">Edit</a>
	</div>

	<div class="container th-container">
		<div class="row">

			<div class="section-header project-header p-0">
				<div class="w-100 text-center mb-5">
					<h2 class="section-title" data-v-allprojects-section_title>All Projects</h2>
					<!-- <p class="section-subtitle" data-v-allprojects-section_subtitle>
						Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
					</p> -->
				</div>
			</div>

			<div class="section-body">
				<div class="row project-list-row th-projects-list th-pt-100 th-projects-list-mb">

					<div class="col-12 col-sm-6 col-md-4 project-item project-list-gap project-list-item d-flex flex-column gap-17">
						<div class="list-img position-relative">
							<a href="/projects" class="hover position-absolute top-left-10" style="color: #fff; font-size: 1.5rem;"
								data-v-allprojectsitem-edit-link>
								<i class="fa-solid fa-pen-circle"></i>
							</a>
							<div class="img-container">
								<a href="/projects" data-v-allprojectsitem-slug class="hover">
									<img src="/img/projects/p-chwyla.png" alt="" class="w-100" loading="lazy" data-v-allprojectsitem-image/>
								</a>
							</div>
							<div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30"
							data-id=""
							data-toggle="tooltip"
							data-placement="top"
							title=""
							role="button"
							tabindex="0"
							data-bs-original-title="Add to Pinboard"
							data-original-title="Add to Pinboard"
							data-v-allprojectsitem-add-to-pinboard
							data-model="project" 
							data-title="Project Title" 
							data-description="Project Description" 
							data-image="Project Image">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer th-card-footer d-flex flex-column justify-content-between gap-13"
							style="flex: 1">
							<div>
								<div style="display: none;" class="th-label font-weight-600 pr-5" data-v-allprojectsitem-label>
									build
								</div>
								<a href="/projects" data-v-allprojectsitem-slug class="hover">
									<h3 class="font-weight-600 pt-2 th-project-title th-title th-title-mb-15 th-title-pt-8" data-v-allprojectsitem-title>
										Krost's Sydney Office Update With 3d Tour
									</h3>
									<div class="font-weight-400" data-v-allprojectsitem-description>
										Lorem ipsum dolor sit amet consectetur.
									</div>
								</a>
							</div>
							<div class="d-flex align-items-center">
								<a href="project-details.html" data-v-allprojectsitem-slug class="hover">
									<div class="link th-read-more-btn">
										<div class="th-link-text th-line-height pr-5 th-pr-5" data-v-allprojectsitem-link_text>View Project</div>
									</div>
								</a>
								<!-- <div class="th-link-icon-btn">
									<i class="fa-regular fa-arrow-up degree-60"></i>
								</div> -->
							</div>
						</div>

					</div>

					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-fiorelli.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Total Fitouts</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Fiorelli packing</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-berry.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Merit Interiors</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Berry Street</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-artifex.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Amicus</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Artifex</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-arts-centre.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Doot descriptionign </div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Arts Centre Melbourne</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-452-johnston.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Gray Puksand</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 th-mt-20">452 Johnston st</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text th-pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-edquifax.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Gapcomm</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 th-mt-20">Equifax</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text th-pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-651-vic.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">The Stem Group </div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">651 victoria st</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-651-vic.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">The Stem Group</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 th-mt-20">651 victoria</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text th-pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-hyundai.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Apex Interiors</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 th-mt-20">Hyundai Office: Stage 2</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text th-pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-mackillop.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Apex Interiors</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 th-mt-20">mackillop family service</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text th-pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-edquifax.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Gapcomm</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 th-mt-20">Equifax</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text th-pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
				</div>

				<div class="row justify-content-center th-pt-80" data-v-load-more-container>
					<!-- <div class="col-auto th-pt-100" style="display:none;">
						<p id="total-projects-count" data-v-total-projects-count>0</p>
						<p id="current-page" data-v-current-page>1</p>
						<p id="show_data_count" data-v-show-data-count>1</p>
						<p id="per-page" data-v-per-page>30</p>
					</div> -->
					<div class="col-auto th-pt-100" id="all-project-pagination" style="display:none;"></div>
					<div class="col-auto">
						<button class="btn th-btn-gray load-more" id="load_more_button" data-v-load-more-button>Load More</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
