<!--======== project all secton start ========-->
<section id="projects-list" style="margin-bottom: 86px;" data-v-component-allprojects>

	<div class="d-flex justify-content-end pr-40 align-items-center" data-v-component-link>
		<i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
		<a href="" target="_blank">Edit</a>
	</div>

	<div class="container th-container">
		<div class="row">

			<div class="section-header project-header p-0">
				<div class="w-100 text-center mb-5">
					<h2 class="section-title" data-v-allprojects-section_title>All Projects</h2>
					<!-- <p class="section-subtitle" data-v-allprojects-section_subtitle>
						Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
					</p> -->
				</div>
			</div>

			<div class="section-body">
				<div class="row project-list-row th-projects-list pt-100">

					<div class="col-12 col-sm-6 col-md-4 project-item project-list-gap project-list-item d-flex flex-column gap-17">
						<div class="list-img position-relative">
							<a href="/projects" class="hover position-absolute top-left-10" target="_blank" style="color: #fff; font-size: 1.5rem;"
								data-v-allprojectsitem-edit-link>
								<i class="fa-solid fa-pen-circle"></i>
							</a>
							<div class="img-container">
								<a href="/projects" data-v-allprojectsitem-slug class="hover">
									<img src="/img/projects/p-chwyla.png" alt="" class="w-100" data-v-allprojectsitem-image/>
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer th-card-footer d-flex flex-column justify-content-between gap-13"
							style="flex: 1">
							<div>
								<div class="th-label font-weight-600" data-v-allprojectsitem-label>build</div>
								<a href="/projects" data-v-allprojectsitem-slug class="hover">
									<h3 class="font-weight-600 pt-2" data-v-allprojectsitem-title>Krost's Sydney Office
										Update With 3d Tour</h3>
								</a>
								<p class="font-weight-400" data-v-allprojectsitem-description>Lorem ipsum dolor sit amet
									consectetur.</p>
							</div>
							<div>
								<a href="project-details.html" data-v-allprojectsitem-slug class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text th-line-height pr-5" data-v-allprojectsitem-link_text>Read
											More</div>
										<!-- <div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div> -->
									</div>
								</a>
							</div>
						</div>

					</div>

					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-fiorelli.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Total Fitouts</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Fiorelli packing</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-berry.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Merit Interiors</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Berry Street</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-artifex.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Amicus</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Artifex</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-arts-centre.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Doot descriptionign </div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Arts Centre Melbourne</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-452-johnston.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Gray Puksand</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">452 Johnston st</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-edquifax.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Gapcomm</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Equifax</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-651-vic.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">The Stem Group </div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">651 victoria st</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-651-vic.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">The Stem Group</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">651 victoria</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-hyundai.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Apex Interiors</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Hyundai Office: Stage 2</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-mackillop.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Apex Interiors</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">mackillop family service</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
					<div
						class="col-12 col-sm-6 col-md-4 mb-80 project-item project-list-gap project-list-item d-flex flex-column">
						<div class="list-img position-relative">
							<div class="img-container">
								<a href="/project.project-detail.html" class="hover">
									<img src="/img/projects/p-edquifax.png" alt="" class="w-100" />
								</a>
							</div>
							<div class="add-to-pinboard position-absolute top-right-30">
								<i class="fa-solid fa-plus"></i>
							</div>
						</div>

						<div class="card-footer d-flex flex-column justify-content-between" style="flex: 1">
							<div>
								<div class="th-label">Gapcomm</div>
								<a href="/project.project-detail.html" class="hover">
									<h6 class="font-weight-400 mt-20">Equifax</h6>
								</a>
								<p class="font-weight-400">Lorem ipsum dolor sit amet consectetur.</p>
							</div>
							<div>
								<a href="/project.project-detail.html" class="hover">
									<div class="link th-read-more-btn">
										<div class="link-text pr-5">Read More</div>
										<div class="th-link-icon-btn">
											<i class="fa-regular fa-arrow-up degree-60"></i>
										</div>
									</div>
								</a>
							</div>
						</div>

					</div>
				</div>

				<div class="row justify-content-center pt-80 ">
					<div class="col-auto pt-100" style="display:none;">
						<p id="total-projects-count">0</p>
						<p id="current-page">1</p>
						<p id="per-page">21</p>
					</div>
					<div class="col-auto">
						<button class="btn th-btn-gray load-more" id="load_more_button">Load More</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!--======== End project all secton ========-->

<!--============================== vue js section ==============================-->
  <!-- javascript file: src/themes/landing/src/assets/js/showroom-interactive-tour.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuex@3.6.2/dist/vuex.min.js"></script>

  <style>
    #th-project-app {
      animation: slideDownProjectApp 0.5s ease;
    }

    @keyframes slideDownProjectApp {
      from {
        opacity: 0;
        transform: translateY(-40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>

  <script type="module">
    document.addEventListener("DOMContentLoaded", function () {
      const loadMoreBtn = document.getElementById("load_more_button");
      
      loadMoreBtn.addEventListener("click", async function () {
        // Disable button during load
        loadMoreBtn.disabled = true;
        loadMoreBtn.textContent = 'Loading...';
        
        try {
          // Check if the app container already exists
          let appContainer = document.getElementById('th-project-app');
          if (!appContainer) {
            appContainer = document.createElement('div');
            appContainer.id = 'th-project-app';
            appContainer.className = 'row';
            
            // Insert the container before the button row
            const buttonRow = this.closest('.row');
            buttonRow.before(appContainer);
          }
          
          await initializeVueApp(appContainer);
          
          // Re-enable button
          loadMoreBtn.disabled = false;
          loadMoreBtn.textContent = 'Load More';
        } catch (error) {
          console.error('Error loading more posts:', error);
          loadMoreBtn.disabled = false;
          loadMoreBtn.textContent = 'Load More';
          alert('Failed to load posts. Please try again.');
        }
      });

      // Function to initialize Vue app with dynamic content
      async function initializeVueApp(container) {
        try {
          // Import the Vue app
          const { default: projectApp } = await import('/js/vue/projectlist.js');
          
          // Load more posts (this will dispatch action and render component if needed)
          const response = await projectApp.loadMoreProjectList(container);
          
          if (response.error) {
            console.error('Error from projectApp:', response.error);
          }
        } catch (error) {
          console.error('Error initializing Vue project app:', error);
          container.innerHTML = '<div class="alert alert-danger">Error loading project posts</div>';
          throw error;
        }
      }
    });
  </script>

  <script src="/js/vue/projectlist.js" type="module"></script>
  <!--============================== End vue js section ==============================-->