<div class="offcanvas offcanvas-end" tabindex="-1" id="search_offcanvasRight" aria-labelledby="search_offcanvasRightLabelLabel" >
    <!-- <div id="searchbar-app"> -->
        <div class="offcanvas-body d-none d-lg-block" id="searchbar-app">
        </div>

    <!-- ======================== mobile searchbar ======================== -->
     <div class="offcanvas-wrapper mobile-searchbar d-lg-none">
        <div class="offcanvas-header header-upper d-flex align-items-center justify-content-between">
            <h3 id="search_offcanvasRightLabelLabel">Search</h3>
            <i class="fa-solid fa-xmark" data-bs-dismiss="offcanvas" aria-label="Close"></i>
        </div>
        <div class="offcanvas-body" id="searchbar-app-mobile">
        </div>
    </div>
  </div>
<!-- ============================== end vue app integration ============================== -->


<style>
    .th-mouse-hover {
        &:hover {
            color: #0a0a14!important;
            cursor: pointer;
            font-weight: 600;
        }
    }
</style>