  <!--============================== Hero Area ==============================-->
  <section data-v-component-herohome class="th-hero-wrapper th-hero th-hero-transparent gr-bg4 breadcrumb_class" id="hero" data-bg-src="/img/bg/home/hero_home.jpg" data-v-herohome-hero_image>
    <div class="container th-container">
      <div class="row">
        <div class="col-md-12">

        </div>
      </div>
      <div class="row">
        <div class="col-xl-7">
          <div class="th-hero-container gr-bg4">
            <div class="th-hero-style">
              <h1 class="th-hero-title" data-v-herohome-hero_title>
                 Sydney Showroom
              </h1>
              <span class="th-hero-subtitle" data-v-herohome-hero_subtitle>Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.</span>

              <div class="th-hero-wrapp" data-v-herohome-hero_button_group>
                <div class="button position-relative pb-3" data-v-herohome-button>
                  <a href="contact.html" class="th-btn text-capitalize" data-v-herohome-hero_button_link> 
                    <span class="mr-5" data-v-herohome-hero_button_label>
                      Visit Our Showroom
                    </span>
                    <i data-v-herohome-hero_button_icon class="fa-regular fa-arrow-up degree-60"></i>
                  </a>
                </div>

                <div class="button position-relative">
                  <a href="contact.html" class="th-btn-outline text-capitalize" data-v-herohome-hero_button_link>
                    <span class="mr-5" data-v-herohome-hero_button_label_outline>
                      Contact Sales

                    </span>
                    <i class="fa-regular fa-arrow-up degree-60"></i>
                  </a>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5">
          <div class="th-hero-img"></div>
        </div>
      </div>
    </div>
  </section>
  <!--======== End Hero Section ========-->