<!-- 
@Company: SA Technology
@Title: Showroom Interactive Tour Section
@Description: Interactive Tour Section for Sydney Showroom
@Developer: abdullah
@Date: 02-10-2025
-->
<section id="th-showroom-interactive-tour-section" data-v-component-showroominteractivetoursection>
  <!-- ================== Interactive Tour Section ================== -->
  <div id="th-showroom-slug" data-v-section-tour-showroom-slug style="display: none;" hidden>Sydney</div>
  <div class="th-interactive-tour">
    <div class="container-fluid">
      <h2 class="th-interactive-tour-title" data-v-section-tour-title="">
        Explore the Sydney Showroom
      </h2>
      <!-- <div class="th-interactive-tour-map px-0" style="position: relative;"> -->
        <!-- <img
          src="/media/showrooms/overview-image/sydney-showroom-layout.jpg"
          usemap="#officeMap"
          alt="Office Layout"
          id="office-layout"
          class="w-100"
        /> -->

       
        <!-- <map name="officeMap"> -->
          <!--- Using data-percent-coords with percentages: left%, top%, right%, bottom% -->
          <!-- <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Collaborative Hub"
            data-region-id="6"
            data-percent-coords="2.15,2.20,8.26,13.15"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="The Booth"
            data-region-id="5"
            data-percent-coords="2.15,14.50,8.10,25.50"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="The Home Suite"
            data-region-id="4"
            data-percent-coords="2.06,27.05,8.26,43.20"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="The Hub"
            data-region-id="3"
            data-percent-coords="2.15,44.90,8.26,60.50"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="The Arena"
            data-region-id="2"
            data-percent-coords="2.06,62.00,8.26,78.00"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="The Loft"
            data-region-id="1"
            data-percent-coords="2.06,79.50,8.26,95.37"
          />

          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Executive Suite"
            data-region-id="7"
            data-percent-coords="11.85,2.10,18.35,26.00"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Office Room Three"
            data-region-id="office-room-2"
            data-percent-coords="18.75,2.10,25.20,26.00"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Office Room Three"
            data-region-id="office-room-3"
            data-percent-coords="25.75,2.15,32.25,26.00"
          />

          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Office Desk Small"
            data-region-id="office-desk-small"
            data-percent-coords="10.45,31.80,27.00,42.80"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Office Desk Big"
            data-region-id="office-desk-big"
            data-percent-coords="10.45,47.30,27.00,84.30"
          />

          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Office Table Big"
            data-region-id="office-table-big"
            data-percent-coords="28.05,31.50,30.72,46.00"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Office Table Small"
            data-region-id="office-table-small"
            data-percent-coords="29.25,58.45,32.30,73.00"
          /> -->

          <!-- furniture room topbar -->
          <!-- <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Furniture One"
            data-region-id="furniture-one"
            data-percent-coords="34.50,01.80,46.70,22.85"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Furniture Two"
            data-region-id="furniture-two"
            data-percent-coords="47.30,01.80,55.80,31.15"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Furniture Three"
            data-region-id="furniture-three"
            data-percent-coords="56.35,01.80,64.00,31.15"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Furniture Four"
            data-region-id="furniture-four"
            data-percent-coords="64.20,01.80,74.80,31.15"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Furniture Five"
            data-region-id="furniture-five"
            data-percent-coords="75.35,01.80,84.30,26.15"
          /> -->

          <!-- furniture room middle -->
          <!-- <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Small One"
            data-region-id="midddle-small-one"
            data-percent-coords="33.77,34.80,36.70,53.40"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Small Two"
            data-region-id="midddle-small-two"
            data-percent-coords="38.35,33.15,42.25,54.10"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Small Three"
            data-region-id="midddle-small-three"
            data-percent-coords="42.85,33.15,46.25,54.10"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Small Four"
            data-region-id="midddle-small-four"
            data-percent-coords="37.50,55.50,42.25,79.50"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Small Five"
            data-region-id="midddle-small-five"
            data-percent-coords="42.60,55.50,46.70,66.70"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Small Six"
            data-region-id="midddle-small-six"
            data-percent-coords="42.50,68.00,47.50,79.40"
          /> -->

          <!-- big  -->
          <!-- <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Furniture One"
            data-region-id="midddle-furniture-one"
            data-percent-coords="47.00,33.10,55.30,60.40"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Furniture Two"
            data-region-id="midddle-furniture-two"
            data-percent-coords="55.80,32.70,61.60,60.90"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Furniture Three"
            data-region-id="midddle-furniture-three"
            data-percent-coords="62.10,33.00,67.60,60.90"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Furniture Four"
            data-region-id="midddle-furniture-four"
            data-percent-coords="48.10,62.20,55.70,83.40"
          />
          <area
          shape="rect"
          coords="0,0,0,0"
          href="#"
          alt="Middle Furniture Five"
          data-region-id="midddle-furniture-five"
          data-percent-coords="56.10,62.40,67.50,70.60"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Furniture Six"
            data-region-id="midddle-furniture-six"
            data-percent-coords="56.70,72.40,67.50,81.30"
          />

          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Right One"
            data-region-id="midddle-right-one"
            data-percent-coords="68.40,37.40,74.70,49.30"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Right Two"
            data-region-id="midddle-right-two"
            data-percent-coords="75.30,27.80,84.30,43.40"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Right Three"
            data-region-id="midddle-right-three"
            data-percent-coords="78.10,46.30,84.50,82.55"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Right Four"
            data-region-id="midddle-right-four"
            data-percent-coords="75.10,47.15,77.70,67.10"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Right Five"
            data-region-id="midddle-right-ive"
            data-percent-coords="68.60,50.60,74.40,66.20"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Right Six"
            data-region-id="midddle-right-six"
            data-percent-coords="68.80,68.20,77.00,79.53"
          /> -->

          <!-- bottom  -->
          <!-- <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Bottom One"
            data-region-id="midddle-bottom-one"
            data-percent-coords="34.00,85.00,39.10,98.66"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Bottom Two"
            data-region-id="midddle-bottom-two"
            data-percent-coords="39.55,84.70,49.55,97.80"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Bottom Three"
            data-region-id="midddle-bottom-three"
            data-percent-coords="50.10,84.90,57.80,97.15"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Bottom Four"
            data-region-id="midddle-bottom-four"
            data-percent-coords="58.50,83.40,64.55,98.65"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Bottom Five"
            data-region-id="midddle-bottom-five"
            data-percent-coords="64.80,83.40,75.00,98.80"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Middle Bottom Six"
            data-region-id="midddle-bottom-six"
            data-percent-coords="75.45,83.70,84.30,98.40"
          /> -->

          <!-- Right Room  -->
          <!-- <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Room Right One"
            data-region-id="room-right-one"
            data-percent-coords="85.10,2.18,95.80,18.40"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Room Right Two"
            data-region-id="room-right-two"
            data-percent-coords="84.82,21.81,91.12,51.17"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Room Right Three"
            data-region-id="room-right-three"
            data-percent-coords="91.65,21.98,96.59,51.00"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Room Right Four"
            data-region-id="room-right-four"
            data-percent-coords="93.59,52.68,96.59,76.68"
          />
          <area
            shape="rect"
            coords="0,0,0,0"
            href="#"
            alt="Room Right Five"
            data-region-id="room-right-five"
            data-percent-coords="85.24,53.02,88.87,59.06"
          /> -->
        <!-- </map> -->


      <!-- </div> -->
    </div>
  </div>
  <!--======== End Hero Section ========-->

  <!-- ========== Interactive Tour Grid ========== -->
  <div class="th-interactive-tour-grid th-section-padding">
    <div class="container th-container" id="th-app-container" data-v-section-tour-items>

      <div class="row g-4 pb-30" data-v-section-tour-row>
        <!-- Start Card Looping -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 th-showroom-item-card" data-v-section-item>
          <div class="th-tour-card h-100 d-flex flex-column">
            <div class="th-tour-card-image position-relative">
              <img src="/img/showroom/collaborative-Hub.png" alt="collaborative Hub" class="img-fluid w-100"
                data-v-section-item-card-image="" />
              <!-- <span class="th-tour-card-icon position-absolute top-0 end-0 m-2" data-v-section-item-icon="">+</span> -->
              <div class="th-tour-card-label position-absolute bottom-0 start-0 w-100 p-25"
                data-v-section-item-label="">
                Collaborative Hub T
              </div>
            </div>
          </div>
        </div>

        <!-- End Looping -->
        <div class="col-lg-3 col-md-6 col-sm-12 th-showroom-item-card" data-v-section-item>
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/work-hub.png" alt="Work Hub" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Work Hub</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 th-showroom-item-card" @click="greet('Design Library clicked')"
          data-v-section-item>
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/design-library.png" alt="Design Library" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Design Library</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12 th-showroom-item-card" @click="greet('Adaptive Solutions clicked')"
          data-v-section-item>
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/adaptive-solutions.png" alt="Adaptive Solutions" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Adaptive Solutions</div>
            </div>
          </div>
        </div>
      </div>

      

      <div class="row g-4 pb-25" data-v-section-tour-row>
        <div class="col-lg-3 col-md-4 col-sm-12 th-showroom-item-card" data-v-section-tour-item @click="greet">
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/chair-display.png" alt="chair display" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Chair Display</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 th-showroom-item-card" data-v-section-tour-item @click="greet">
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/conference.png" alt="conference" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Conference</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 th-showroom-item-card" data-v-section-tour-item @click="greet">
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/hospitality-hub.png" alt="hospitality hub" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Hospitality Hub</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-12 th-showroom-item-card" data-v-section-tour-item @click="greet">
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/cafe.png" alt="cafe" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Cafe</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row g-4" data-v-section-tour-row>
        <div class="col-lg-3 col-md-4 col-sm-12 th-showroom-item-card" @click="greet">
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/behavioral-health-display-wall.png" alt="Behavioral Health Display Wall" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">
                Behavioral Health Display Wall
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 th-showroom-item-card" @click="greet">
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/exam-spaces-room-1.png" alt="Exam Spaces Room 1" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Exam Spaces Room 1</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 th-showroom-item-card" @click="greet">
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/exam-spaces-room-2.png" alt="Exam Spaces Room 2" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">Exam Spaces Room 2</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 th-showroom-item-card" @click="greet">
          <div class="th-tour-card">
            <div class="th-tour-card-image">
              <img src="/img/showroom/In-between-spaces.png" alt="In-between Spaces" />
              <span class="th-tour-card-icon">+</span>
              <div class="th-tour-card-label">In-between Spaces</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>