<!-- <section id="about-who-you" class="@@class">
    <div class="container th-container">
      @@include('./header-section.html',{ 
            "sectionTitle":"@@title",       
            "sectionClass":"text-center",
            'showHeader':'@@showHeader'
        })
      <div class="section-body">
        <div class="row">
          <div class="col-md-12">
            <div class="bg-black">
              <div class="th-video-player-logo  text-center text-white">
                <img src="/img/logo_white.png" alt="" style="width: 155px">
              </div>
            </div>
            @@include('../components/video-gallery.html', {
              "id": "@@galaryId",
              "variable": "@@galaryVariable",
              "jsonData": "@@jsonData"
            })
          
          </div>
        </div>
      </div>
    </div>
</section> -->

<!--============================== Categories About video Player ==============================-->
<section id="about-who-you" class="bg-gray" data-v-component-videogallerywhoweare>
  <div class="container th-container">
    <div class="th-section-header @@sectionHeaderClass" style="display: block">
      <div class="th-section-header-wrapper text-center">
        <h2 class="  th-section-title "> Who We Are? </h2>
        <div class="th-section-subtitle">

        </div>
      </div>

    </div>

    <div class="section-body">
      <div class="row">
        <div class="col-md-12">
          <div class="bg-black">
            <div class="th-video-player-logo  text-center text-white">
              <img src="/img/logo_white.png" alt="" style="width: 155px">
            </div>
          </div>
          <style>
            .inline-video-gallery-container {
              width: 100%;
              aspect-ratio: 16 / 9;
              position: relative;
            }
          </style>
          <div id="whoWeAre" class="inline-video-gallery-container">
            <div class="inline-video-gallery-thumbnails-left" style="z-index: 1000;"></div>
          </div>



        </div>
      </div>
    </div>
  </div>
</section>
<!--======== End Categories About video Player ========-->