<div class="bg-image"></div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuex@3/dist/vuex.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
<script src="https://unpkg.com/vuedraggable@2.20.0/dist/vuedraggable.umd.min.js"></script>

<script type="text/javascript" src="/js/lib/player.min.js?v=1.0.1" defer></script>
<script type="text/javascript" src="/js/lib/lightgallery.min.js?v=1.0.1"></script>
<script type="text/javascript" src="/js/lib/lg-thumbnail.min.js?v=1.0.1" defer></script>
<script type="text/javascript" src="/js/lib/lg-zoom.min.js?v=1.0.1" defer></script>
<script type="text/javascript" src="/js/lib/lg-autoplay.min.js" defer></script>
<script type="text/javascript" src="/js/lib/lg-fullscreen.min.js?v=1.0.1" defer></script>
<script type="text/javascript" src="/js/lib/lg-share.min.js?v=1.0.1" defer></script>
<script type="text/javascript" src="/js/lib/lg-rotate.min.js?v=1.0.1" defer></script>
<script type="text/javascript" src="/js/lib/lg-video.min.js?v=1.0.1" defer></script>
<script type="text/javascript" src="/js/lib/lg-pager.min.js?v=1.0.1" defer></script>
<script type="text/javascript" src="/js/lib/choices.min.js?v=1.0.1" defer></script>

<script src="/js/vue-universal-app.js" type="module"></script>
<script src="/js/vue-showroom-app.js" type="module"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/lib/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/lib/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/lib/choices.min.js"></script>
<script type="text/javascript" src="/js/lib/flatpickr-4.6.13.min.js"></script>
<script type="text/javascript" src="/js/bundle.js"></script>