<section class="th-footer bg-gray" title="footer" data-v-save-global="index.html,.footer-1">
  <div class="d-flex justify-content-end pr-40 align-items-center" data-v-footer-edit-link>
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit</a>
  </div>
  <div class="container th-container" data-v-slug="main-footer">
    <div class="row component-footer" data-v-component-footer>
      <div class="col-lg-6 border-right-dark border-right-md-0">
        <h4>Contact Us</h4>
        <div class="d-grid grid-col-2">
          <div class="d-flex align-items-center text-weight-600 pt-10">
            <i class="fa-solid fa-envelope pr-5"></i>
            <p data-v-footer-contact_email>sales@krost.com.au</p>
          </div>
          <div class="d-flex align-items-center text-weight-600 pt-10">
            <i class="fa-solid fa-phone pr-5"></i>
            <p data-v-footer-contact_phone>1800 1KROST</p>
          </div>

          <div class="th-showroom-address">
            <p class="text-weight-600" data-v-footer-sydney_office_name>Sydney Office</p>
            <p data-v-footer-sydney_office_address>33 Ricketty Street</p>
            <!-- <p data-v-footer-sydney_office_address_2>Mascot NSW, 2020</p> -->
            <div class="d-flex align-items-center text-weight-600 pt-10">
              <i class="fa-solid fa-phone pr-5"></i>
              <p data-v-footer-sydney_office_phone>02 9557 3055</p>
            </div>
            <p data-v-footer-sydney_office_hours>Open weekdays, 8am to 5pm</p>
          </div>
          <div class="th-showroom-address">
            <p class="text-weight-600" data-v-footer-melbourne_office_name>Melbourne Office</p>
            <p data-v-footer-melbourne_office_address>17-643 spencer st</p>
            <!-- <p data-v-footer-melbourne_office_address_2>West Melbourne VIC, 3003</p> -->
            <div class="d-flex align-items-center text-weight-600 pt-10">
              <i class="fa-solid fa-phone pr-5"></i>
              <p data-v-footer-melbourne_office_phone>03 9682 8280</p>
            </div>
            <p data-v-footer-melbourne_office_hours>open weekdays, 9am to 5pm</p>
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="th-subscription pl-50 pl-md-0">
          <div class="th-subscription-heading">
            <div class="th-subscription-icon">
              <i class="fa-thin fa-envelope"></i>
            </div>
            <div class="th-subscription-details">
              <div class="sub-title m-0" data-v-footer-subscription_title>Get krost product updates</div>
              <div class="description" data-v-footer-subscription_description>Receive the latest news and updates from Krost</div>
            </div>
          </div>
          <div class="th-subscription-form">
            <label class="pr-15">
              <input type="text" placeholder="Your Email Address Please" data-v-footer-subscription_placeholder />
            </label>
            <div class="link">
              <div class="link-text pr-5" data-v-footer-subscription_button_text>Subscribe Now</div>
              <div class="link-icon">
                <i class="fa-regular fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="th-footer-navigation">
          <ul>

            <li class="pl-0">
              <span class="link pl-0">
                <a href="#" data-v-footer-footer_navigation_our_store> Our Store</a>
              </span>
            </li>
            <li class="class">
              <span class="link class">
                <a href="#" data-v-footer-footer_navigation_visit_us> Visit Us</a>
              </span>
            </li>
            <li class="border-right-0">
              <span class="link border-right-0">
                <a href="#" data-v-footer-footer_navigation_contact_us> Contact Us</a>
              </span>
            </li>

          </ul>
        </div>

        <div class="th-footer-follow pt-30">
          <p class="text-weight-600">Follow Us:</p>
          <div class="social-media">
            <ul class="social-media-list">
              <li class="social-media-item">
                <span class="link">
                  <a href="https://www.linkedin.com/company/krost-furniture/" data-v-url>
                    <i class="fa-brands fa-linkedin-in" data-v-icon></i>
                  </a>
                </span>
              </li>
              <li class="social-media-item">
                <span class="link">
                  <a href="https://www.facebook.com/krostfurniture/">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                </span>
              </li>
              <li class="social-media-item">
                <span class="link">
                  <a href="https://www.instagram.com/krostfurniture/">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </span>
              </li>
              <li class="social-media-item">
                <span class="link">
                  <a href="https://www.pinterest.com/krostfurniture/">
                    <i class="fa-brands fa-pinterest-p"></i>
                  </a>
                </span>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="th-footer-copyright mt-20">
    <div class="container th-container">
      <div class="d-flex flex-column flex-md-row">
        <div class="text-muted flex-grow-1">
          <a class="btn-link text-muted" href="content/page.html" data-v-footer-copyright_terms_url>Terms and conditions</a> |
          <a class="btn-link text-muted" href="content/page.html" data-v-footer-copyright_privacy_url>Privacy Policy</a>
        </div>
        <div class="text-muted">
          &copy; <span data-v-footer-copyright_year>2025</span>
          <span data-v-footer-copyright_company_name>KROST</span>. <span data-v-footer-copyright_powered_by_text>Powered by</span>
          <a href="https://krost.com.au" class="btn-link text-muted" target="_blank" data-v-footer-copyright_powered_by_url>KROST</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============================== End Footer ==============================-->