<!--========= Start Project Detail feature sidebar section ============-->

<section id="th-product-slider" class="gr-bg8" data-v-component-featuredproductslider>
    <div class="top-40 top-right-30 position-absolute" data-v-component-link>
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row">
        <div class="th-section-header">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="  th-section-title " data-v-featuredproductslider-section_title> Featured Products </h2>
            <div class="th-section-subtitle" style="font-size:  20px !important " data-v-featuredproductslider-section_subtitle>
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>

          <div class="right">
            <div class="th-section-header-link">
              <span class="th-view-all-btn View All ProductsClass" data-v-featuredproductslider-section_link_text>View All Products</span>
              <span class="th-section-header-link-btn">
                <i class="fa-regular fa-arrow-up degree-60"></i>
              </span>
            </div>
          </div>

        </div>


        <div class="th-section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper th-featured-products-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="th-item-product">
                      <div class="th-img-container">
                        <img data-v-featuredproductslideritem-image src="/img/category-seating/Archi.png" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <!-- <div class="label">Build</div> -->
                        <h3 class="th-title mt-20" data-v-featuredproductslideritem-name>Archi </h3>
                        <div class="th-tag-name">
                          <div class="th-tag" data-v-productitemtag-name>AFRDI Certified</div>
                          <div class="th-tag">OBP Certified</div>
                        </div>
                        <div class="th-item-finish-circle">

                          <div class="th-circle black-fabric" data-v-productitemfinish-name data-v-productitemfinish-class>Black Fabric</div>
                          <div class="th-circle black-premium">Black Premium Polyurethane</div>
                          <div class="th-circle mocha-premium">Mocha Premium Polyurethane</div>
                          <div class="th-circle white" data-bg-src="/img/finishes/finish-2.jpg">Cream Premium Polyurethane</div>

                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-product">
                      <div class="th-img-container @@itemProductClass">
                        <img src="/img/category-seating/Miro.png" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <!-- <div class="label">Build</div> -->
                        <h3 class="th-title mt-20">Miro </h3>
                        <div class="th-tag-name">

                          <div class="th-tag">AFRDI Certified</div>
                          <div class="th-tag">OBP Certified</div>
                          <div class="th-tag">Some Tag Name Here</div>
                          <div class="th-tag">Tag Name Here</div>
                          <div class="th-tag">Tag Name Here As Well</div>


                        </div>
                        <div class="th-item-finish-circle">


                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-product">
                      <div class="th-img-container @@itemProductClass">
                        <img src="/img/category-seating/Miro S.png" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <!-- <div class="label">Build</div> -->
                        <h3 class="th-title mt-20">Miro S </h3>
                        <div class="th-tag-name">

                          <div class="th-tag">AFRDI Certified</div>
                          <div class="th-tag">OBP Certified</div>
                          <div class="th-tag">Some Tag Name Here</div>
                          <div class="th-tag">Tag Name Here</div>
                          <div class="th-tag">Tag Name Here As Well</div>


                        </div>
                        <div class="th-item-finish-circle">


                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="th-item-product">
                      <div class="th-img-container @@itemProductClass">
                        <img src="/img/category-seating/Kove.png" />
                      </div>
                      <div class="th-add-to-pinboard position-absolute top-right-30 ">
                        <i class="fa-solid fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <!-- <div class="label">Build</div> -->
                        <h3 class="th-title mt-20">Kove </h3>
                        <div class="th-tag-name">

                          <div class="th-tag">AFRDI Certified</div>
                          <div class="th-tag">OBP Certified</div>
                          <div class="th-tag">Some Tag Name Here</div>
                          <div class="th-tag">Tag Name Here</div>
                          <div class="th-tag">Tag Name Here As Well</div>
                        </div>
                        <div class="th-item-finish-circle">


                        </div>

                      </div>
                    </div>
                  </div>

                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--======== End Project Detail feature sidebar section ========-->