 <!--========= Start Project Detail meterial section ============-->
<section id="th-featured-material" class="featured-material position-relative" data-v-component-featuredmaterialslider>
  <div class="top-40 top-right-30 position-absolute" data-v-component-link>
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row">
        <div class="th-section-header">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="  th-section-title " data-v-featuredmaterialslider-section_title> Featured Materials </h2>
            <div class="th-section-subtitle" style="font-size:  20px !important " data-v-featuredmaterialslider-section_subtitle>
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>

          <div class="right">
            <div class="th-section-header-link">
              <a href="#" data-v-featuredmaterialslider-section_link class="th-section-header-link-text View All ProductsClass" data-v-featuredmaterialslider-section_link_text>View All Materials</a>
              <span class="th-section-header-link-btn">
                <i class="fa-regular fa-arrow-up degree-60"></i>
              </span>
            </div>
          </div>

        </div>

        <div class="section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper th-featured-material-slider">
                <div class="swiper-wrapper featured-material-list">
                  <div class="swiper-slide featured-material-item">
                    <img data-v-featuredmaterialslideritem-image src="/img/project-detail/material 1.png" />
                    <div class="slider-footer">
                      <p data-v-featuredmaterialslideritem-category>Finish</p>
                      <h3 class="title" data-v-featuredmaterialslideritem-name>ABBEY</h3>
                     
                    </div>
                  </div>
                  <div class="swiper-slide featured-material-item">
                    <img src="/img/project-detail/material 2.png" />
                    <div class="slider-footer">
                      <p>Textile</p>
                      <h3 class="title">Access Mesh</h3>
                      <span>Lorem Ipsum</span>
                    </div>
                  </div>
                  <div class="swiper-slide featured-material-item">
                    <img src="/img/project-detail/material 3.png" />
                    <div class="slider-footer">
                      <p>Textile</p>
                      <h3 class="title">Afghan Seating</h3>
                      <span>Lorem Ipsum</span>
                    </div>
                  </div>
                  <div class="swiper-slide featured-material-item">
                    <img src="/img/project-detail/material 4.png" />
                    <div class="slider-footer">
                      <p>Finish</p>
                      <h3 class="title">Amethyst</h3>
                      <span>Lorem Ipsum</span>
                    </div>
                  </div>
                  <div class="swiper-slide featured-material-item">
                    <img src="/img/project-detail/material 5.png" />
                    <div class="slider-footer">
                      <p>Finish</p>
                      <h3 class="title">Amethyst</h3>
                      <span>Lorem Ipsum</span>
                    </div>
                  </div>
                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--======== End Project Detail meterial section ========-->