<!--========= Start Project Detail Berief section ============-->
<section id="project-brief" class="th-mb-8 position-relative th-project-brief-section-py"
  data-v-component-projectdetails>
  <div class="top-40 top-right-30 position-absolute th-component-edit-link" data-v-projectdetails-component-link>
    <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit</a>
  </div>
  <div class="container th-container th-project-customer-container">
    <div class="row">
      <div class="">
        <div class="th-section-header-wrapper">
          <h2 class="th-section-title" data-v-projectdetails-section_title>"Project Details"</h2>
          <div class="th-section-subtitle th-title-mb-25" data-v-projectdetails-description
            style="word-wrap: break-word;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula libero eget magna fermentum, eget
              feugiat odio fermentum. Fusce euismod nulla sit amet vestibulum venenatis. Proin vel lacus at nisi
              elementum ullamcorper. Nam nec aliquam elit. Mauris viverra augue ac eros venenatis, a scelerisque ipsum
              luctus. Vivamus euismod sapien sit amet sapien efficitur, vel convallis sem molestie.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--======== End Project Detail Berief section ========-->
<style>
  @media (max-width: 767px) {
    .th-project-customer-container {
      padding: 0 80px;
    }
  }
</style>