<!--========= Start Project Detail Penetrating section ============-->
<section id="lorem-penetrating" class="th-mb-8 position-relative" data-v-component-projectdetailpenetrating>
  <div class="top-40 top-right-30 position-absolute th-component-edit-link" data-v-projectdetailpenetrating-component-link>
    <i class="fa-solid fa-pencil th-pr-5" style="font-size: .8rem"></i>
    <a href="http://localhost:5173/components" target="_blank">Edit</a>
  </div>
  <div class="container th-container">
    <div class="row">
      <div class="col-md-12 th-upper-text th-pb-60">
        <span class="" data-v-projectdetailpenetrating-main_description_one style="word-wrap: break-word;">Sed nec odio
          magna. Aliquam non libero ultricies, efficitur nulla id, ultricies urna. Nullam at placerat justo, non
          fermentum magna. Nullam nec libero odio. Sed eleifend euismod tellus, ut fermentum libero pellentesque a. Sed
          eget nulla et mi consectetur vestibulum. Phasellus at leo eu orci vestibulum tincidunt. Vestibulum fringilla
          mi id felis varius ultricies. Donec nec suscipit nulla. Vivamus vitae diam purus.</span>
      </div>

      <div class="col-md-12">
        <div class="th-grid">
          <div class="item-1">
            <img data-v-projectdetailpenetrating-main_image_one src="/img/project-detail/main-banner-resize.png" alt=""
              class="first-img" loading="lazy">
          </div>
          <div class="item-2">
            <div class="th-main-des">
              <!-- <h2 class="pt-40" data-v-projectdetailpenetrating-title>Lorem Ipsum</h2> -->
              <div class="th-pt-40" data-v-projectdetailpenetrating-main_description_two style="word-wrap: break-word;">
                <span tyle="word-break: break-word;">Pellentesque sodales lacinia diam, vel lacinia lectus ultrices id.
                  Maecenas viverra justo nec mauris pulvinar dignissim. Proin quis arcu eu velit vehicula fermentum. Ut
                  pharetra, nunc sed fringilla fermentum, nulla eros rhoncus felis, ac varius ligula quam nec nisl.
                  Proin ac tellus sed dui ultrices tempus. Duis ut arcu et diam lacinia cursus nec non justo.
                  <br>
                  <br>
                  <span style="word-break: break-word;">Aliquam malesuada tortor ut dolor suscipit, id convallis ipsum
                    lacinia. Curabitur feugiat lectus non sem ullamcorper, nec finibus nulla consequat.</span>
                </span>
              </div>

            </div>
          </div>
          <div class="item-3">
            <img data-v-projectdetailpenetrating-main_image_two src="/img/project-detail/main-banner-2-resize.png"
              alt="" class="second-img" loading="lazy">
          </div>
        </div>
      </div>

      <div class="row th-main-des-three th-pt-25" data-v-projectdetailpenetrating-main_description_three_style>
        <div class="col-md-12">
          <span data-v-projectdetailpenetrating-main_description_three>Sed nec odio magna. Aliquam non libero ultricies,
            efficitur nulla id, ultricies urna. Nullam at placerat justo, non fermentum magna. Nullam nec libero odio.
            Sed eleifend euismod tellus, ut fermentum libero pellentesque a. Sed eget nulla et mi consectetur
            vestibulum. Phasellus at leo eu orci vestibulum tincidunt. Vestibulum fringilla mi id felis varius
            ultricies. Donec nec suscipit nulla. Vivamus vitae diam purus.</span>
        </div>
      </div>

    </div>
  </div>
</section>

<!--======== End Project Detail Penetrating section ========-->