
   <section id="th-product-slider" class="th-section position-relative th-section-py th-mb-80" data-v-component-featuredproductslider>
    <div class="top-40 top-right-30 position-absolute th-component-edit-link" data-v-featuredproductslider-component-link>
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="row">
        <div class="th-section-header">
          <div class="th-section-header-wrapper left flex-1">
            <h2 class="th-section-title th-section-title-mb" data-v-featuredproductslider-section_title> Featured Products </h2>
            <div class="font-size-16 th-section-subtitle-mb" data-v-featuredproductslider-section_subtitle>
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>
          <div class="right">
            <a href="" data-v-featuredproductslider-link_url>
              <div class="th-section-header-link">
                <span class="th-view-all-btn View All ProductsClass" data-v-featuredproductslider-link_text>View All Products</span>
                <span class="th-section-header-link-btn">
                  <i class="fa-regular fa-arrow-up degree-60"></i>
                </span>
              </div>
            </a>
          </div>
        </div>

        <div class="th-section-body">
          <div class="row">
            <div class="col-md-12">
              <div class="swiper th-featured-products-slider th-pb-60">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="th-item-product" data-v-featuredproductslider-item>
                      <div class="th-img-container th-product-image">
                        <a href="#" data-v-featuredproductslideritem-url>
                            <img data-v-featuredproductslideritem-image src="/img/category-seating/Archi.png" alt="Product Image" loading="lazy"/>
                        </a>
                      </div>
                      <div class="th-add-to-pinboard th-pinboard-tooltip position-absolute top-right-30"
                      data-toggle="tooltip"
                      data-placement="top"
                      title=""
                      role="button"
                      tabindex="0"
                      data-bs-original-title="Add to Pinboard"
                      data-original-title="Add to Pinboard" data-id="55" data-model="product" data-v-featuredproductslideritem-add-to-pinboard>
                        <i class="fa-regular fa-plus"></i>
                      </div>
                      <div class="th-item-footer">
                        <a href="#" data-v-featuredproductslideritem-url>
                          <h3 class="th-title th-mt-20 th-title-mb-15 font-22" data-v-featuredproductslideritem-name>Archi </h3>
                        </a>
                        <div class="th-tag-name" data-v-featuredproductslideritem-tags>
                          <div class="th-tag th-tag-p" data-v-featuredproductslideritem-tag>AFRDI Certified</div>
                          <div class="th-tag th-tag-p" data-v-featuredproductslideritem-tag>OBP Certified</div>
                        </div>
                        <div class="th-item-finish-circle d-none" data-v-featuredproductslideritem-finishes>

                          <div class="th-circle black-fabric">Black Fabric</div>
                          <div class="th-circle black-premium">Black Premium Polyurethane</div>
                          <div class="th-circle mocha-premium">Mocha Premium Polyurethane</div>
                          <div class="th-circle white" data-bg-src="/img/finishes/finish-2.jpg">Cream Premium Polyurethane</div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-scrollbar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section>