<!--========= Start Project Detail Berief section ============-->
<section id="photo-gallery" class="bg-gray position-relative th-section-py" data-v-component-projectgallery>
   <div class="top-40 top-right-30 position-absolute th-component-edit-link" data-v-projectgallery-component-link>
      <i class="fa-solid fa-pencil pr-5" style="font-size: .8rem"></i>
      <a href="http://localhost:5173/components" target="_blank">Edit</a>
    </div>
    <div class="container th-container">
      <div class="th-section-header th-section-header-pb-50" style="display: block">
        <div class="th-section-header-wrapper @@sectionClass">
          <h2 class="th-section-title th-section-title-mb"> Gallery </h2>
          <div class="th-section-subtitle th-section-subtitle-mb">

          </div>
        </div>

      </div>

      <div class="section-body">
        <div class="row">
          <div class="col-md-2 col-sm-12 th-main-des-three-px">
            <div class="nav flex-column th-gallery-thumb-container" id="gallery-tabs" role="tablist">
              <button data-v-projectgalleryitem-thumb-class data-v-projectgalleryitem-thumb_id class="th-gallery-thumb active" id="img-1-tab" data-bs-toggle="pill" data-bs-target="#img-1" type="button" role="tab" aria-controls="img-1" aria-selected="active == 'active' ? 'true' : 'false'">
                <img data-v-projectgalleryitem-thumb_image src="/img/blog-detail/gallery-img-1.png" alt="gallery-img-1" loading="lazy">
              </button>
              <!-- <button class="th-gallery-thumb " id="img-2-tab" data-bs-toggle="pill" data-bs-target="#img-2" type="button" role="tab" aria-controls="img-2" aria-selected=" == 'active' ? 'true' : 'false'">
                <img src="/img/blog-detail/gallery-img-2.png" alt="gallery-img-2" loading="lazy">
              </button>
              <button class="th-gallery-thumb " id="img-3-tab" data-bs-toggle="pill" data-bs-target="#img-3" type="button" role="tab" aria-controls="img-3" aria-selected=" == 'active' ? 'true' : 'false'">
                <img src="/img/blog-detail/gallery-img-3.png" alt="gallery-img-3" loading="lazy">
              </button>
              <button class="th-gallery-thumb " id="img-4-tab" data-bs-toggle="pill" data-bs-target="#img-4" type="button" role="tab" aria-controls="img-4" aria-selected=" == 'active' ? 'true' : 'false'">
                <img src="/img/blog-detail/gallery-img-4.png" alt="gallery-img-4" loading="lazy">
              </button>
              <button class="th-gallery-thumb " id="img-5-tab" data-bs-toggle="pill" data-bs-target="#img-5" type="button" role="tab" aria-controls="img-5" aria-selected=" == 'active' ? 'true' : 'false'">
                <img src="/img/blog-detail/gallery-img-5.png" alt="gallery-img-5" loading="lazy">
              </button> -->
            </div>
          </div>

          <div class="col-md-10">
            <div id="gallery-tabs-content" class="tab-content th-gallery-img-container">
              <div data-v-projectgalleryitem-class data-v-projectgalleryitem-tabcontent class="tab-pane fade th-gallery-img active show" id="img-1" role="tabpanel" aria-labelledby="img-1-tab">
                <img data-v-projectgalleryitem-image src="/img/blog-detail/gallery-img-1.png" alt="gallery-img-1" loading="lazy">
              </div>
              <!-- <div data-v-projectgalleryitem-class class="tab-pane fade th-gallery-img " id="img-2" role="tabpanel" aria-labelledby="img-2-tab">
                <img data-v-projectgalleryitem-image src="/img/blog-detail/gallery-img-2.png" alt="gallery-img-2" loading="lazy">
              </div>
              <div class="tab-pane fade th-gallery-img " id="img-3" role="tabpanel" aria-labelledby="img-3-tab">
                <img src="/img/blog-detail/gallery-img-3.png" alt="gallery-img-3" loading="lazy">
              </div>
              <div class="tab-pane fade th-gallery-img " id="img-4" role="tabpanel" aria-labelledby="img-4-tab">
                <img src="/img/blog-detail/gallery-img-4.png" alt="gallery-img-4" loading="lazy">
              </div>
              <div class="tab-pane fade th-gallery-img " id="img-5" role="tabpanel" aria-labelledby="img-5-tab">
                <img src="/img/blog-detail/gallery-img-5.png" alt="gallery-img-5" loading="lazy">
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--======== End Project Detail Berief section ========-->