<!--============================== Featured product ==============================-->
<section id="project-feature-products">
  <div class="container th-container"> 
    <!-- productrelatedproject -->
    <div class="row featured-product" data-v-component-productrelatedproject>
      <div class="col-12">
        <div class="th-section-header sectionHeaderClass" style="display: block">
          <div class="th-section-header-wrapper text-center">
            <h2 class="  th-section-title " data-v-component-productrelatedproject-section_title> Feature Products </h2>
            <div class="th-section-subtitle" data-v-component-productrelatedproject-section_subtitle>
              Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
            </div>
          </div>
        </div>

        <div class="section-body th-masonry-col-2"> 
          <div class="th-masonry-grid th-column-gap-column-gap" data-v-component-productrelatedproject-grid>

            <div class="th-masonry-grid-item grid-col-span-8 " data-v-component-productrelatedprojectitem-class style="transform: translateY(0 px);padding-top:0 px">
              <div class="th-item-img" data-v-component-productrelatedprojectitem-img-wrapper>
                <a href="" data-v-component-productrelatedprojectitem-link>
                  <img src="/img/bg/home/home_fp_1.jpg" alt="Product 1" data-v-component-productrelatedprojectitem-img />
                </a>
              </div>
              <div class="th-add-to-pinboard position-absolute top-right-30"
                data-id=""
                data-model="product"
                data-title="Chwyla"
                data-description="This is the first project description."
                data-image="/img/bg/home/home_feature_project_1.jpg"
                  data-v-component-productrelatedprojectitem-add-to-pinboard>
                <i class="fa-regular fa-plus"></i> 
              </div>
              <div class="th-product-info-wrapper">
                <div class="th-item-info th-mt-15">
                  <h6 class="th-title-17">
                    <div class="th-link">
                     <h6 class="th-title-20 font-weight-700" data-v-component-productrelatedprojectitem-heading> 
                        <a href="" data-v-component-productrelatedprojectitem-link> Chwyla </a>  
                      </h6>
                    </div>

                  </h6>
                  <p class="item-description pt-15" data-v-component-productrelatedprojectitem-des>
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </p>
                  <div class="th-link pt-10">
                    <a class="th-link pt-10" href="product-details.html" data-v-component-productrelatedprojectitem-link target="_blank">
                      <div class="th-link-text pr-5">

                        Read More
                      </div>
                      
                    </a>
                    
                  </div>

                </div>
              </div>
            </div>

            <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(0 px);padding-top:0 px">
              <div class="th-item-img">
                <img src="/img/bg/home/home_fp_2.jpg" alt="Product 1" />
              </div>
              <div class="th-product-info-wrapper">
                <div class="th-item-info th-mt-15">
                  <h6 class="th-title-17">
                    <div class="th-link">
                      <h6 class="th-title-20 font-weight-700"> Kobe </h6>

                      <div class="th-link-icon">
                        <i class="fa-regular fa-arrow-right"></i>
                      </div>

                    </div>

                  </h6>
                  <p class="item-description">
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </p>
                  <div class="th-link pt-10">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="th-masonry-grid-item grid-col-span-5 " style="transform: translateY(0 px);padding-top:0 px">
              <div class="th-item-img">
                <img src="/img/bg/home/home_fp_3.jpg" alt="Product 1" />
              </div>
              <div class="th-product-info-wrapper">
                <div class="th-item-info th-mt-15">
                  <h6 class="th-title-17">
                    <div class="th-link">
                      <h6 class="th-title-20 font-weight-700"> Desks </h6>

                      <div class="th-link-icon">
                        <i class="fa-regular fa-arrow-right"></i>
                      </div>

                    </div>

                  </h6>
                  <p class="item-description">
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </p>
                  <div class="th-link pt-10">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="th-masonry-grid-item grid-col-span-8 " style="transform: translateY(0 px);padding-top:0 px">
              <div class="th-item-img">
                <img src="/img/bg/home/home_fp_4.jpg" alt="Product 1" />
              </div>
              <div class="th-product-info-wrapper">
                <div class="th-item-info th-mt-15">
                  <h6 class="th-title-17">
                    <div class="th-link">
                      <h6 class="th-title-20 font-weight-700"> Sofas </h6>

                      <div class="th-link-icon">
                        <i class="fa-regular fa-arrow-right"></i>
                      </div>

                    </div>

                  </h6>
                  <p class="item-description">
                    Lorem ipsum dolor sit amet consectetur. Scelerisque urna pellentesque.
                  </p>
                  <div class="th-link pt-10">
                    <div class="th-link-text pr-5">

                      Read More
                    </div>
                    <div class="th-link-icon-btn">
                      <i class="fa-regular fa-arrow-up degree-60"></i>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--============================== End Featured product ==============================-->